<fieldset class="nested-fields form-inline" style="border:1px solid #cfcfcf; padding:10px; margin-bottom:10px;">
  <%= f.collection_select :predicate_id, Predicate.where('scope_type = ?', 'Attribute type'), :id, :name %>
  <%= f.text_field :name, placeholder: "field_name" %>
  <%= f.select :field_type, %w[text_field text_area select multi_select check_box radio_buttons] %>
  <label class="checkbox"><%= f.check_box :required %>Required</label>
  <span class="pull-right"><%= link_to_remove_association "remove", f, data: { confirm: 'Are you sure?' } %></span>

  <div class="select-values">
    <%= f.fields_for :select_values do |builder| %>
      <%= render "select_value_fields", :f => builder %>
    <% end %>
    <div class="links" style="margin-top:5px;">
      <%= link_to_add_association "Add value", f, :select_values %>
    </div>
  </div>
</fieldset>