<%= form_for([@institution, @collection], :html => { :class => 'form-horizontal'}) do |f| %>
  <%= f.error_messages %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :shortcut, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :shortcut %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :institution_id, class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :institution_id, Institution.all, :id, :name %>
      <p>Move to a different institution.</p>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <% if @collection.new_record? %>
        <%= link_to 'Abbrechen', institution_collections_path(@institution), :class => 'btn' %>
    <% else %>
      <%= link_to 'Abbrechen', :back, :class => 'btn' %>
    <% end %>
  </div>
<% end %>
