<%= form_for(@institution, :html => { :class => 'custom'}) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :parent_id, 'Belongs to' %>
    <%= f.collection_select :parent_id, Institution.possible_parents(@institution), :id, :name, { include_blank: true } %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <h4 class="subheader">Contact Information</h4>
      <div class="field">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
      </div>
      <div class="field">
        <%= f.label :fax %>
        <%= f.text_field :fax %>
      </div>
      <div class="field">
        <%= f.label :uri %>
        <%= f.text_field :uri %>
      </div>
    
      <h5 class="subheader">Address</h5>
      <div class="field">
        <%= f.label :street %>
        <%= f.text_field :street %>
      </div>
      <div class="field">
        <%= f.label :zip %>
        <%= f.text_field :zip %>
      </div>
      <div class="field">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
      <div class="field">
        <%= f.label :country %>
        <%= f.text_field :country %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'button' %>
    <% if @institution.new_record? %>
      <% if @institution.parent_id %>
        <%= link_to 'Abbrechen', @institution.parent, :class => 'button secondary' %>
      <% else %>
        <%= link_to 'Abbrechen', institutions_path, :class => 'button secondary' %>
      <% end %>
    <% else %>
      <%= link_to 'Abbrechen', @institution, :class => 'button secondary' %>
    <% end %>
  </div>
<% end %>
