<% title "Institutions", nil %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "Institutions", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span10">
    <% @institutions.each do |institution| %>
      <div class="institution-entry well">
        <h4><%= link_to "#{institution.name}", institution %></h4>
        <%= render 'institution_tree', :institution => institution, :tag => 'h5', :indent => 10 %>
      </div>
    <% end %>
  </div>
  <div class="span2">
    <% if can? :edit, @institutions %>
      <div class="btn-group pull-right" style="margin-left:100%;margin-bottom:20px;">
        <a class="btn dropdown-toggle btn-large" data-toggle="dropdown" href="#">
          Add
          <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Institution', new_institution_path %></li>
          </ul>
      </div>
    <% end  %>
  </div>
<% end %>