<% title "Institutions", nil %>

<% content_for :add_section do %>
  <li><%= link_to "Institution", new_institution_path %></li>
<% end if can? :edit, @institutions %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "Institutions", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span12">
    <% @institutions.each do |institution| %>
      <div class="institution-entry well">
        <h4><%= link_to "#{institution.name}", institution %></h4>
        <%= render 'institution_tree', :institution => institution, :tag => 'h5', :indent => 10 %>
      </div>
    <% end %>
  </div>
<% end %>