<% title "Dashboard", "#{current_user.available_name}" %>

<% content_for :breadcrumbs_section do %>

<% end %>

<% content_for :add_section do %>
  <%= content_tag :li, link_to('Module', new_cluster_path) %>
<% end if can? :manage, 'site' %>

<% content_for :main_section do %>
  <div class="span9">
    <ul class="nav nav-tabs">
      <%= content_tag :li, link_to('Activity feed', "#updates", data: {toggle: 'tab'}) %>
      <%= content_tag :li, link_to('Your Projects', "#memberships", data: {toggle: 'tab'}), class: 'active' %>
      <%= content_tag :li, link_to('Personal todos', "#todos", data: {toggle: 'tab'}) %>
      <%= content_tag :li, link_to('Roles', "#roles", data: {toggle: 'tab'}) if can? :manage, "roles" %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="updates">
        <p>activity feed hier?</p>
        <%= User.joins(:role).where(["role = ?", "admin"]).count <= 1 %>
      </div>
      <div class="tab-pane active" id="memberships">
        <% current_user.projects.each do |project| %>
          <div class="project-entry well">
            <h3><%= link_to "#{project.name}", project %></h3>
            <% if project.documents.doctype('Introduction').present? %>
              <%= render "documents/with_document_type", var: project, dtype: "Introduction" if project.documents.doctype('Introduction') %>
            <% else %>
              <p>No Introduction available</p>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="tab-pane" id="todos">
        <h2 id="month" class="muted">
          <%= link_to "<", date: @date.prev_month %>
          <%= @date.strftime("%B %Y") %>
          <%= link_to ">", date: @date.next_month %>
        </h2>
        <%= calendar @date do |date| %>
          <%= link_to "#{date.day}"  %>
          <% if @todos_by_date[date] %>
            <ul>
              <% @todos_by_date[date].each do |todo| %>
                <li><%= link_to "#{todo.name}", [todo.project, todo] %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>


      <% if can? :manage, "roles" %>
        <div class="tab-pane" id="roles">       
          <%= form_tag(update_multiple_roles_path, {method: :put, :class => 'custom'}) do %>
            <ul class="unstyled">
              <% for role in Role.all do %>
                <%= fields_for "roles[]", role do |f| %>
                  <%= f.error_messages %>
                  <div class="row-fluid">
                    <div class="span3">
                      <%= f.label :role, "#{role.user.available_name}", class: "right inline" %>
                    </div>
                    <div class="span9">
                      <% if current_user.role.role == 'superuser' %>
                        <%= f.select(:role, User::ABILITYROLES) %>
                      <% else %>
                        <%= f.select(:role, User::ROLES) %>
                      <% end %>
                    </div>
                  </div>
                <% end unless role.user.username == 'toboter' || role.user == current_user %>
              <% end %>
            </ul>
            <div class="form-actions">
              <%= submit_tag "Update Roles", class: "btn" %>
            </div>
          <% end %>
        </div> 
      <% end %>
    </div>
  </div>

  <div class="span3">
    <h4 class="muted">Account</h4>
    <ul class="unstyled">
      <li><%= current_user.person ? link_to("#{current_user.available_name}", current_user.person) : current_user.available_name %></li>
      <li><%= current_user.username %> (<%= current_user.role.role %>)</li>
      <li><%= current_user.email %></li>
      <li>Created at: <%= current_user.created_at %>
    </ul>
    <h4 class="muted">SignIn Time & IP</h4>
    <ul class="unstyled">
      <li>This: <%= current_user.current_sign_in_at %></li>
      <li><%= current_user.current_sign_in_ip %></li>
      <li>Last: <%= current_user.last_sign_in_at %></li>
      <li><%= current_user.last_sign_in_ip %></li>
    </ul>
  </div>

<% end %>