<% title "Dashboard", "#{current_user.available_name}" %>

<% content_for :breadcrumbs_section do %>

<% end %>


<% content_for :main_section do %>
  <div class="span8">
    <ul class="nav nav-tabs">
      <%= content_tag :li, link_to('Todolists', "#todolists", data: {toggle: 'tab'}), class: 'active' %>
      <%= content_tag :li, link_to('Roles', "#roles", data: {toggle: 'tab'}) if can? :manage, "roles" %>
      <%= content_tag :li, link_to('Pages', "#pages", data: {toggle: 'tab'}) if can? :manage, "pages" %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="todolists">
        <ul class="unstyled">
          <% for todolist in current_user.in_todolists %>
            <h5><%= link_to "#{todolist.name}", [todolist.project, todolist] %></h5>
            <% for todo in todolist.todos.where(:assigned_id => current_user).order('due_to ASC').limit(5) %>
              <li><%= todo.name %>, <%= todo.due_to %></li>
            <% end %>
          <% end %>
        </ul>
      </div>


      <% if can? :manage, "roles" %>
        <div class="tab-pane" id="roles">       
          <%= form_tag(update_multiple_roles_path, {method: :put, :class => 'custom'}) do %>
            <ul class="unstyled">
              <% for role in Role.all do %>
                <%= fields_for "roles[]", role do |f| %>
                  <%= f.error_messages %>
                  <div class="row-fluid">
                    <div class="span3">
                      <%= f.label :role, "#{role.user.available_name}", class: "right inline" %>
                    </div>
                    <div class="span9">
                      <%= f.select(:role, User::ROLES) %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </ul>
            <div class="form-actions">
              <%= submit_tag "Update Roles", class: "btn" %>
            </div>
          <% end %>
        </div> 
      <% end %>

      <% if can? :manage, "pages" %>
        <div class="tab-pane" id="pages">
          <ul class="unstyled">
            <%= content_tag :li, page_doc_path_for('about'), class: 'well' %>
            <%= content_tag :li, page_doc_path_for('API'), class: 'well' %>
            <%= content_tag :li, page_doc_path_for('help'), class: 'well' %>
            <%= content_tag :li, page_doc_path_for('resources'), class: 'well' %>
            <%= content_tag :li, page_doc_path_for('research'), class: 'well' %>
            <%= content_tag :li, page_doc_path_for('contact'), class: 'well' %>
          </ul>
        </div>
      <% end %>

    </div>
  </div>

  <div class="span3 offset1">
    <h4 class="muted">Account</h4>
    <ul class="unstyled">
      <li><%= connected_profile ? link_to("#{current_user.available_name}", person_path(connected_profile)) : current_user.available_name %></li>
      <li><%= current_user.username %> (<%= current_user.role.role %>)</li>
      <li><%= current_user.email %></li>
      <li>Created at: <%= current_user.created_at %>
    </ul>
    <h4 class="muted">SignIn Time & IP</h4>
    <ul class="unstyled">
      <li>This: <%= current_user.current_sign_in_at %></li>
      <li><%= current_user.current_sign_in_ip %></li>
      <li>Last: <%= current_user.last_sign_in_at %></li>
      <li><%= current_user.last_sign_in_ip %></li>
    </ul>
  </div>

<% end %>