<% title "Dashboard", "#{current_user.available_name}" %>

<% content_for :breadcrumbs_section do %>

<% end %>

<% content_for :add_section do %>

<% end if can? :manage, 'site' %>

<% content_for :main_section do %>
  <div class="span12">
    <ul class="nav nav-tabs">
      <%= content_tag :li, link_to('Activity feed', "#updates", data: {toggle: 'tab'}) %>
      <%= content_tag :li, link_to('Your Projects', "#memberships", data: {toggle: 'tab'}), class: 'active' %>
      <%= content_tag :li, link_to('Personal todos', "#todos", data: {toggle: 'tab'}) %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="updates">

        <p>activity feed hier?</p>
        <%= User.joins(:role).where(["role = ?", "admin"]).count <= 1 %>
      </div>
      <div class="tab-pane active" id="memberships">
        <% current_user.projects.each do |project| %>
          <div class="project-entry well">
            <h3><%= link_to "#{project.name}", project %></h3>
            <%= link_to "Use this aspect", change_aspect_path(:project_id => project.id) %>
            <% if project.documents.doctype('Introduction').present? %>
              <%= render "documents/with_document_type", var: project, dtype: "Introduction" if project.documents.doctype('Introduction') %>
            <% else %>
              <p>No Introduction available</p>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="tab-pane" id="todos">
        <h2 id="month" class="muted">
          <%= link_to "<", date: @date.prev_month %>
          <%= @date.strftime("%B %Y") %>
          <%= link_to ">", date: @date.next_month %>
        </h2>
        <%= calendar @date do |date| %>
          <%= link_to "#{date.day}"  %>
          <% if @todos_by_date[date] %>
            <ul>
              <% @todos_by_date[date].each do |todo| %>
                <li><%= link_to "#{todo.name}", [todo.project, todo] %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

<% end %>