<% title "Project Dashboard", current_aspect.name %>
<% edit_section_for(current_aspect, current_aspect.projectable) %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, (link_to current_aspect.name, [current_aspect.projectable, current_aspect]) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, 'Dashboard', class: 'active' %>
<% end %>


<% content_for :main_section do %>
    <div class="row-fluid">


      <%= content_tag :div, class: 'span4' do %>
        <div class="dashboard-options">
          <ul class="nav nav-pills nav-stacked">
            <%= content_tag :li do %>
              <%= link_to [current_aspect, :lists] do %>
                Lists
                <span class="badge pull-right"><%= current_aspect.lists.count %></span>
              <% end %>
            <% end %>
            <%= content_tag :li do %>
              <%= link_to [current_aspect, :documents] do %>
                Documents
                <span class="badge pull-right"><%= current_aspect.documents.without_document_type.count %></span>
              <% end %>
            <% end %>
            <%= content_tag :li do %>
              <%= link_to [current_aspect, :references] do %>
                References
                <span class="badge pull-right"><%= current_aspect.references.count %></span>
              <% end %>
            <% end %>
            <%= content_tag :li do %>
              <%= link_to [current_aspect, :todos] do %>
                Todos
                <span class="badge badge-important pull-right" style="margin-left:2px;"><%= current_aspect.todos.where(:completed => false).count %></span>
                <span class="badge badge-success pull-right"><%= current_aspect.todos.where(:completed => true).count %></span>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end if can? :manage, 'settings' %>
    </div>
    
    <%= content_tag :div, class: 'row-fluid' do %>



      <div class="span5">

      <div class="row-fluid" id="recent-references">
        <div class="span12">
      	<h6 class="muted">Recently added references</h6>
  		<%= render 'references/bib_entries', :references => @current_aspect.references.order('project_references.created_at DESC').limit(3) %>

            <%= link_to [current_aspect, :references], class: 'pull-right' do %>
              All references for this project
            <% end %>
          </div>
      </div>

      <%= render 'shared/calendar' %>

        <div class="row-fluid">
          <div class="span12 well" style="margin-top:20px;">
            <%= content_tag :h5, 'Current Aspect' if aspect? %>
            <%= content_tag :p, link_to(full_qualified_name(current_aspect), project_dashboard_path(current_aspect)) if aspect? %>
            <%= link_to 'Edit this aspect | Edit Membership', [:edit, current_aspect.projectable, current_aspect] if can? :manage, current_aspect %>
          </div>
        </div>
      
      <h6 class="muted">People in this project</h6>
      <% current_aspect.memberships.in_groups_of(2, false).each do |row_members| %>
        <div class="row-fluid">
          <% for membership in row_members do %>
            <div class="span6">
              <div class="media">
                <%= link_to membership.user.person, class: 'pull-left tooltip-right', title: membership.user.available_name do %>
                  <%= image_tag((membership.user.person ? (membership.user.person.profile_picture ? membership.user.person.profile_picture.assetfile.mini_thumb.url : 'icons/super.svg') : 'icons/super.svg'), class: 'img-rounded media-object', :"data-src" => "holder.js/32x32", style: 'width:40px;') %>
                <% end %>
                <div class="media-body">
                  <h5 class="media-heading"><%= name_only_or_link_to(membership.user) %></h5>
                  <p><%= membership.role.humanize %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      </div>
    <% end %>

<% end %>