<tr>
  <td>
  	<%= content_tag :div do %>
  	  <strong><%= link_to action.predicate.name.humanize, [@item, action] if action.predicate %> </strong><br />
      <%= "Postition: #{action.target}" if action.target %>
  	<% end if local_assigns.has_key? :action %>
	<div class="source-info">
	  <h4>
	  	<%= link_to source.name, source %> 
	  	<span class="pull-right">
	  	  <small>[<%= source.source_type %>]</small>
	  	</span>
	  </h4>
	  <div class="source-author pull-right">
	  	<%= link_to source.author.name, source.author if source.author %>
  	  	<span class="muted"><%= "[#{source.original_date}]" if source.original_date %></span>
  	  </div>
	</div>

	<div class="source-assets">
	  <strong>
	  	<%= pluralize(source.assets.count, 'file') %>
	  </strong>
	  <%= content_tag :ul, class: "thumbnails", style: '' do %>
	  	<% for asset in source.assets do %>
	  	  <%= content_tag :li do %>
	  	    <%= link_to ((asset.content_type.include? 'image') ? (image_tag asset.assetfile.small.url, style: 'width:100px;') : (image_tag (%['sheet' 'document' 'msword' 'ms-excel' 'x-zip-compressed' 'kml+xml' 'pdf'].include?asset.content_type.sub('application/', '').split('.').last) ?  "icons/formats/#{asset.content_type.split('.').last.sub('application/', '')}.svg" : 'icons/formats/tmp.svg' , style: 'width:100px;')), asset.assetfile.large.url, class: 'img-fluid thumbnail' %>
	  	  <% end %>
	  	<% end %>
	  <% end if source.assets.any? %>
	</div>
	<%= content_tag :div, class: 'source-documents' do %>
	  <strong>
	  	<%= pluralize(source.documents.count, 'document') %>: 
	  </strong>
	  <%= source.documents.map{|d| link_to d.name, d }.join(', ').html_safe %>
	<% end if source.documents.any? %>
	<%= content_tag :div, class: 'source-mentions' do %>
	  <strong>
	  	<%= pluralize(source.actions.count, 'mention') %>: 
	  </strong>
	  <%= source.actions.map{|e| link_to e.actable.name, e.actable }.join(', ').html_safe %>
	<% end if source.actions.any? %>
	<p><%= link_to 'View source', source %></p>
  </td>
</tr>
