<% title 'Source', @source.name %>
<% edit_section_for(@source, nil) %>
<% footer_section(@source) %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Sources', sources_path %> <span class="divider">/</span></li>
  <li class="active"><%= "#{@source.name}" %></li>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span3">
    <ul class="unstyled">
      <li><b>Author:</b> <%= @source.author.name %></li>
      <li><b>Name:</b> <%= @source.name %></li>
      <li><b>Source type:</b> <%= @source.source_type %></li>
      <li><b>Original date:</b> <%= @source.original_date %></li>
      <li><b>Format:</b> <%= @source.format %></li>
      <li><b>Institution:</b> <%= @source.institution.name %></li>
      <li><b>Condition:</b> <%= @source.condition %></li>
    </ul>
    <%= content_tag :p, link_to('Original', @source.parent) if @source.parent %>
    <%= link_to 'Create a depending version', new_source_path(parent: @source) %>
    <%= content_tag :div do %>
      <h4>Comment</h4> 
      <%= markdown(@source.comment) %>
    <% end if @source.comment.present? %>

        <div class="issue-section" id='issue'>
          <%= content_tag :h3 do %>
            Issues <%= content_tag :span, @source.issues.count, class: "badge #{@source.issues.where(closed: false).count > @source.issues.where(closed: true).count+1 ? @source.issues.where(closed: false).count > @source.issues.where(closed: true).count+3 ? 'badge-important' : 'badge-warning' : 'badge-success' }" %>
          <% end %>
          <%= render @source.issues.order('created_at DESC').limit(3) %>
          <%= @source.issues.any? ? "#{link_to('View all issues', source_issues_path(@source))} or #{link_to('add a new issue', new_source_issue_path(@source))}".html_safe : ('Nothing to show! '+link_to('Create Issue', new_source_issue_path(@source))).html_safe %>
        </div>

  </div>
  <div class="span9">
    <% if @source.actions.any? %>
      <h3>Mentions</h3> 
      <%= content_tag :table, class: "table table-bordered table-hover" do %>
        <tbody>
          <% for action in @source.actions do %>
            <%= render action.actable %>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
    <%= content_tag :h3 do %>
      Documents
      <div class="pull-right">
        <%= link_to new_source_document_path(@source), class: 'btn btn-default' do %>
          <i class="icon-plus"></i>
          Document
        <% end %>
      </div>
    <% end %> 
    <%= content_tag :table, class: "table table-bordered table-hover" do %>
      <tbody>   
        <%= render @source.documents %>
      </tbody>
    <% end if @source.documents.any? %>
    <%= content_tag :h3 do %>
      Folders
      <div class="pull-right">
        <%= link_to new_source_bucket_path(@source), class: 'btn btn-default' do %>
          <i class="icon-plus"></i>
          Folder
        <% end %>
      </div>
    <% end %>
    <%= render @source.buckets, personal: false %>

  </div>
</div>

<% end %>
