<% title "#{@item_classification.name}", nil, false %>
<% edit_section_for(@item_classification, nil) if can? :edit, @item_classification %>

<% content_for :add_section do %>
  <li><%= link_to 'Sub classification', new_item_classification_path(:parent_id => @item_classification) %></li>
<% end if can? :edit, @item_classification %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Item classifications', item_classifications_path %> <span class="divider">/</span></li>
  <li class="active"><%= @item_classification.name %></li>
<% end %>

<% content_for :main_section do %>
  <div class="span8">
    <p>
      <b>Name:</b>
      <%= @item_classification.name %><br />
      <%= @item_classification.description %>
    </p>
  </div>
<% end %>