<% title 'Classification', @item_classification.name %>
<% edit_section_for(@item_classification, nil) %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Item classifications', item_classifications_path %> <span class="divider">/</span></li>
  <li class="active"><%= @item_classification.name %></li>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span8">
    <%= render 'full_classification_tree', :item_classifications => @item_classification.root.self_and_descendants, add_links_visible: true, highlight: @item_classification %>
  </div>
  <div class="span4">
    <h4 class="muted">Items for <%= @item_classification.name %></h4>
    <ul class="unstyled">
      <% for item in @items do %>
        <li><%= link_to item.inventory_name, item %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>