<% title "Journals and serials", nil %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li class="active">Serials</li>
<% end %>

<% content_for :main_section do %>
  <div class="span9">
    <p></p>
    <% @serials.each do |serial| %>
      <%= content_tag :div, class: 'list-entry' do -%>
        <div class="row">
          <%= content_tag :div, class: 'span1 authors' do -%>
            <ul class="unstyled">
              <%= content_tag :li, serial.shortcut %>
              <li><small><%= serial.serial_type %></small></li>
            </ul>
          <% end -%>
          <%= content_tag :div, class: 'span3' do -%>
            <p>
              <%= content_tag :span, link_to("#{serial.name}", serial) %>
            </p>
          <% end -%>
          <%= content_tag :div, class: 'span4' do -%>
            <p>
              <%= content_tag :span, link_to("#{serial.uri}", serial.uri, :target => '_blank') %>
            </p>
          <% end -%>
          <% if can? :edit, serial %>
            <%= content_tag :div, class: 'span1 reference-edit-link' do -%>
              <p><%= link_to "Edit", edit_serial_path(serial) %></p>
            <% end -%>
          <% end %>
        </div>
      <% end -%>
    <% end %>
  </div>
  <div class="span2 offset1">
    <% if can? :edit, @serials %>
      <div class="btn-group pull-right" style="margin-left:100%;margin-bottom:20px;">
        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          <i class="icon-plus icon-white"></i>
          Add
          <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Journal or serial', new_serial_path %></li>
          </ul>
      </div>
    <% end  %>
    <%= render "shared/bibliographic_cat_navs", :obj => @serials %>
  </div>
<% end %>