<% title "Journals and series", nil %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li class="active">Serials</li>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-pills">
      <%= content_tag :li, link_to("Public References", references_path) %>
      <%= content_tag :li, link_to("Books", books_path)%>
      <%= content_tag :li, link_to("Journals and serials", serials_path), class: 'active' %>
      <%= link_to new_serial_path, class: 'btn btn-create pull-right', style: 'margin-left:10px;' do %>
        <i class="icon-plus icon-white"></i>
        Journal or serial
      <% end if can? :create, @serials %>
      <%= form_tag ('/serials'), method: :get, class: 'form-inline' do %>
        <div class="input-append">
          <%= select_tag :per_page, options_for_select([5, 10, 20, 30, 50, 100], params[:per_page] ? params[:per_page] : 10), id: 'appendInputButton', class: 'span6' %>
          <%= submit_tag "per Page", class: 'btn' %>
        </div>
      <% end %>
    </ul>

        <% @serials.each do |serial| %>
          <%= content_tag :div, class: 'list-entry' do -%>
            <div class="row-fluid">
              <%= content_tag :div, class: 'span1 authors' do -%>
                <ul class="unstyled">
                  <%= content_tag :li, serial.shortcut %>
                  <li><small><%= serial.serial_type %></small></li>
                </ul>
              <% end -%>
              <%= content_tag :div, class: 'span6' do -%>
                <p>
                  <%= content_tag :span, link_to("#{serial.name}", serial) %>
                </p>
              <% end -%>
              <%= content_tag :div, class: 'span5' do %>
                <%= content_tag :p, link_to("#{serial.uri}", serial.uri, :target => '_blank') %>
              <% end %>
            </div>
          <% end -%>
        <% end %>
  </div>
</div>
<% end %>