<% title "Periodicals and Serials", nil %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "Discover", discover_path %>
    <%= link_to 'Periodicals and serials', serials_path %>
  </nav>
<% end %>

<% content_for :link_section do %>
  <div class="button-bar right">
    <ul class="button-group">
      <% if can? :edit, @serial %>
        <%= link_to 'New Periodical or Serial', new_serial_path, class: "button small" %>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :main_section do %>
  <table>
    <tr>
      <th>Name</th>
      <th>Shortcut</th>
      <th>Type</th>
      <th>Uri</th>
      <% if can? :edit, @serials %>
        <th></th>
      <% end %>
    </tr>
  
    <% @serials.each do |serial| %>
      <tr>
        <td><%= link_to "#{serial.name}", serial %></td>
        <td><%= serial.shortcut %></td>
        <td><%= serial.serial_type %></td>
        <td><%= link_to "#{serial.uri}", serial.uri, :target => '_blank' %></td>
        <% if can? :edit, @serials %>
          <td><%= link_to 'Edit', edit_serial_path(serial) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

<% end %>
