<% title @serial.name, nil %>
<% edit_section_for(@serial, nil) if can? :edit, @serial %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Journals and serials', serials_path %> <span class="divider">/</span></li>
  <li class="active"><%= @serial.name %></li>
<% end %>

<% content_for :main_section do %>
  <div class="span8">
    <h4 class="muted">Content</h4>
    <%= render "books/book_entries", :books => @serial.books.order("volume ASC") %>
  </div>

  <div class="span3 offset1">
    <% if can? :edit, @serial %>
      <div class="btn-group pull-right" style="margin-left:100%;margin-bottom:20px;">
        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          <i class="icon-plus icon-white"></i>
          Add
          <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Add Volume', new_book_path(:serial_id => @serial) %></li>
          </ul>
      </div>
    <% end  %>
    <h5 class="muted">Info <small><%= @serial.serial_type %></small></h5>
    <ul class="unstyled">
      <li><%= @serial.name %> (<%= @serial.shortcut %>)</li>
      <li><%= link_to "#{@serial.uri}", "#{@serial.uri}", :target => '_blank' %></li>
      <%= content_tag :li, 'ISSN'+@serial.serial_identifier if @serial.serial_identifier.present? %>
    </ul>

    <h5 class="muted" style="margin-top:50px;">Record Info</h5>
    <ul class="unstyled">
      <li>Created by: <%= @serial.creator.available_name %></li>
      <li>Updated by: <%= @serial.updater.available_name %></li>
    </ul>
  </div>

<% end %>