<% title @serial.serial_type, @serial.name %>
<% edit_section_for(@serial, nil) %>
<% footer_section(@serial) %>


<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Journals and serials', serials_path %> <span class="divider">/</span></li>
  <li class="active"><%= @serial.name %></li>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span9">
    <h4 class="muted">
      Volumes / Issues
      <%= link_to new_book_path(:serial_id => @serial), class: 'btn btn-default pull-right', style: 'margin-left:10px;' do %>
        <i class="icon-plus"></i>
        Volume
      <% end if can? :create, Book %>
    </h4>
    <%= render "books/book_entries", :books => @serial.books.order("volume ASC") %>
  </div>
  <div class="span3">
    <h5 class="muted">Info <small><%= @serial.serial_type %></small></h5>
    <ul class="unstyled">
      <li><%= @serial.name %> (<%= @serial.shortcut %>)</li>
      <li><%= link_to "#{@serial.uri}", "#{@serial.uri}", :target => '_blank' %></li>
      <%= content_tag :li, 'ISSN'+@serial.serial_identifier if @serial.serial_identifier.present? %>
    </ul>
  </div>
</div>
<% end %>