<% title "Account", nil %>
<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span8">
    <h3 style="margin-top:10px;">Edit <%= resource_name.to_s.humanize %></h3>
    <h4 class="subtitle"><%= resource.available_name %></h4>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="control-group">
        <%= f.label :email, class: 'control-label' %>
        <div class="controls">
          <%= f.email_field :email, :autofocus => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :username, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :username, :readonly => User.find(resource).username == 'toboter' %>
        </div>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="control-group">
        <%= f.label :password, 'Password', class: 'control-label' %>
        <div class="controls">
          <%= f.password_field :password, :autocomplete => "off" %>
          <i>(leave blank if you don't want to change it)</i>
        </div>
      </div>
    
      <div class="control-group">
        <%= f.label :password_confirmation, class: 'control-label' %>
        <div class="controls">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
    
      <div class="control-group" style="margin-top:30px;">
        <%= f.label :current_password, 'Current Password', class: 'control-label' %>
        <div class="controls">
          <%= f.password_field :current_password %>
          <i>(we need your current password to confirm your changes)</i>
        </div>
      </div>

      <div class="form-actions" style="margin-top:20px;">
        <%= f.submit "Update", class: 'btn btn-primary' %>
        <%= link_to "Cancel", root_path, class: 'btn' %>
      </div>
    <% end %>


      <h4 class="subheader">Cancel my account</h4>
      <%= button_to "Cancel account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'btn btn-warning btn-disabled', :disabled => true %>


      


  </div>
</div>
<% end %>