<% title "Research Modules", nil %>

<% content_for :add_section do %>
  <li><%= link_to "Module", new_cluster_path %></li>
<% end %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "Modules", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span12">
  	<% @clusters.each do |cluster| %>
      <%= link_to cluster do %>
        <div class="well">
          <div class="row-fluid cluster-entry">
            <%= content_tag :div, class: 'span2' do %>
              <%= cluster.cluster_bucket.cover ? image_tag(cluster.cluster_bucket.cover.assetfile.big_thumb.url) : image_tag("icons/no_picture.svg") %>
            <% end %>
            <%= content_tag :div, class: 'span10' do %>
              <h1><%= cluster.name %></h1>
              <p><%= cluster.documents.doctype('Introduction').abstract.present? ? cluster.documents.doctype('Introduction').abstract : "No abstract to show." if cluster.documents.doctype('Introduction') %></p>
            <% end %>
          </div>
        </div>
      <% end %>
	  <% end %>
  </div>
<% end %>


