<% title @cluster.name, nil, false %>
<% edit_section_for(@cluster, nil) if @cluster.cluster_admin == current_user || @cluster.creator == current_user || current_user.superuser? %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, link_to("Modules", clusters_path) + content_tag(:span, '/', class: 'divider') %>
  <%= content_tag :li, "#{@cluster.name}", class: 'active' %>
<% end %>

<%= content_for :top_over do %>
<div class="hero-unit">
  <div class="row-fluid" id='about' style="padding-bottom:30px;">
    <%= content_tag :div, class: 'span3' do %>
      <%= link_to (image_tag @cluster_bucket.cover.assetfile.big_thumb.url, class: "img-polaroid"), polymorphic_path([@cluster, @cluster_bucket]) if @cluster_bucket %>
    <% end if @cluster_bucket.cover %>
    <%= content_tag :div, class: (@cluster_bucket.cover ? 'span9' : 'span12') do %>
      <h1>
        <%= @cluster.name %>
        <%= yield(:edit_section) %>
      </h1>
      <p><%= @cluster.documents.doctype('Introduction').abstract.present? ? markdown(@cluster.documents.doctype('Introduction').abstract) : "No abstract to show." if @cluster.documents.doctype('Introduction') %></p>
      <% if can? :edit, @cluster %>
        <small>
          (<%= link_to 'Edit picture', polymorphic_path([@cluster, @cluster_bucket]), class: 'change-asset' %> | 
          <%= link_to 'Edit document', polymorphic_path([:edit, @cluster, @cluster.documents.doctype('Introduction')]), class: 'change-asset' %>)
        </small>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>

<% content_for :main_section do %>
  <div class="member-view" id="members">
    <ul class="unstyled">
      <% for member in @members do %>
        <%= link_to member.person, title: member.available_name do %>
          <%= image_tag((member.person ? (member.person.profile_picture ? member.person.profile_picture.assetfile.mini_thumb.url : 'icons/super.svg') : 'icons/super.svg'), class: 'img-rounded hidden-tablet hidden-phone') %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= content_tag :div, class: 'documents-list', id: 'bib' do %> 
    <%= content_tag :h4, 'Documents', class: 'muted' %>  
      <table class="table table-bordered">
        <tbody>
          <%= render "documents/without_document_type", :var => @cluster %>
        </tbody>
      </table>
  <% end if @cluster.documents.without_document_type.any? %> 

  <%= content_tag :div, class: 'groups-list', id: 'groups' do %> 
    <%= content_tag :h4, link_to("Groups", cluster_groups_path(@cluster)), class: "muted" %>
    <% @cluster.groups.limit(3).each do |group| %>
      <div class="group-entry well">
      <h3><%= link_to "#{group.name}", group %></h3>
      <% if group.documents.doctype('Introduction').present? %>
          <%= render "documents/with_document_type", var: group, dtype: "Introduction" if group.documents.doctype('Introduction') %>
        <% else %>
        <p>No Introduction available</p>
        <% end %>
      </div>
    <% end %>
  <% end if @cluster.groups.any? %>

  <%= content_tag :div, class: 'projects-list', id: 'projects' do %> 
    <%= content_tag :h4, link_to("Projects", [@cluster, 'projects']), class: "muted" %>
    <%= render @projects.limit(5).order('created_at DESC') %>

  <% end if @cluster.projects.any? %>

<% end %>

<% content_for :sidebar_section do %>

  <%= content_tag :div, class: "" do %>
    <p>
      <%= markdown(truncated_content(@cluster.documents.doctype('Introduction'), length=300)) if @cluster.documents.doctype('Introduction').content %>
    </p>
  <% end if @cluster.documents.doctype('Introduction') %>

  <div class="project-options">
    <ul class="nav nav-pills nav-stacked">
      <%= content_tag :li do %>
        <%= link_to [@cluster, :groups] do %>
          Groups
          <span class="badge pull-right"><%= @cluster.groups.count %></span>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@cluster, :projects] do %>
          Projects
          <span class="badge pull-right"><%= @projects.count %></span>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@cluster, :documents] do %>
          Documents
          <span class="badge pull-right"><%= @cluster.documents.without_document_type.count %></span>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="cluster-info well">
    <ul class="unstyled">
      <li>Speaker: <%= name_only_or_link_to(@cluster.speaker) %></li>
      <li>Admin: <%= name_only_or_link_to(@cluster.cluster_admin) %></li>
      <small>
        <li style="margin-top:20px;">Creator: <%= name_only_or_link_to(@cluster.creator) %></li>
        <li>Created on: <%= @cluster.created_at.strftime('%d. %b %Y (%H:%M)') %></li>
      </small>
    </ul>
    <%= content_tag :h4, 'Contact', style: 'padding-top:20px;' if @cluster.contact %>
    <p><%= markdown(@cluster.contact) if @cluster.contact %></p>
    <%= link_to "Introduction Document", polymorphic_path([:new, @cluster, :document], :document_type => "Introduction") if !@cluster.documents.doctype('Introduction') && (can? :create, @cluster.documents) %>
  </div>
<% end %>