<% title "Research Modul: #{@cluster.name}", nil %>
<% edit_section_for(@cluster, nil) if can? :edit, @cluster %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Modules", clusters_path) + content_tag(:span, '/', class: 'divider')) if @clusters.count > 1 %>
  <%= content_tag :li, "#{@cluster.name}", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span8">
    <%= render "shared/document_first", var: @cluster, dtype: "Introduction" if @cluster.documents.doctype('Introduction') %>

    <%= render "shared/document_docs_without_type", :var => @cluster %>
  
    <%= content_tag :h4, link_to("Groups", cluster_groups_path(@cluster)), class: "muted" if @cluster.groups.present? %>
    <%= render "shared/document_introductions", :vars => @cluster.groups %>
  
    <%= content_tag :h4, link_to("Projects", [@cluster, 'projects']), class: "muted" if @cluster.projects.present? %>
    <% @all_projects.each do |project| %>
      <div class="well">
        <h4>
          <%= link_to [project.projectable, project] do %>
            <%= project.projectable.name if project.projectable_type == "Cluster" %>
            <% if project.projectable_type == "Group" %>
              <%= project.projectable.cluster.name %> /
              <%= project.projectable.name %>
            <% end %>
            /
            <%= project.name %>
          <% end %>
        </h4>
  
        <% if project.documents.doctype('Introduction').present? %>
          <h5 class="muted"><%= project.documents.doctype('Introduction').title %></h5>
        <p><%= project.documents.doctype('Introduction').content %> ... <%= link_to 'read more', [project.documents.doctype('Introduction').documentable, project.documents.doctype('Introduction')] %></p>
        <% else %>
          <p>No Introduction available</p>
        <% end %>
      </div>
    <% end %>  

  </div>

  <div class="span3 offset1">
    <% if can? :edit, @cluster %>
      <div class="btn-group pull-right" style="margin-left:100%;margin-bottom:20px;">
        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
          <i class="icon-plus icon-white"></i>
          Add
          <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Ungrouped project', new_cluster_project_path(@cluster) %></li>
            <li><%= link_to 'Group', new_group_path(:cluster_id => @cluster) %></li>
            <li class="divider"></li>
            <li><%= link_to "Introduction Document", polymorphic_path([:new, @cluster, :document], :document_type => "Introduction") if !@cluster.documents.doctype('Introduction') %></li>
            <li><%= link_to 'Document', polymorphic_path([:new, @cluster, :document]) %></li>
          </ul>
      </div>
    <% end  %>

    <h5 class="muted">Creator</h5>
    <ul class="unstyled">
      <li>
        <% unless @cluster.creator.person %>
          <%= @cluster.creator.available_name %>
        <% else %>
          <%= link_to "#{@cluster.creator.available_name}", @cluster.creator.person %>
        <% end %>
      </li>
    </ul>

    <% if @cluster.groups.present? %>
      <h5 class="muted">Groups</h5>
      <ul class="unstyled">
        <% for group in @cluster.groups do %>
          <li><%= link_to "#{group.name}", group %></li>
        <% end %>
      </ul>
    <% end %>
    
    <% if @cluster.projects.present? %>
      <h5 class="muted">Ungrouped Projects</h5>
      <ul class="unstyled">
        <% for project in @cluster.projects do %>
          <li><%= link_to "#{project.name}", project %></li>
        <% end %>
      </ul>
    <% end %>

    <h5 class="muted">Members of <%= @cluster.name %></h5>
    <ul class="unstyled">
      <% for member in @members do %>
        <li>
        <% unless member.person %>
          <%= member.available_name %>
        <% else %>
          <%= link_to "#{member.available_name}", member.person %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>