<% title "Research Modul: #{@cluster.name}", nil %>
<% edit_section_for(@cluster, nil) %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "Modules ", clusters_path if @clusters.count > 1 %>
    <%= link_to "Module: #{@cluster.name}", @module %>

  </nav>
<% end %>

<% content_for :main_section do %>

  <div class="large-8 columns">
    <% if @cluster.documents.doctype('Introduction') %>
        <%= render "shared/document_first", var: @cluster, dtype: "Introduction" %>
    <% else %>
      <%= link_to "Add Introduction", polymorphic_path([:new, @cluster, :document], :document_type => "Introduction"), class: 'button small' if can? :edit, @cluster %>    
    <% end %>
  
    <%= render "shared/document_docs_without_type", :var => @cluster %>

    <%= render "shared/add_document_box", :add_doc => @cluster %>
  
    <%= content_tag :h4, 'Areas', class: "subheader" if @cluster.areas.present? %>
    <%= render "shared/document_introductions", :vars => @cluster.areas %>
  
    <%= content_tag :h4, 'Projects', class: "subheader" if @cluster.projects.present? %>
    <%= render "shared/document_introductions", :vars => @cluster.projects %>  

  </div>

  <div class="large-3 columns right">
    <h5 class="subheader">Creator</h5>
    <ul class="no-bullet">
      <li>
        <% unless connected_profile(@cluster.creator) %>
          <%= @cluster.creator.available_name %>
        <% else %>
          <%= link_to "#{@cluster.creator.available_name}", @cluster.creator.people.first %>
        <% end %>
      </li>
    </ul>

    <% if @cluster.areas.present? %>
      <h5 class="subheader">Areas</h5>
      <ul class="no-bullet">
        <% for area in @cluster.areas do %>
          <li><%= link_to "#{area.name}", area %></li>
        <% end %>
      </ul>
    <% end %>
    
    <% if @cluster.projects.present? %>
      <h5 class="subheader">Ungrouped Projects</h5>
      <ul class="no-bullet">
        <% for project in @cluster.projects do %>
          <li><%= link_to "#{project.name}", project %></li>
        <% end %>
      </ul>
    <% end %>

      <h5 class="subheader">Members of <%= @cluster.name %></h5>
      <ul class="no-bullet">
        <% for member in @members do %>
          <li>
          <% unless connected_profile(member) %>
            <%= member.available_name %>
          <% else %>
            <%= link_to "#{member.available_name}", member.people.first %>
          <% end %>
          </li>
        <% end %>
      </ul>
  </div>

<% end %>

<% content_for :note_section do %>
  <% if can? :edit, @cluster %>
    <div class="large-6 columns">
      <ul class="pricing-table">
        <li class="title">Project</li>
        <li class="description">Hier ergänzender Text über die Möglichkeiten und Konsequenzen eines neuen Projektes in einem Modul</li>
        <li class="cta-button"><%= link_to 'Add Project', new_cluster_project_path(@cluster), class: "button" %></li>
      </ul>
    </div>
    <div class="large-6 columns">
      <ul class="pricing-table">
        <li class="title">Area</li>
        <li class="description">Hier ergänzender Text über die Möglichkeiten und Konsequenzen eines neuen Areas mit darauf folgenden Gruppen und Projekten in einem Modul</li>
        <li class="cta-button"><%= link_to 'Add Area', new_area_path(:cluster_id => @cluster), class: "button" %></li>
      </ul>
    </div>
  <% end %>
<% end %>