<% title @cluster.name, nil, true %>
<% edit_section_for(@cluster, nil) %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, link_to("Modules", clusters_path) + content_tag(:span, '/', class: 'divider') %>
  <%= content_tag :li, "#{@cluster.name}", class: 'active' %>
<% end %>

<%= content_for :top_over do %>

<div class="hero-unit">
  <div class="row-fluid" id='about'>
    <%= content_tag :div, class: 'cover span3 hidden-phone' do %>
      <%= link_to image_tag(@cluster.cluster_bucket.cover ? @cluster.cluster_bucket.cover.assetfile.big_thumb.url : "icons/no_picture.svg"), polymorphic_path([@cluster, @cluster.cluster_bucket]) %>
      <%= link_to 'Edit picture', polymorphic_path([@cluster, @cluster.cluster_bucket]), class: 'change-asset' if can? :edit, @cluster %>
    <% end if @cluster.cluster_bucket %>
    <%= content_tag :div, class: "#{(@cluster.cluster_bucket ? 'span9' : 'span12')} description" do %>

      <%= content_tag :div, @cluster.description.present? ? markdown(@cluster.description) : content_tag(:p, "No description to show."), class: 'text' %>
    <% end %>
  </div>
</div>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span8">
  <%= content_tag :div, class: 'documents-list', id: 'bib' do %> 
    <%= content_tag :h4, class: 'muted', style: 'padding-bottom:10px;' do %>
      Documents
      <%= link_to new_cluster_document_path(@cluster), class: 'btn btn-default pull-right' do %>
        <i class="icon-plus"></i>
        Document
      <% end if can? :create, @cluster.documents %>
    <% end %>
      <table class="table table-bordered">
        <tbody>
          <%= render @cluster.documents %>
        </tbody>
      </table>
      <%= link_to 'View all documents', [@cluster, :documents] %>
  <% end if @cluster.documents.any? %> 

  <%= content_tag :div, class: 'groups-list', id: 'groups' do %>
    <%= content_tag :h2, class: "muted" do %>
      <%= link_to("Groups", cluster_groups_path(@cluster)) %>
      <%= link_to new_cluster_group_path(@cluster), class: 'btn btn-default pull-right' do %>
        <i class="icon-plus"></i>
        Group
      <% end if can? :create, @cluster.groups %>
    <% end %>
    <% @cluster.groups.limit(3).each do |group| %>
      <div class="group-entry" style="padding-left:10px;">
        <h3><%= link_to "#{group.name}", group %></h3>
        <% if group.description.present? %>
          <%= markdown(group.description) %>
        <% else %>
          <p>No abstract available</p>
        <% end %>
        <div style="padding-left:20px;">
          <%= content_tag :h4, link_to("Projects", group_projects_path(group)), class: "muted" if group.projects.any? %>
          <%= render group.projects.limit(3) %>
          <%= link_to "View all projects in #{group.name}", [group, :projects] %>
        </div>
        <hr>
      </div>
    <% end %>
  <% end if @cluster.groups.any? %>

  <%= content_tag :div, class: 'projects-list', id: 'projects' do %> 
    <%= content_tag :h2, class: "muted" do %>
      <%= link_to("Independent projects", [@cluster, :projects])%>
      <%= link_to new_cluster_project_path(@cluster), class: 'btn btn-default pull-right' do %>
        <i class="icon-plus"></i>
        Project
      <% end if can? :create, @cluster.projects %>
    <% end %>
    <%= render @cluster.projects.limit(5).order('created_at DESC') %>
    <%= link_to 'View all independent projects', polymorphic_path([@cluster, :projects], state: 'module') %>
  <% end if @cluster.projects.any? %>
  </div>
  <div class="span4">

  <div class="project-options">
    <ul class="nav nav-pills nav-stacked nav-pills-big">
      <%= content_tag :li do %>
        <%= link_to cluster_issues_path(@cluster) do %>
          <i class="icon-exclamation-sign"></i>
          Issues
          <%= content_tag :span, @cluster.issues.count, class: "badge pull-right #{@cluster.issues.where(closed: false).count > @cluster.issues.where(closed: true).count+1 ? @cluster.issues.where(closed: false).count > @cluster.issues.where(closed: true).count+3 ? 'badge-important' : 'badge-warning' : 'badge-success' }" %>
        <% end %>
      <% end if can? :read, Issue %>
      <%= content_tag :li do %>
        <%= link_to [@cluster, :groups] do %>
          Groups
          <span class="badge pull-right"><%= @cluster.groups.count %></span>
        <% end %>
      <% end if can? :read, Group %>
      <%= content_tag :li do %>
        <%= link_to [@cluster, :projects] do %>
          Projects
          <span class="badge pull-right"><%= @projects.count %></span>
        <% end %>
      <% end if can? :read, Project %>
      <%= content_tag :li do %>
        <%= link_to [@cluster, :documents] do %>
          Documents
          <span class="badge pull-right"><%= @cluster.documents.count %></span>
        <% end %>
      <% end if can? :read, Document %>
    </ul>
  </div>

  <%= content_tag :div, class: "cluster-info well" do %>
    <ul class="unstyled">
      <li>Speaker: <%= name_only_or_link_to(@cluster.speaker) %></li>
      <li>Admin: <%= name_only_or_link_to(@cluster.cluster_admin) %></li>
      <small>
        <li style="margin-top:20px;">Creator: <%= name_only_or_link_to(@cluster.creator) %></li>
        <li>Created on: <%= @cluster.created_at.strftime('%d. %b %Y (%H:%M)') %></li>
      </small>
    </ul>
    <%= content_tag :h4, 'Contact', style: 'padding-top:20px;' if @cluster.contact %>
    <p><%= markdown(@cluster.contact) if @cluster.contact %></p>
    <%= link_to "Introduction Document", polymorphic_path([:new, @cluster, :document], :document_type => "Introduction") if !@cluster.documents.doctype('Introduction') && (can? :create, @cluster.documents) %>
  <% end if can? :read, @cluster %>
  <%= render partial: "shared/member", collection: @members %>
  </div>
</div>
<% end %>