<% title "Research Modul: #{@cluster.name}", nil %>
<% edit_section_for(@cluster, nil) %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Modules", clusters_path) + content_tag(:span, '/', class: 'divider')) if @clusters.count > 1 %>
  <%= content_tag :li, "#{@cluster.name}", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span8">
    <%= render "shared/document_first", var: @cluster, dtype: "Introduction" if @cluster.documents.doctype('Introduction') %>

    <%= render "shared/document_docs_without_type", :var => @cluster %>
  
    <%= content_tag :h4, link_to("Areas", cluster_areas_path(@cluster)), class: "muted" if @cluster.areas.present? %>
    <%= render "shared/document_introductions", :vars => @cluster.areas %>
  
    <%= content_tag :h4, 'Projects', class: "muted" if @cluster.projects.present? %>
    <%= render "shared/document_introductions", :vars => @cluster.projects %>  
  </div>

  <div class="span3 offset1">
    <% if can? :edit, @cluster %>
      <div class="btn-group pull-right" style="margin-left:100%;margin-bottom:20px;">
        <a class="btn dropdown-toggle btn-large" data-toggle="dropdown" href="#">
          Add
          <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Project', new_cluster_project_path(@cluster) %></li>
            <li><%= link_to 'Area', new_area_path(:cluster_id => @cluster) %></li>
            <li class="divider"></li>
            <li><%= link_to "Introduction Document", polymorphic_path([:new, @cluster, :document], :document_type => "Introduction") if !@cluster.documents.doctype('Introduction') %></li>
            <li><%= link_to 'Document', polymorphic_path([:new, @cluster, :document]) %></li>
          </ul>
      </div>
    <% end  %>

    <h5 class="muted">Creator</h5>
    <ul class="unstyled">
      <li>
        <% unless connected_profile(@cluster.creator) %>
          <%= @cluster.creator.available_name %>
        <% else %>
          <%= link_to "#{@cluster.creator.available_name}", @cluster.creator.people.first %>
        <% end %>
      </li>
    </ul>

    <% if @cluster.areas.present? %>
      <h5 class="muted">Areas</h5>
      <ul class="unstyled">
        <% for area in @cluster.areas do %>
          <li><%= link_to "#{area.name}", area %></li>
        <% end %>
      </ul>
    <% end %>
    
    <% if @cluster.projects.present? %>
      <h5 class="muted">Ungrouped Projects</h5>
      <ul class="unstyled">
        <% for project in @cluster.projects do %>
          <li><%= link_to "#{project.name}", project %></li>
        <% end %>
      </ul>
    <% end %>

    <h5 class="muted">Members of <%= @cluster.name %></h5>
    <ul class="unstyled">
      <% for member in @members do %>
        <li>
        <% unless connected_profile(member) %>
          <%= member.available_name %>
        <% else %>
          <%= link_to "#{member.available_name}", member.people.first %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>