<% title @cluster.name, nil, false %>
<% edit_section_for(@cluster, nil) %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, link_to("Modules", clusters_path) + content_tag(:span, '/', class: 'divider') %>
  <%= content_tag :li, "#{@cluster.name}", class: 'active' %>
<% end %>

<%= content_for :top_over do %>
<div class="hero-unit">
  <div class="row-fluid" id='about'>
    <%= content_tag :div, class: 'cover span3 hidden-phone' do %>
      <%= link_to image_tag(@cluster.cluster_bucket.cover ? @cluster.cluster_bucket.cover.assetfile.big_thumb.url : "icons/no_picture.svg"), polymorphic_path([@cluster, @cluster.cluster_bucket]) %>
      <%= link_to 'Edit picture', polymorphic_path([@cluster, @cluster.cluster_bucket]), class: 'change-asset' if can? :edit, @cluster %>
    <% end if @cluster.cluster_bucket %>
    <%= content_tag :div, class: "#{(@cluster.cluster_bucket ? 'span9' : 'span12')} description" do %>
      <h1>
        <%= @cluster.name %><%= yield(:edit_section) %>
      </h1>
      <%= content_tag :div, @cluster.description.present? ? markdown(@cluster.description) : content_tag(:p, "No abstract to show."), class: 'text' %>
      <%= render partial: "shared/member", collection: @members %>
    <% end %>
  </div>
</div>
<% end %>

<% content_for :main_section do %>
  <%= content_tag :div, class: 'documents-list', id: 'bib' do %> 
    <%= content_tag :h4, 'Documents', class: 'muted' %>  
      <table class="table table-bordered">
        <tbody>
          <%= render "documents/without_document_type", :var => @cluster %>
        </tbody>
      </table>
  <% end if @cluster.documents.without_document_type.any? %> 

  <%= content_tag :div, class: 'groups-list', id: 'groups' do %> 
    <%= content_tag :h3, link_to("Groups", cluster_groups_path(@cluster)), class: "muted" %>
    <% @cluster.groups.limit(3).each do |group| %>
      <div class="group-entry well">
        <h3><%= link_to "#{group.name}", group %></h3>
        <% if group.description.present? %>
          <%= markdown(group.description) %>
        <% else %>
          <p>No abstract available</p>
        <% end %>
        <%= content_tag :h4, link_to("Projects", group_projects_path(group)), class: "muted" if group.projects.any? %>
        <%= render group.projects.limit(3) %>
      </div>
    <% end %>
  <% end if @cluster.groups.any? %>

  <%= content_tag :div, class: 'projects-list', id: 'projects' do %> 
    <%= content_tag :h3, link_to("Projects", [@cluster, 'projects']), class: "muted" %>
    <%= render @projects.limit(5).order('created_at DESC') %>

  <% end if @cluster.projects.any? %>

<% end %>

<% content_for :sidebar_section do %>

  <div class="project-options">
    <ul class="nav nav-pills nav-stacked nav-pills-big">
      <%= content_tag :li do %>
        <%= link_to cluster_issues_path(@cluster) do %>
          <i class="icon-exclamation-sign"></i>
          Issues
          <%= content_tag :span, @cluster.issues.count, class: "badge pull-right #{@cluster.issues.where(closed: false).count > @cluster.issues.where(closed: true).count+1 ? @cluster.issues.where(closed: false).count > @cluster.issues.where(closed: true).count+3 ? 'badge-important' : 'badge-warning' : 'badge-success' }" %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@cluster, :groups] do %>
          Groups
          <span class="badge pull-right"><%= @cluster.groups.count %></span>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@cluster, :projects] do %>
          Projects
          <span class="badge pull-right"><%= @projects.count %></span>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@cluster, :documents] do %>
          Documents
          <span class="badge pull-right"><%= @cluster.documents.without_document_type.count %></span>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="cluster-info well">
    <ul class="unstyled">
      <li>Speaker: <%= name_only_or_link_to(@cluster.speaker) %></li>
      <li>Admin: <%= name_only_or_link_to(@cluster.cluster_admin) %></li>
      <small>
        <li style="margin-top:20px;">Creator: <%= name_only_or_link_to(@cluster.creator) %></li>
        <li>Created on: <%= @cluster.created_at.strftime('%d. %b %Y (%H:%M)') %></li>
      </small>
    </ul>
    <%= content_tag :h4, 'Contact', style: 'padding-top:20px;' if @cluster.contact %>
    <p><%= markdown(@cluster.contact) if @cluster.contact %></p>
    <%= link_to "Introduction Document", polymorphic_path([:new, @cluster, :document], :document_type => "Introduction") if !@cluster.documents.doctype('Introduction') && (can? :create, @cluster.documents) %>
  </div>
<% end %>