<% title @cluster.name, nil, false %>
<% edit_section_for(@cluster, nil) if @cluster.cluster_admin == current_user || @cluster.creator == current_user || current_user.superuser? %>

<% content_for :add_section do %>
  <li><%= link_to 'Ungrouped project', new_cluster_project_path(@cluster) %></li>
  <li><%= link_to 'Group', new_group_path(:cluster_id => @cluster) %></li>
  <li class="divider"></li>
  <li><%= link_to "Introduction Document", polymorphic_path([:new, @cluster, :document], :document_type => "Introduction") if !@cluster.documents.doctype('Introduction') %></li>
  <li><%= link_to 'Document', polymorphic_path([:new, @cluster, :document]) %></li>
<% end if can? :edit, @cluster %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, link_to("Modules", clusters_path) + content_tag(:span, '/', class: 'divider') %>
  <%= content_tag :li, "#{@cluster.name}", class: 'active' %>
<% end %>

<%= content_for :top_over do %>
<div class="hero-unit">
  <div class="row-fluid" id='about' style="padding-bottom:30px;">
    <%= content_tag :div, class: 'span3' do %>
      <%= link_to (image_tag @cluster_bucket.cover.assetfile.big_thumb.url, class: "img-polaroid"), polymorphic_path([@cluster, @cluster_bucket]) if @cluster_bucket %>
    <% end if @cluster_bucket.cover %>
    <%= content_tag :div, class: (@cluster_bucket.cover ? 'span9' : 'span12') do %>
      <h1><%= @cluster.name %></h1>
      <p><%= markdown(@cluster.description) if @cluster.description %></p>
      <%= link_to '(Edit picture)', polymorphic_path([@cluster, @cluster_bucket]), class: 'change-asset' if can? :edit, @cluster %>
    <% end %>
  </div>
</div>
<% end %>

<% content_for :main_section do %>

    <%= render "documents/with_document_type", var: @cluster, dtype: "Introduction" if @cluster.documents.doctype('Introduction') %>
    <%= render "documents/without_document_type", :var => @cluster %>

    <%= content_tag :h4, link_to("Groups", cluster_groups_path(@cluster)), class: "muted" if @cluster.groups.present? %>
    <% @cluster.groups.each do |group| %>
      <div class="group-entry well">
      <h3><%= link_to "#{group.name}", group %></h3>
      <% if group.documents.doctype('Introduction').present? %>
          <%= render "documents/with_document_type", var: group, dtype: "Introduction" if group.documents.doctype('Introduction') %>
        <% else %>
        <p>No Introduction available</p>
        <% end %>
      </div>
    <% end %>
  
    <%= content_tag :h4, link_to("Projects", [@cluster, 'projects']), class: "muted" if @cluster.projects.present? %>
    <% @all_projects.each do |project| %>
      <div class="project-entry well">
        <h4>
          <%= link_to [project.projectable, project] do %>
            <%= project.projectable.name if project.projectable_type == "Cluster" %>
            <% if project.projectable_type == "Group" %>
              <%= project.projectable.cluster.name %> /
              <%= project.projectable.name %>
            <% end %>
            /
            <%= project.name %>
          <% end %>
        </h4>

        <% if project.documents.doctype('Introduction').present? %>
          <%= render "documents/with_document_type", var: project, dtype: "Introduction" if project.documents.doctype('Introduction') %>
        <% else %>
          <p>No Introduction available</p>
        <% end %>
      </div>
    <% end %>
<% end %>

<% content_for :sidebar_section do %>
    <ul class="nav nav-tabs" style="margin-left:20px;">
      <%= content_tag :li, link_to('Overview', "#overview", data: {toggle: 'tab'}), class: 'active' %>
      <%= content_tag :li, link_to('Members', "#members", data: {toggle: 'tab'}) if @members %>
      <%= content_tag :li, link_to('Groups & Projects', "#projects", data: {toggle: 'tab'}) if @cluster.projects || @cluster.groups %>
    </ul>

    <div class="tab-content" id="sidebar" style="margin-left:20px;">
      <div class="tab-pane active" id="overview">
        <ul class="unstyled">
          <li>Speaker: <%= name_only_or_link_to(@cluster.speaker) %></li>
          <li>Admin: <%= name_only_or_link_to(@cluster.cluster_admin) %></li>

          <small>
            <li style="margin-top:20px;">Creator: <%= name_only_or_link_to(@cluster.creator) %></li>
            <li>Created on: <%= @cluster.created_at.strftime('%d. %b %Y (%H:%M)') %></li>
          </small>
        </ul>
        <%= content_tag :h4, 'Contact', style: 'padding-top:20px;' if @cluster.contact %>
        <p><%= markdown(@cluster.contact) if @cluster.contact %></p>
      </div>
      <%= content_tag :div, class: 'tab-pane', id: 'members' do %>
        <ul class="unstyled">
          <% for member in @members do %>
            <li><%= name_only_or_link_to(member) %></li>
          <% end %>
        </ul>
      <% end if @members %>
      <%= content_tag :div, class: 'tab-pane', id: 'projects' do %>
        <% if @cluster.groups.present? %>
          <h5 class="muted">Groups</h5>
          <ul class="unstyled">
            <% for group in @cluster.groups do %>
              <li><%= link_to "#{group.name}", group %></li>
            <% end %>
          </ul>
        <% end %>
        <% if @cluster.projects.present? %>
          <h5 class="muted">Ungrouped Projects</h5>
          <ul class="unstyled">
            <% for project in @cluster.projects do %>
              <li><%= link_to "#{project.name}", project %></li>
            <% end %>
          </ul>
        <% end %>
      <% end if @cluster.projects || @cluster.groups %>
    </div>
<% end %>