  <div class="well">
  	<%= content_tag :p, 'Reply on' if nested %>
  	<p class="muted"><strong><%= comment.creator.available_name %></strong> on <%= comment.created_at.strftime('%d. %b %Y (%H:%M)') %><%= content_tag :span, 'edited', class: 'pull-right text-warning' if comment.edited? %><%= tagging_infos_for(comment) %></p>
  	<%= render partial: 'comments/comment', locals: { comment: comment.parent, nested: true } if comment.parent %>
    <p><%= markdown comment.content %></p>
    <%= content_tag :p, id: "comment_id_#{comment.id}" do %>
      <%= content_tag :span, (link_to('Reply', polymorphic_path([:new, comment.commentable, :comment], :parent_id => comment.id), remote: true) + ' | '), id: 'add_reply_link' if comment.depth < 2 %>
      <%= link_to 'Edit', polymorphic_path([:edit, comment.commentable, comment])  %>
      <small><%= link_to 'Delete', [comment.commentable, comment], confirm: 'Please be aware that you also will delete all child comments', method: :delete, class: 'pull-right' %></small>
    <% end if (can? :manage, comment.commentable) && !nested %>
  </div>