<%= form_for [@commentable, @comment] do |f| %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :parent_id %>

  <div class="control-group">
    <%= f.label :content, class: 'control-label hidden' %>
    <div class="controls">
      <%= f.text_area :content, rows: 4, class: size ||= nil %>
    </div>
  </div>
  <%= f.submit "Speichern", :class => 'btn btn-mini' %>
<% end %>