<fieldset>
    <div class="large-6 columns">
      <%= f.label :start %>
      <%= f.date_select :start %>
    </div>
    <div class="large-6 columns">
      <%= f.label :end %>
      <%= f.date_select :end %>
    </div>
  <small><%= f.link_to_remove "remove" %></small>
</fieldset>