<fieldset>
    <div class="control-group">
      <%= f.label :start, class: 'control-label' %>
      <div class="controls">
      	<%= f.date_select :start %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :end, class: 'control-label' %>
      <div class="controls">
      	<%= f.date_select :end %>
      </div>
      <small><%= f.link_to_remove "remove", class: 'controls' %></small>
    </div>
  
</fieldset>