<%= nested_form_for @person, :html => {:class => "custom"} do |f| %>
<%= f.error_messages %>
<%= f.hidden_field :user_id %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :grade %>
    <%= f.select(:grade, Person::GRADES, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :nickname, 'Short code' %>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select("date_of_birth", start_year: 1840, include_blank: true) %>
  </div>
  <div class="field">
    <%= f.label :date_of_death %>
    <%= f.date_select("date_of_death", start_year: 1900, include_blank: true) %>
  </div>
  <div class="field">
    <%= f.label :profession %>
    <%= f.text_field :profession %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select(:gender, Person::GENDER, :include_blank => true) %>
  </div>

  <%= f.fields_for :engagements do |builder| %>
    <%= render "engagement_fields", :f => builder %>
  <% end %>
  <%= f.link_to_add "Add a activity timespan", :engagements %>

  <div class="field">
    <%= f.label :public_email %>
    <%= f.text_field :public_email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
