<%= nested_form_for @person, :html => {:class => "form-horizontal"} do |f| %>
<%= f.error_messages %>
<%= f.hidden_field :user_id %>

  <% if user_signed_in? && @person.user_id == current_user.id %>
    <div class="row">
      <div class="span12">
        <% unless @person.new_record? %>
          <p><%= link_to "Edit your account", edit_user_registration_path %> | 
          <%= link_to "Delete Account-Profile connection", user_disconnect_path(:user_id => current_user), method: :post, data: { confirm: 'Are you sure?'} %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="span12">
      <h4 class="muted">Personal</h4>
    </div>

    <%= f.fields_for :names do |builder| %>
      <%= render "name_fields", :f => builder %>
    <% end %>
    <div style='margin-top:-15px; padding-bottom:15px;'>
      <small><%= f.link_to_add "Add Name", :names, class: 'controls' %></small>
    </div>

    <div class="control-group">
      <%= f.label :grade, class: 'control-label' %>
      <div class="controls">
        <%= f.select(:grade, Person::GRADES, :include_blank => true) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :nickname, 'Alias', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :nickname %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :gender, class: 'control-label' %>
      <div class="controls">
        <%= f.select(:gender, Person::GENDER, :include_blank => true) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :profession, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :profession %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :date_of_birth, 'Birthday', class: 'control-label' %>
      <div class="controls">
        <%= f.date_select("date_of_birth", start_year: 1830, include_blank: true) %>
      </div>
    </div>
    <div class="control-group">
      <small><%= link_to("Add day of death", '#', class: "controls", id: 'add-day-of-death') %></small>
      <div id='death'>
        <%= f.label :date_of_death, 'Day of death', class: 'control-label' %>
        <div class="controls">
          <%= f.date_select("date_of_death", start_year: 1900, include_blank: true) %>
        </div>
      </div>
    </div>


    <div style="margin-top:40px;">
      <div class="span12">
        <h4 class="muted">Contact Information</h4>
      </div>

      <%= f.fields_for :affiliations do |builder| %>
        <%= render "institution_fields", :f => builder %>
      <% end %>
      <div style='margin-top:-15px; padding-bottom:15px;'>
        <small><%= f.link_to_add "Add Institution", :affiliations, class: 'controls' %></small>
      </div>
      
      <div class="controls">
        <%= f.label :show_inst_address, class: 'checkbox' do %>
          <%= f.check_box :show_inst_address %>
          Show the primary institutes address in the profile
        <% end %>
      </div>
      
      <hr class="controls">

      <div class="control-group">
        <%= f.label :public_email, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :public_email, class: 'input-xlarge' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :phone, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :phone, class: 'input-xlarge' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :fax, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :fax, class: 'input-xlarge' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :uri, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :uri, class: 'input-xlarge' %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Speichern", :class => 'btn btn-primary' %>
      <% if @person.new_record? %>
        <%= link_to 'Abbrechen', :back, :class => 'btn' %>
      <% else %>
        <%= link_to 'Abbrechen', @person, :class => 'btn' %>
      <% end %>
    </div>
  </div>

<% end %>
