<% title "People", nil %>

<% content_for :add_section do %>
  <li><%= link_to 'Person', new_person_path %></li>
  <li><%= link_to "Your profile", new_person_path(:user_id => current_user, :alias => current_user.username) unless current_user.person %></li>
<% end if can? :edit, @people %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li class="active">People</li>
<% end %>

<% content_for :main_section do %>
  <%= content_tag :div, class: 'span12' do %>
    <div class="options" style="">
      Other filters
      <%= form_tag people_path, :method => 'get', :id => "people_search", class: 'form-search pull-right' do %>
        <%= text_field_tag :search, params[:search], class: 'search-query' %>
        <%= submit_tag "Search", :name => nil, class: 'btn' %>
      <% end %>
    </div>
    <div id="people" style="padding-top:50px;"><%= render "people_groups", people: @people %></div>
    
  <% end %>
<% end %>