<% title graded_fullname(@person), nil %>

<% content_for :link_section do %>
<div class="button-bar right">
  <ul class="button-group">
    <% if can? :edit, @person %>
      <% if (!@person.user_id?) || (@person.user_id == current_user.id) %>
      <%= link_to 'Edit', edit_person_path(@person), class: "button small" %>
      <%= link_to 'Delete', @person, method: :delete, data: { confirm: 'Are you sure?' }, class: "button small alert" %>
    <% end %>
    <% end %>
  </ul>
</div>
<% end %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "Explore", explore_path %>
    <%= link_to 'People', people_path %>
    <%= link_to "#{graded_fullname(@person)}", @person %>
  </nav>
<% end %>

<% content_for :main_section do %>
  <section>
    <h4>General Information, Activities | Curriculum Vitae | Publications</h4>
    <p>Areas, Groups, Projects | Email, Telefon, Fax, Address (durch Institution), Institut</p>
  </section>

  <section>
    <h4>Publications on Babylon</h4>
    <ul>
      <% for reference in @person.references do %>
        <li><%= link_to "#{reference.title}", reference %></li>
      <% end %>
    </ul>
  </section>
  <section>
    <h4>Buckets</h4>
    <ul>
      <% for bucket in @buckets do %>
        <li>
          <h4><%= link_to "#{bucket.name}", [@attachable, bucket] %></h4> 
          <ul class="small-block-grid-2 large-block-grid-4">
            <% for asset in bucket.assets.where('content_type LIKE ?', 'image%').limit(8).order('created_at desc') do %>
              <li><%= link_to (image_tag asset.assetfile.thumb.url), asset, class: "th radius" %></li>
            <% end %>
          </ul>
          <%= bucket.cover_asset_id %>
          <% if can? :edit, @person %>
            <% if (!@person.user_id?) || (@person.user_id == current_user.id) %>
              <%= link_to "Add asset", new_bucket_asset_path(bucket) %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>

<% end %>

<% content_for :note_section do %>
  <div class="content">
    <% if @buckets.with_profile_pictures.first.cover_asset_id %>
      <%= link_to (image_tag @profile_picture.assetfile.small.url), @profile_picture, class: "th" %>
    <% end %>
    <p><b>Shortcut:</b><%= @person.nickname %></p>
    <p><b>Date of birth:</b><%= @person.date_of_birth.strftime("%d.%m.%Y") unless @person.date_of_birth.blank? %></p>
    <p><b>Date of death:</b><%= @person.date_of_death.strftime("%d.%m.%Y") unless @person.date_of_death.blank? %></p>
    <p><b>Profession:</b><%= @person.profession %></p>
    <p><b>Gender:</b><%= @person.gender %></p>
    <p><b>Email:</b><%= @person.public_email %></p>
    <p><b>Username:</b><%= @person.user.username if @person.user %></p>
    <p><b>Created by:</b><%= @person.creator.available_name %></p>
    <p><b>Updated by:</b><%= @person.updater.available_name %></p>
  </div>
<% end %>