<% title graded_fullname(@person), nil %>
<% edit_section_for(@person, nil) if user_signed_in? && ((!@person.user_id?) || (@person == current_user.person)) || (can? :administrate, 'all') %>
<% publishing_section_for(@person) %>

<% content_for :add_section do %>
  <li><%= link_to "General Information", polymorphic_path([:new, @person, :document], :document_type => "General Information") unless @person.documents.doctype('General Information') %></li>
  <li><%= link_to "Curriculum Vitae", polymorphic_path([:new, @person, :document], :document_type => "Curriculum Vitae") unless @person.documents.doctype('Curriculum Vitae') %></li>
  <%= content_tag :li, '', class: "divider" unless (@person.documents.doctype('Curriculum Vitae')) && (@person.documents.doctype('General Information')) %>
  <li><%= link_to 'Upload bucket', polymorphic_path([:new, @person, :bucket]) %></li>
<% end if user_signed_in? && ((!@person.user_id?) || (@person == current_user.person)) %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'People', people_path %> <span class="divider">/</span></li>
  <li class="active"><%= graded_fullname(@person) %></li>
<% end %>

<% content_for :main_section do %>
    <%= content_tag :p, (@person.primary_or_first_institution.self_and_ancestors.map{ |a| link_to(a.name,a) }.join(", ").html_safe) if @person.institutions.any? %>
    <ul class="nav nav-tabs">
      <%= content_tag :li, link_to('Docs', "#docs", data: {toggle: 'tab'}), class: 'active' %>
      <%= content_tag :li, link_to('Public Activity', "#updates", data: {toggle: 'tab'}) if @person.user %>
      <%= content_tag :li, link_to('Projects', "#memberships", data: {toggle: 'tab'}) if @person.user %>
      <%= content_tag :li, link_to('Publications', "#pubs", data: {toggle: 'tab'}) %>
      <%= content_tag :li, link_to('Uploads', "#uploads", data: {toggle: 'tab'}) %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="docs">
        <div id="general">
          <% if @person.documents.doctype('General Information') %>
            <%= render "documents/with_document_type", var: @person, dtype: "General Information" %> 
          <% end %>
        </div>
    
        <div id="cv">
          <% if @person.documents.doctype('Curriculum Vitae') %>
            <%= render "documents/with_document_type", var: @person, dtype: "Curriculum Vitae" %>  
          <% end %>
        </div>
      </div>
      <%= content_tag :div, class: 'tab-pane', id: 'updates' do %>
        Activity feed
      <% end if @person.user %>
      <%= content_tag :div, class: 'tab-pane', id: 'memberships' do %>
        <% @person.user.projects.each do |project| %>
          <div class="project-entry well">
            <h3><%= link_to "#{project.name}", project %></h3>
            <% if project.documents.doctype('Introduction').present? %>
              <%= render "documents/with_document_type", var: project, dtype: "Introduction" if project.documents.doctype('Introduction') %>
            <% else %>
              <p>No Introduction available</p>
            <% end %>
          </div>
        <% end %>    
      <% end if @person.user %>
      <div class="tab-pane" id="pubs">
        <div id="publications">
          <% if @person.references.present? %>
            <h4 class="muted">Authorship</h4>
            <%= render "references/bib_entries", :references => @references %>
          <% end %>
    
          <% if @person.books.present? %>
            <h4 class="muted">Editorship</h4>
            <%= render "books/book_entries", :books => @person.books %>
          <% end %>
        </div>     
      </div>
      <div class="tab-pane" id="uploads">
        <div id="uploads">
          <%= render "shared/buckets_assets", :obj => @person, :personal => true %>
        </div>
      </div>
    </div>
<% end %>

<% content_for :sidebar_section do %>
  <div class="vcard">
    <address>
    <%= link_to (image_tag @person.profile_picture.assetfile.small.url, class: "img-polaroid", style: "margin-bottom:20px;"), @person.profile_picture if @person.profile_picture %>

    <h5 class="muted">Personal Information</h5>
    <ul class="unstyled">
      <%= content_tag :li, (content_tag :span, graded_fullname(@person), class: "fn") + (content_tag :span, ' (' + @person.nickname + ')' if @person.nickname.present?) %>
      <%= content_tag :li, 'System Username: '+@person.user.username if @person.user %>
      <%= content_tag :li, 'Birthday: '+@person.date_of_birth.strftime("%d.%m.%Y") if @person.date_of_birth.present? %>
      <%= content_tag :li, 'Day of death: '+@person.date_of_death.strftime("%d.%m.%Y") if @person.date_of_death.present? %>
      <%= content_tag :li, @person.profession if @person.profession.present? %>
      <%= content_tag :li, @person.gender if @person.gender.present? %>
    </ul>

    <% if @person.affiliations.any? %>
      <%= content_tag :div, style: "margin-top:20px;" do %>
        <h5 class="muted" style="margin-top:20px;">Primary institution</h5>
        <ul class="unstyled">
          <% for affiliation in @person.affiliations.where(primary: true) %>
            <li><%= link_to "#{affiliation.institution.name}", affiliation.institution %></li>
          <% end %>
        </ul>
      <% end if @person.affiliations.where(primary: true).any? %>

      <%= content_tag :div, style: "margin-top:20px;" do %>
        <h5 class="muted" style="margin-top:20px;">Other institutions</h5>
        <ul class="unstyled">
          <% for affiliation in @person.affiliations.where(primary: false) %>
            <li><%= link_to "#{affiliation.institution.name}", affiliation.institution %></li>
          <% end %>
        </ul>
      <% end if @person.affiliations.where(primary: false).any? %>
    <% end %>


    <%= link_to (image_tag('microformat-logo-small.png', class: "pull-right", style: "")), '' %>
    <h5 class="muted">Contact Information</h5>
    <ul class="unstyled">
      <%= content_tag :li, prepend('envelope')+@person.public_email, class: "email" if @person.public_email.present? %>
      <%= content_tag :li, prepend('bullhorn')+(content_tag :abbr, (content_tag :span, @person.phone, class: "value"), class: 'type', title: 'Office'), class: "tel" if @person.phone.present? %>
      <%= content_tag :li, prepend('inbox')+(content_tag :abbr, (content_tag :span, @person.fax, class: "value"), class: 'type', title: 'Fax'), class: "tel" if @person.fax.present? %>
      <%= content_tag :div, class: "adr", style: "margin-top:10px;margin-bottom:10px;padding-left:25px;" do %>
        <%= content_tag :li, prepend('home', '-25px')+(@person.primary_or_first_institution.root.self_and_descendants-@person.primary_or_first_institution.descendants-@person.primary_or_first_institution.siblings).map{ |a| a.name }.join(", "), class: "org" %>
        <%= content_tag :li, @person.primary_or_first_institution.street, class: "street-address" %>
        <%= content_tag :li, (content_tag :span, @person.primary_or_first_institution.zip, class: "postal-code")+' '+(content_tag :span, @person.primary_or_first_institution.city, class: "locality") %>
        <%= content_tag :li, @person.primary_or_first_institution.country, class: "country-name" %>
      <% end if @person.institutions.any? && @person.show_inst_address == true -%>
      <%= content_tag :li, prepend('globe')+(link_to "#{@person.uri}", "#{@person.uri}"), class: "url" if @person.uri.present? %>
    </ul>
    </address>

    <% if @person.user %>
      <h5 class="muted" style="margin-top:50px;">Projects</h5>
      <ul class="unstyled">
        <% for membership in @person.user.memberships %>
          <li><%= link_to "#{membership.project.name}", membership.project %></li>
        <% end %>
      </ul>
    <% end %>

    <h5 class="muted" style="margin-top:75px;">Record</h5>
    <ul class="unstyled">
      <li>Created by: <%= @person.creator.available_name %></li>
      <li>Updated by: <%= @person.updater.available_name %></li>
    </ul>

  </div>
<% end %>