<% title graded_fullname(@person), nil, nil %>
<% edit_section_for(@person, nil) if user_signed_in? && ((!@person.user_id?) || (@person == current_user.person)) || (can? :manage, 'personal-informations') %>
<% footer_section(@person) %>


<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'People', people_path %> <span class="divider">/</span></li>
  <li class="active"><%= graded_fullname(@person) %></li>
<% end %>

<% content_for :top_over do %>
  <div class="row-fluid" style="">
    <%= content_tag :div, class: 'span3' do %>">
      <%= link_to (image_tag @person.profile_picture.assetfile.small.url, class: "img-polaroid", style: "margin-top:20px;"), @person.profile_picture if @person.profile_picture %>
    <% end if @person.profile_picture %>
    <div class="<%= @person.profile_picture ? 'span6' : 'span9' %>">
      <h1>
        <%= graded_fullname(@person) %>
        <%= yield(:edit_section) %>
      </h1>
      <ul class="unstyled">
        <%= content_tag :li, @person.profession if @person.profession.present? %>
        <%= content_tag :li, (@person.primary_or_first_institution.self_and_ancestors.map{ |a| link_to(a.name,a) }.join(", ").html_safe) if @person.institutions.any? %>
      </ul>
      <ul class="unstyled">
        <%= content_tag :li do %>
          <%= content_tag :span, graded_fullname(@person), class: "fn" if @person.grade.present? %>
          <%= content_tag :span, ' (' + @person.nickname + ')' if @person.nickname.present? %>
        <% end %>
        <%= content_tag :li, 'System Username: '+@person.user.username if @person.user %>
        <%= content_tag :li, 'Birthday: '+@person.date_of_birth.strftime("%d.%m.%Y") if @person.date_of_birth.present? %>
        <%= content_tag :li, 'Day of death: '+@person.date_of_death.strftime("%d.%m.%Y") if @person.date_of_death.present? %>
        <%= content_tag :li, @person.profession if @person.profession.present? %>
        <%= content_tag :li, @person.gender if @person.gender.present? %>

        <% if @person.affiliations.any? %>
          <br />
          <% for affiliation in @person.affiliations.where(primary: true) %>
            <li>Primary institution: <%= link_to "#{affiliation.institution.name}", affiliation.institution %></li>
          <% end if @person.affiliations.where(primary: true).any?  %>
          <%= content_tag :li do %>
            Institutions: <%= @person.affiliations.where(primary: false).map{ |a| link_to((a.institution.name),a.institution) }.join(", ").html_safe %>
          <% end if @person.affiliations.where(primary: false).any? %>
        <% end %>
      </ul>
    </div>
    <div class="span3 vcard" style="margin-top:10px;">
      <address>
        <%= link_to (image_tag('microformat-logo-small.png', class: "pull-right", style: "")), '' %>
        <%= content_tag :h5, 'Contact Information', class: 'muted' if @person.public_email.present? || @person.phone.present? || @person.fax.present? || (@person.institutions.any? && @person.show_inst_address == true) || @person.uri.present? %>
        <ul class="unstyled">
          <%= content_tag :li, prepend('envelope')+@person.public_email, class: "email" if @person.public_email.present? %>
          <%= content_tag :li, prepend('bullhorn')+(content_tag :abbr, (content_tag :span, @person.phone, class: "value"), class: 'type', title: 'Office'), class: "tel" if @person.phone.present? %>
          <%= content_tag :li, prepend('inbox')+(content_tag :abbr, (content_tag :span, @person.fax, class: "value"), class: 'type', title: 'Fax'), class: "tel" if @person.fax.present? %>
          <%= content_tag :div, class: "adr", style: "margin-top:10px;margin-bottom:10px;padding-left:25px;" do %>
            <%= content_tag :li, prepend('home', '-25px')+(@person.primary_or_first_institution.root.self_and_descendants-@person.primary_or_first_institution.descendants-@person.primary_or_first_institution.siblings).map{ |a| a.name }.join(", "), class: "org" %>
            <%= content_tag :li, @person.primary_or_first_institution.street, class: "street-address" %>
            <%= content_tag :li, (content_tag :span, @person.primary_or_first_institution.zip, class: "postal-code")+' '+(content_tag :span, @person.primary_or_first_institution.city, class: "locality") %>
            <%= content_tag :li, @person.primary_or_first_institution.country, class: "country-name" %>
          <% end if @person.institutions.any? && @person.show_inst_address == true -%>
          <%= content_tag :li, prepend('globe')+(link_to "#{@person.uri}", "#{@person.uri}"), class: "url" if @person.uri.present? %>
        </ul>
      </address>
    </div>
  </div>
  <div class="row">
    <div class="span12"><hr></div>
  </div>
<% end %>

<% content_for :main_section do %>
  <div class="row-fluid">
    <div class="span9" id="scroll-pane" data-target="#scroll-nav">
      <%= content_tag :section, id: 'about', class: 'person-section' do %>
        <%= markdown(@person.general) if @person.general.present? %>
        <%= content_tag :h2, 'Curriculum Vitae' if @person.cv.present? && @person.general.present? %>
        <%= markdown(@person.cv) if @person.cv %>       
      <% end %>

      <%= content_tag :section, id: 'documents' do %>
        <div class="page-header">
          <h2>
            Documents
            <%= link_to polymorphic_path([:new, @person, :document]), class: 'btn btn-create pull-right' do %>
              <i class="icon-plus icon-white"></i>
              Document
            <% end if user_signed_in? && (can? :manage, @person) %>
          </h2>
        </div>
        <% if @person.documents.any? %>
          <%= render "documents/without_document_type", var: @person %>
        <% else %>
          <p>No documents to show.</p>
        <% end %>
      <% end %>

      <%= content_tag :section, id: 'updates' do %>
        <div class="page-header">
          <h2>Public Activity</h2>
        </div>
        <%= content_tag :div, id: "activity-section", style: '' do %>
          <% @person.user.activities.order('created_at DESC').limit(10).each do |activity| %>
            <%= ActivityPresenter.new(activity, self).render_activity %>
          <% end %>
          <p>
            <%= link_to "View all activities for #{@person.name}", person_activities_path(@person) %>
          </p>
        <% end %>
      <% end if @person.user %>

      <%= content_tag :section, id: 'projects' do %>
        <div class="page-header">
          <h2>Projects</h2>
        </div>
        <%= render @person.user.projects %>  
      <% end if @person.user %>

      <%= content_tag :section, id: 'publications' do %>
        <div class="page-header">
          <h2>Publications</h2>
        </div>
          <% if @person.references.present? %>
            <h4 class="muted">Authorship</h4>
            <%= render "references/bib_entries", :references => @person.references %>
          <% end %>
    
          <% if @person.books.present? %>
            <h4 class="muted">Editorship</h4>
            <%= render "books/book_entries", :books => @person.books %>
          <% end %>
    
      <% end %>

      <%= content_tag :section, id: 'uploads' do %>
        <div class="page-header">
          <h2>
            Pictures
            <%= link_to polymorphic_path([:new, @person, :bucket]), class: 'btn btn-create pull-right' do %>
              <i class="icon-plus icon-white"></i>
              Bucket
            <% end if user_signed_in? && (can? :manage, @person) %>
          </h2>
        </div>
        <%= render @person.buckets, :personal => true %>
      <% end %>
    </div>


  <div class="span3 person-sidebar">
  <div id="scroll-nav" data-spy="affix" data-offset-top="260" class="affix-top">
    <ul class="nav nav-tabs nav-stacked nav-list">
      <%= content_tag :li do %>
        <%= link_to "#about" do %>
          <i class="icon-chevron-left"></i>
          About
        <% end %>
      <% end if @person.cv.present? || @person.general.present? %>
      <%= content_tag :li, class: '' do %>
        <%= link_to "#documents" do %>
          <i class="icon-chevron-left"></i>
          Documents
        <% end %>
      <% end %>
      <%= content_tag :li, class: '' do %>
        <%= link_to "#updates" do %>
          <i class="icon-chevron-left"></i>
          Activity
        <% end %>
      <% end if @person.user %>
      <%= content_tag :li, class: '' do %>
        <%= link_to "#projects" do %>
          <i class="icon-chevron-left"></i>
          Projects
        <% end %>
      <% end if @person.user %>
      <%= content_tag :li, class: '' do %>
        <%= link_to "#publications" do %>
          <i class="icon-chevron-left"></i>
          Publications
        <% end %>
      <% end %>
      <%= content_tag :li, class: '' do %>
        <%= link_to "#uploads" do %>
          <i class="icon-chevron-left"></i>
          Uploads
        <% end %>
      <% end %>
    </ul>
  </div>
  </div>
</div>

<% end %>