<% title (@issuable ? "Issues on #{link_to @issuable.name, @issuable} #{content_tag :small, "[#{@issuable.class}]"}".html_safe : "All issues"), nil %>
<% content_for :edit_section do %>
      <div class="pull-right" style="">
        <%= link_to [:new, @issuable, :issue], class: 'btn btn-default' do %>
          <i class="icon-plus"></i>
          Issue
        <% end if @issuable && can?(:create, Issue) %>
      </div>
<% end %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, (link_to @issuable.class.name.pluralize, [@issuable.class]) + content_tag(:span, '/', class: 'divider')) if @issuable %>
  <%= content_tag(:li, (link_to @issuable.name, @issuable) + content_tag(:span, '/', class: 'divider')) if @issuable %>
  <%= content_tag :li, "Issues", class: 'active' %>
<% end %>


<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span3">
    <div class="issues-options">
      <ul class="nav nav-pills nav-stacked">
        <%= content_tag :li, link_to("Everyone's Issues", polymorphic_url([@issuable, :issues], state: params[:state])), class: "#{'active' unless params[:creator] || params[:assignee] || params[:aspect]}" %>
        <%= content_tag :li, link_to("Created by you", polymorphic_url([@issuable, :issues], creator: current_user, state: params[:state])), class: "#{'active' if params[:creator] }" %>
        <%= content_tag :li, link_to("Assigned to you", polymorphic_url([@issuable, :issues], assignee: current_user, state: params[:state])), class: "#{'active' if params[:assignee]}" %>
        <!--<%= content_tag :li, link_to("Current projects", polymorphic_url([@issuable, :issues], aspect: current_aspect, state: params[:state])), class: "#{'active' if params[:aspect]}" if aspect? %>-->
      </ul>
      <hr>
      <%= content_tag :h4, 'Labels' %>
      <ul class="nav nav-pills nav-stacked">
        <li>todo</li>
      </ul>
    </div>
  </div>
  <div class="span9">
    <div class="issues-options">
      <div class="btn-group">
        <%= link_to "Open", polymorphic_url([@issuable, :issues], state: 'open', creator: params[:creator], assignee: params[:assignee]), class: "btn btn-small #{'active' if params[:state]=='open'}" %>
        <%= link_to "Closed", polymorphic_url([@issuable, :issues], state: 'closed', creator: params[:creator], assignee: params[:assignee]), class: "btn btn-small #{'active' if params[:state]=='closed'}" %>
      </div>
    </div>
    <div class="issues-list">
      <% if @issues.any? %>
        <%= render @issues %>
      <% else %>
        <div class="well" style="">
          <p class="text-center">Nothing to show. <%= content_tag :span, link_to('Create a issue', [:new, @issuable, :issue])+' or ' if @issuable %><%= link_to 'back to previous page', :back %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>