<%= form_for @snippet, html: { class: 'form-horizontal' } do |f| %>

  <%= f.error_messages %>
  <%= f.hidden_field :snippet_type, value: 'news' if @snippet.new_record? %>

  
    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, class: 'span8' %>
      </div>
    </div>

    <div class="control-group">  
      <div class="controls">
        <label class="checkbox">
          <%= f.check_box :pinned %> Pinned?
        </label>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, rows:6, class: 'span8' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :content, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, class: 'span8' %>
        <p>Use Markdown for formatting. <a href="#" data-toggle="collapse" data-target="#md-info">See examples.</a></p>
        <div class="collapse" id="md-info">
          <%= render 'shared/md-info' %>
        </div>
      </div>
    </div>

    <div class="form-actions" style="">

      <%= f.submit "Speichern", :class => 'btn btn-primary' %>
      <% if @snippet.new_record? %>
        <%= link_to 'Abbrechen', snippets_path, :class => 'btn' %>
      <% else %>
        <%= link_to 'Abbrechen', :back, :class => 'btn' %>
      <% end %>

    </div>

  <% content_for :top_over do %>
    <h1><%= @snippet.new_record? ? 'Write a new post' : @snippet.name %>

    </h1>
    <%= content_tag :small do %>
      Originally posted by <%= name_only_or_link_to(@snippet.creator) %> on <%= @snippet.created_at.strftime('%d. %m %Y') %>
    <% end unless @snippet.new_record? %>
  <% end %>


<% end %>
