<% title "Announcements", nil, nil %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <%= content_tag :li, "Announcements", class: 'active' %>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span12">
    <h1>
      Announcements
      <div class="pull-right" style="">
        <%= link_to "Add announcement", new_snippet_path, class: "btn btn-create" if (can? :create, @snippets) %>
      </div>
    </h1>

    <% @snippets.each do |snippet| %>
      <%= content_tag :h2, snippet.name %>
      <%= content_tag :p, snippet.description, class: 'lead' %>
      <%= link_to 'Show', snippet %> | <%= link_to 'Edit', edit_snippet_path(snippet) %>
      <hr>
    <% end %>
  </div>
</div>
<% end %>

