<% title "Pages", nil, nil %>
<% content_for :edit_section do %>
  <div class="pull-right" style="">
    <%= link_to new_snippet_path, class: 'btn btn-default', style: 'margin-left:10px;' do %>
      <i class="icon-plus"></i>
      Snippet
    <% end if (can? :manage, Snippet) %>
  </div>
<% end %>


<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <%= content_tag :li, "Pages", class: 'active' %>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span6">
    <% @snippets.each do |snippet| %>
      <%= content_tag :h2, snippet.name %>
      <%= content_tag :div, truncated_snippet(snippet), class: '', style: 'margin-top:5px;' if snippet.content %>
      <hr>
    <% end %>
  </div>
</div>
<% end %>

