<% title @snippet.name, nil, nil %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Pages', snippets_path %> <span class="divider">/</span></li>
  <li class="active"><%= @snippet.name %></li>
<% end %>

<% content_for :main_section do %>
  <div class="row-fluid">
  	<div class="span6">
      <h1>
        <%= @snippet.name %>
        <%= link_to 'Edit', edit_snippet_path(@snippet), class: 'btn btn-default btn-small pull-right' if can? :manage, @snippet %>
      </h1>
	  	<div><%= markdown(@snippet.content) if @snippet.content %></div>
	  <div class="assets" style="margin-top:80px;">
	  	<%= render @snippet.buckets, :personal => false %>
	  </div>
	  <%= link_to 'Edit folders', snippet_buckets_path(@snippet) if can?(:manage, @snippet) && can?(:create, Bucket) %>
	</div>
  </div>

<% end %>
