<% title "Announcement #{'- about' if @snippet.snippet_type == 'about'}", @snippet.name %>
<% edit_section_for(@snippet, nil) %>
<% footer_section(@snippet) %>


<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Announcements', snippets_path %> <span class="divider">/</span></li>
  <li class="active"><%= @snippet.name %></li>
<% end %>

<% content_for :main_section do %>
  <div class="row-fluid">
  	<div class="span12">
	  <%= content_tag :i, '', class: 'icon-star-empty pull-right', style: 'margin:10px 15px 0 0' if @snippet.pinned? %>
	  <h4 class="muted">Announcement</h4>
	  <p><%= @snippet.description %></p>
	  <%= link_to 'Edit Buckets', snippet_buckets_path(@snippet) %> | 
	  <%= link_to 'Edit Documents', snippet_documents_path(@snippet) %>
	</div>
  </div>

<% end %>
