<% title "Actions", @item.name %>


<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <li><%= link_to 'Objects', items_path %> <span class="divider">/</span></li>
  <li><%= link_to @item.name, @item %> <span class="divider">/</span></li>
  <%= content_tag :li, "Actions", class: 'active' %>
<% end %>


<% content_for :main_section do %>
  <%= content_tag :div, class: "item-section", id: 'actions' do %>
    <span class="badge"><%= pluralize(@item.actions.count, 'element') %></span>
    <%= content_tag :table, class: 'table table-bordered table-hover' do %>
      <tbody>
        <% for action in @item.actions do %>
          <%= render partial: action.source, locals: {action: action} if action.source %>
        <% end %>
      </tbody>
    <% end %> 
  <% end if @item.actions.any? %>

  <%= link_to 'Show publishing activity', item_references_path(@item) %> | 
  <%= link_to 'Show study activity', item_studies_path(@item) %>

<% end %>