<%= form_for(@group, :html => { :class => 'custom'}) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.hidden_field :area_id %>
  </div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'button' %>
    <% if @group.new_record? %>
      <% if @group.area %>
        <%= link_to 'Abbrechen', @group.area, :class => 'button secondary' %>
      <% else %>
        <%= link_to 'Abbrechen', groups_path, :class => 'button secondary' %>
      <% end %>
    <% else %>
      <%= link_to 'Abbrechen', @group, :class => 'button secondary' %>
    <% end %>
  </div>

<% end %>
