<% title (@cluster ? "Groups" : "All groups"), (@cluster ? link_to(@cluster.name, @cluster).html_safe : nil) %>

<% content_for :edit_section do %>
        <%= link_to [:new, @cluster, :group], class: "btn btn-default pull-right" do %>
          <i class="icon-plus"></i>
          Group
        <% end if @cluster && can?(:create, Group) %>
<% end %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Modules", clusters_path) + content_tag(:span, '/', class: 'divider')) if @cluster %>
  <%= content_tag(:li, link_to(@cluster.name, @cluster) + content_tag(:span, '/', class: 'divider')) if @cluster %>
  <%= content_tag :li, "Groups", class: 'active' %>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span3">
    <%= content_tag :div, class: "documents-options" do %>
      <ul class="nav nav-pills nav-stacked">
        <%= content_tag :li, class: "#{'active' unless params[:mode]}" do %>
          <%= link_to polymorphic_url([@cluster, :groups]) do %>
            All Groups
            <span class="cnt pull-right"><%= @groups.count %></span>
          <% end %>
        <% end %>
        <!-- <%= content_tag :li, class: "#{'active' if params[:mode]=='you-are-in'}" do %>
          <%= link_to polymorphic_url([@cluster, :groups], mode: 'you-are-in'), class: '' do %>
            You are in
            <span class="cnt pull-right"><%= @groups.count %></span>
          <% end %>
        <% end %> -->
      </ul>
    <% end %>
  </div>

  <div class="span9">
    <div class="groups-list row-fluid">
      <% if @groups.any? %>
        <%= render @groups %>
      <% else %>
        <div class="well">
          <p class="text-center">Nothing to show. <%= content_tag :span, link_to('Create a group', [:new, @cluster, :group])+' or ' if @cluster && can?(:create, Group) %><%= link_to 'back to previous page', :back %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>