<% title "Research Groups", nil %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to(@parent.name, @parent) + content_tag(:span, '/', class: 'divider')) if @parent %>
  <%= content_tag :li, "Groups", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span12">
    <% @groups.each do |group| %>
      <div class="group-entry well">
        <h3><%= link_to "#{group.name}", group %></h3>
        <%= group.description ? markdown(group.description) : (content_tag :p, 'No description available') %>
      </div>
    <% end %>
  </div>
<% end %>
