<% title "Group", @group.name %>
<% edit_section_for(@group, @group.cluster) %>

<% content_for :add_section do %>
  <li><%= link_to 'Project', new_group_project_path(@group) %></li>
  <li class="divider"></li>
  <li><%= link_to "Introduction Document", polymorphic_path([:new, @group, :document], :document_type => "Introduction") if !@group.documents.doctype('Introduction') %></li>
  <li><%= link_to 'Document', polymorphic_path([:new, @group, :document]) %></li>
<% end if can? :edit, @group %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Modules", clusters_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("#{@group.cluster.name}", @group.cluster) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Groups", cluster_groups_path(@group.cluster)) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "#{@group.name}", class: 'active' %>
<% end %>

<%= content_for :top_over do %>
<div id="about">
  <div class="row-fluid description">
    <%= content_tag :div, class: 'span12 lead', style: '' do %>
      <p class="">
        <%= @group.description.present? ? markdown(@group.description) : "No abstract to show." %>
      </p>
    <% end %>
  </div>
  <hr>
</div>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span8">

  <%= content_tag :h3, link_to('Projects', group_projects_path(@group)), class: "muted" if @group.projects.present? %>
  <%= render @group.projects.limit(3) %>
  <%= content_tag :div, class: 'documents-list', id: 'bib' do %> 
    <%= content_tag :h4, 'Documents', class: 'muted' %>  
      <table class="table table-bordered">
        <tbody>
          <%= render "documents/without_document_type", :var => @group %>
        </tbody>
      </table>
  <% end if @group.documents.without_document_type.any? %>
  </div>
  <div class="span4">
  <div class="project-options">
    <ul class="nav nav-pills nav-stacked nav-pills-big">
      <%= content_tag :li do %>
        <%= link_to group_issues_path(@group) do %>
          <i class="icon-exclamation-sign"></i>
          Issues
          <%= content_tag :span, @group.issues.count, class: "badge pull-right #{@group.issues.where(closed: false).count > @group.issues.where(closed: true).count+1 ? @group.issues.where(closed: false).count > @group.issues.where(closed: true).count+3 ? 'badge-important' : 'badge-warning' : 'badge-success' }" %>
        <% end %>
      <% end if can? :read, Issue %>
      <%= content_tag :li do %>
        <%= link_to [@group, :projects] do %>
          Projects
          <span class="badge pull-right"><%= @group.projects.count %></span>
        <% end %>
      <% end if can? :read, Project %>
      <%= content_tag :li do %>
        <%= link_to [@group, :documents] do %>
          Documents
          <span class="badge pull-right"><%= @group.documents.without_document_type.count %></span>
        <% end %>
      <% end if can? :read, Document %>
    </ul>
  </div>
  
  <div class="group-info well">
    <ul class="unstyled">
      <li>Module: <%= link_to @group.cluster.name, @group.cluster %></li>
      <li>Speaker: <%= name_only_or_link_to(@group.speaker) %></li>
      <li>Admin: <%= name_only_or_link_to(@group.group_admin) %></li>
      <small>
        <li style="margin-top:20px;">Creator: <%= name_only_or_link_to(@group.creator) %></li>
        <li>Created on: <%= @group.created_at.strftime('%d. %b %Y (%H:%M)') %></li>
      </small>
    </ul>
  </div>
  <%= render partial: "shared/member", collection: @members %>
  </div>
</div>
<% end %>