<% title "Research Group", @group.name, nil %>
<% edit_section_for(@group, @group.cluster) if @group.group_admin == current_user || @group.creator == current_user || current_user.superuser? %>

<% content_for :add_section do %>
  <li><%= link_to 'Project', new_group_project_path(@group) %></li>
  <li class="divider"></li>
  <li><%= link_to "Introduction Document", polymorphic_path([:new, @group, :document], :document_type => "Introduction") if !@group.documents.doctype('Introduction') %></li>
  <li><%= link_to 'Document', polymorphic_path([:new, @group, :document]) %></li>
<% end if can? :edit, @group %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Modules", clusters_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("#{@group.cluster.name}", @group.cluster) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Groups", cluster_groups_path(@group.cluster)) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "#{@group.name}", class: 'active' %>
<% end %>

<%= content_for :top_over do %>
  <div class="row" id='about' style="">
    <%= content_tag :div, class: 'span12' do %>
      <%= content_tag :h1, class: 'pagetop' do %>
        Group
      <% end %>
      <%= content_tag :h2, class: 'subtitle' do %>
        <%= @group.name %>
        <%= yield(:edit_section) %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <%= content_tag :div, class: 'span12 lead', style: '' do %>
      <p class="">
        <%= @group.description.present? ? markdown(@group.description) : "No abstract to show." %>
      </p>
    <% end %>
  </div>
  <hr>
<% end %>

<% content_for :main_section do %>
  <div class="member-view" id="members">
    <ul class="unstyled">
      <% for member in @members do %>
        <%= link_to member.person, title: member.available_name do %>
          <%= image_tag((member.person ? (member.person.profile_picture ? member.person.profile_picture.assetfile.mini_thumb.url : 'icons/super.svg') : 'icons/super.svg'), class: 'img-rounded hidden-tablet hidden-phone') %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= content_tag :h4, link_to('Projects', group_projects_path(@group)), class: "muted" if @group.projects.present? %>
  <%= render @group.projects.limit(3) %>
  <%= content_tag :div, class: 'documents-list', id: 'bib' do %> 
    <%= content_tag :h4, 'Documents', class: 'muted' %>  
      <table class="table table-bordered">
        <tbody>
          <%= render "documents/without_document_type", :var => @group %>
        </tbody>
      </table>
  <% end if @group.documents.without_document_type.any? %> 
<% end %>

<% content_for :sidebar_section do %>

  <div class="project-options">
    <ul class="nav nav-pills nav-stacked nav-pills-big">
      <%= content_tag :li do %>
        <%= link_to group_issues_path(@group) do %>
          <i class="icon-exclamation-sign"></i>
          Issues
          <%= content_tag :span, @group.issues.count, class: "badge pull-right #{@group.issues.where(closed: false).count > @group.issues.where(closed: true).count+1 ? @group.issues.where(closed: false).count > @group.issues.where(closed: true).count+3 ? 'badge-important' : 'badge-warning' : 'badge-success' }" %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@group, :projects] do %>
          Projects
          <span class="badge pull-right"><%= @group.projects.count %></span>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@group, :documents] do %>
          Documents
          <span class="badge pull-right"><%= @group.documents.without_document_type.count %></span>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  <div class="group-info well">
    <ul class="unstyled">
      <li>Module: <%= link_to @group.cluster.name, @group.cluster %></li>
      <li>Speaker: <%= name_only_or_link_to(@group.speaker) %></li>
      <li>Admin: <%= name_only_or_link_to(@group.group_admin) %></li>
      <small>
        <li style="margin-top:20px;">Creator: <%= name_only_or_link_to(@group.creator) %></li>
        <li>Created on: <%= @group.created_at.strftime('%d. %b %Y (%H:%M)') %></li>
      </small>
    </ul>
  </div>
<% end %>