<% title "Research Group: #{@group.name}", nil %>
<% edit_section_for(@group, nil) if can? :edit, @group %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("#{@group.area.cluster.name}", @group.area.cluster) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Areas", cluster_areas_path(@group.area.cluster)) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("#{@group.area.name}", @group.area) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Groups", area_groups_path(@group.area)) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "#{@group.name}", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span8">
    <%= render "shared/document_first", var: @group, dtype: "Introduction" if @group.documents.doctype('Introduction') %>

    <%= render "shared/document_docs_without_type", :var => @group %>

    <%= content_tag :h4, link_to('Projects', group_projects_path(@group)), class: "muted" if @group.projects.present? %>
    <%= render "shared/document_introductions", :vars => @group.projects %>
  </div>

  <div class="span3 offset1">
    <% if can? :edit, @group %>
      <div class="btn-group pull-right" style="margin-left:100%;margin-bottom:20px;">
        <a class="btn dropdown-toggle btn-large" data-toggle="dropdown" href="#">
          Add
          <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Project', new_group_project_path(@group) %></li>
            <li class="divider"></li>
            <li><%= link_to "Introduction Document", polymorphic_path([:new, @group, :document], :document_type => "Introduction") unless @group.documents.doctype('Introduction') %></li>
            <li><%= link_to 'Document', polymorphic_path([:new, @group, :document]) %></li>
          </ul>
      </div>
    <% end  %>
    <h5 class="muted">Creator</h5>
    <ul class="unstyled">
      <li>
        <% unless @group.creator.person %>
          <%= @group.creator.available_name %>
        <% else %>
          <%= link_to "#{@group.creator.available_name}", @group.creator.person %>
        <% end %>
      </li>
    </ul>

    <% if @group.projects.present? %>
      <h5 class="muted">Members</h5>
      <ul class="unstyled">
        <% for membership in Membership.where(:project_id => @group.projects) do %>
          <li>
            <% unless membership.user.person %>
              <%= membership.user.available_name %>
            <% else %>
              <%= link_to "#{membership.user.available_name}", membership.user.person %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <h5 class="muted">Projects</h5>
      <ul class="unstyled">
        <% for project in @group.projects do %>
          <li><%= link_to "#{project.name}", project %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>