<%= form_for(@predicate, html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_messages %>

  <div class="control-group">
    <%= f.label :scope_type, class: 'control-label' %>
    <div class="controls">
      <%= f.select(:scope_type, Predicate::SCOPE_TYPES) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :inverse_name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :inverse_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 4, class: 'span6' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <% if @predicate.new_record? %>
        <%= link_to 'Abbrechen', predicates_path, :class => 'btn' %>
    <% else %>
      <%= link_to 'Abbrechen', :back, :class => 'btn' %>
    <% end %>
  </div>
<% end %>
