<h1>Listing predicates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Inverse name</th>
    <th>Description</th>
    <th>Scope type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @predicates.each do |predicate| %>
  <tr>
    <td><%= predicate.name %></td>
    <td><%= predicate.inverse_name %></td>
    <td><%= predicate.description %></td>
    <td><%= predicate.scope_type %></td>
    <td><%= link_to 'Show', predicate %></td>
    <td><%= link_to 'Edit', edit_predicate_path(predicate) %></td>
    <td><%= link_to 'Destroy', predicate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Predicate', new_predicate_path %>
