<% title "Predicates", nil, nil %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "Predicates", class: 'active' %>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span12">
    <h1>
      Predicates
      <div class="pull-right" style="">
        <%= link_to "Create predicate", new_predicate_path, class: "btn btn-default" if can? :create, @predicates %>
      </div>
    </h1>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Inverse name</th>
          <th>Description</th>
          <th>Scope type</th>
        </tr>
      </thead>
      <tbody>
        <% @predicates.each do |predicate| %>
          <tr>
            <td><%= link_to predicate.name, predicate %></td>
            <td><%= predicate.inverse_name %></td>
            <td><%= predicate.description %></td>
            <td><%= predicate.scope_type %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
