<% if obj.buckets.present? %>
  <% for bucket in obj.buckets do %>
    <h4 class="muted" style="margin-bottom:20px;">
      <%= link_to "#{bucket.name}", [bucket.attachable, bucket] %>
      <% if can? :edit, obj %>
        <% if personal == true %>
          <% if (!obj.user_id?) || (obj.user_id == current_user.id) %>
            <%= link_to polymorphic_path([obj, bucket]), class: 'btn btn-create btn-mini pull-right' do %>
              <i class="icon-plus icon-white"></i>
              Assets to <%= bucket.name %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to "Show or add assets to #{bucket.name}", polymorphic_path([obj, bucket]) %>
        <% end %>
      <% end %>
    </h4>
    <ul class="thumbnails">
      <% if bucket.cover %>
        <li class="span4">
          <%= link_to (image_tag bucket.cover.assetfile.big_thumb.url, class: "img-polaroid"), bucket.cover %>
        </li>
      <% end %>
      <% for asset in bucket.assets.where('content_type LIKE ?', 'image%').limit(bucket.cover ? 4 : 8).order('created_at desc') do %>
        <li class="span2 bucket-asset-thumbs">
          <%= link_to (image_tag asset.assetfile.thumb.url, class: "img-polaroid"), asset %>
        </li>
      <% end %>
    </ul>
    <ul>
      <% for asset in bucket.assets.where('content_type NOT LIKE ?', 'image%').limit(6).order('created_at desc') do %>
        <li><%= link_to "#{asset.name}", asset %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>