<% if obj.buckets.present? %>
  <h4 class="subheader">Uploads</h4>
  <% for bucket in obj.buckets do %>
    <h5 class="subheader"><%= link_to "#{bucket.name}", [bucket.attachable, bucket] %></h5>
    <ul class="clearing-thumbs" data-clearing>
      <% for asset in bucket.assets.where('content_type LIKE ?', 'image%').limit(6).order('created_at desc') do %>
        <li>
          <%= link_to (image_tag asset.assetfile.thumb.url, data: {caption: "#{link_to asset.name, asset}"}), asset.assetfile.normal.url, class: "th" %>
          <p><%= asset.name %></p>
        </li>
      <% end %>
    </ul>
      <% for asset in bucket.assets.where('content_type NOT LIKE ?', 'image%').limit(6).order('created_at desc') do %>
          <p><%= link_to "#{asset.name}", asset %></p>
      <% end %>
    <p>
      Cover: <%= bucket.cover_asset_id ? bucket.assets.find_by_id(bucket.cover_asset_id).name : 'No Cover defined' %>
    </p>
    <p>
      <% if can? :edit, obj %>
        <% if personal == true %>
          <% if (!obj.user_id?) || (obj.user_id == current_user.id) %>
            <%= link_to "Show", polymorphic_path([obj, bucket]) %> | 
            <%= link_to "Add assets to #{bucket.name}", new_bucket_asset_path(bucket) %>
          <% end %>
        <% else %>
          <%= link_to "Show", polymorphic_path([obj, bucket]) %> | 
          <%= link_to "Add assets to #{bucket.name}", new_bucket_asset_path(bucket) %>
        <% end %>
      <% end %>
    </p>
  <% end %>
<% end %>