
<div class="calendar">
  <h2 id="month" class="mn">
    <%= link_to content_tag(:i, '', class: 'icon-chevron-left'), date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to content_tag(:i, '', class: 'icon-chevron-right'), date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= content_tag :span, link_to("#{date.day}"), class: 'day'  %>
    <% if @todos_by_date[date] %>
      <ul>
        <% @todos_by_date[date].each do |todo| %>
          <li><%= link_to "#{todo.name}", [todo.project, todo], class: todo.completed ? 'text-success' : 'text-warning' %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
