<% if var.documents.present? %>
  <% for document in var.documents.all_but_typelist.limit(3) do %>
    <%= content_tag :div, style: 'border-bottom:1px solid #f6f6f6; padding-bottom:20px;' do %>
      <%= content_tag :h1, document.title if document.title %>
      <%= link_to image_tag("icons/edit1.svg", class: 'navbar-icon pull-right', style: 'width:20px;margin-bottom:5px;'), [:edit, document.documentable, document], title: 'Edit' %>
      <% if document.abstract %>
        <div class="abstract lead">
          <%= markdown(document.abstract) %>
          <%= link_to '... read more', [document.documentable, document] if !document.content %>
        </div>
      <% end %>
      <% if document.content.present? %>
        <div class="content">
          <%= markdown(document.content) %>
          <%= link_to '... read more', [document.documentable, document] %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <p style="margin-top:20px;"><%= link_to "View all documents", [var, :documents] %></p>
<% end %>