<% if var.documents.doctype(dtype).present? %>
  <%= content_tag :h1 do %>
    <%= var.documents.doctype(dtype).title ? var.documents.doctype(dtype).title : dtype %>
    <% end unless var.documents.doctype(dtype).title == dtype %>
  <div class="content">
    <%= markdown(var.documents.doctype(dtype).content) %> 
    <%= link_to '... read more', [var.documents.doctype(dtype).documentable, var.documents.doctype(dtype)] unless var.documents.doctype(dtype).content.blank? %>
    <small>
      <%= link_to image_tag("icons/edit1.svg", class: 'navbar-icon', style: 'width:20px;margin-bottom:5px;'), [:edit, var.documents.doctype(dtype).documentable, var.documents.doctype(dtype)], class: 'pull-right' %>
    </small>
  </div>
<% else %>
  <p>No <%= dtype %> available</p>
<% end %>