    <% if var.documents.doctype(dtype).present? %>
      <%= content_tag :h4, class: "muted" do %>
      	<%= var.documents.doctype(dtype).title ? var.documents.doctype(dtype).title : dtype %>
      	<% end unless var.documents.doctype(dtype).title == dtype %>
      <div class="content">
      	<%= raw(var.documents.doctype(dtype).content) %> 
      	  ... <%= link_to 'read more', [var.documents.doctype(dtype).documentable, var.documents.doctype(dtype)] %>
      	<small>
      	  <%= link_to "(Edit)", [:edit, var.documents.doctype(dtype).documentable, var.documents.doctype(dtype)], class: 'pull-right' %>
      	</small>
      </div>
    <% else %>
      <p>No <%= dtype %> available</p>
    <% end %>