<fieldset class="nested-fields">
  <div class="location-field">
    <div class="control-group">
      <%= f.label :address, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :address %>
        <small><%= link_to_remove_association "remove", f %></small>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :latitude,class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :latitude %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :longitude,class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :longitude %>
      </div>
    </div>

  </div>
</fieldset>