  <%= content_tag :div, class: 'babylo-tec-footer' do %>
    <!-- Footer section -->
    <footer>
      
      <!-- Menu Footer -->
      
      <div class="babylo-tec-footer-top">
        <div class="container">
          <div class="row-fluid">  
         
            <div class="span3 option-block">
              <span class=​"title">Research</span>​<i class="icon-globe"></i>
              <ul class="nav nav-pills nav-stacked">
                <li><%= link_to "Modules", clusters_path %></li>
                <li><%= link_to "News", snippets_path %></li>
                <li><%= link_to "Blog", '' %></li>
              </ul>
            </div>
            
            <div class="span3 option-block">
              <span class=​"title">Explore</span>​<i class="icon-search"></i>
              <ul class="nav nav-pills nav-stacked">
                <li><%= link_to "People", people_path %></li>
                <li><%= link_to "Institutions", institutions_path %></li>
              </ul>
            </div>

            <div class="span3 option-block">
              <span class=​"title">​Resources</span>​<i class="icon-file"></i>
              <ul class="nav nav-pills nav-stacked">
                <li><%= link_to "Items", items_path %></li>
                <li><%= link_to "Bibliography", references_path %></li>
                <%= content_tag :li, link_to("Uploaded files", assets_path) if can? :read, 'Assets' %>
                <%= content_tag :li, link_to("Documents", documents_path) if can? :read, 'Documents' %>
              </ul>
            </div>
          
            <div class="span3 option-block-last">
              <span class=​"title">BABylo-tec</span>​<i class="icon-leaf"></i>
              <ul class="nav nav-pills nav-stacked">
                <li><%= link_to "Search" %></li>
                <li><%= link_to "Help" %></li>
                <li><%= link_to "Sitemap" %></li>
                <li><%= link_to "API" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
  
      <!-- Footer About -->
  
      <div class="babylo-tec-footer-bottom">
        <div class="container">
          <div class="row">
            <div class="span12 app-text-links">            
              <ul class="babylo-tec-links inline">
                <li><%= link_to "BABylo-tec", root_url, class: "babylo-tec-logo" %></li>
                <li class="upper"><%= link_to "Help" %></li>
                <li class="upper"><%= link_to "API" %></li>
                <li class="upper"><%= link_to "Sitemap" %></li>
              </ul>
              <p class="sentence">&copy; 2014 BABylo-tec. All rights reserved. Developed by <%= link_to 'Tobias Schmidt', "https://github.com/toboter" %>. Source code available on <%= link_to 'Github', "https://github.com/toboter/babylon" %>.</p>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <div class="row logos">
                <%= link_to image_tag("spk-logo.png"), "http://www.preussischer-kulturbesitz.de", class: "span1" %>
                <%= link_to image_tag("dog-logo.png"), "http://www.deutsche-orientgesellschaft.de", class: "span2" %>
                <%= link_to image_tag("FULogo-3.svg"), "http://www.fu-berlin.de", class: "span3" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <% end %>