<% title "Manage pages", nil %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "Pages", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span12">
    <% @pages.each do |page| %>    <!-- Wenn keine Pages existieren natürlich vollkommener Quatsch -->
      <div class="page-entry well">
        <% if page.permalink == 'explore' %>
          <h4><%= link_to page.name.humanize, page %></h4>
          <%= link_to 'Manage photos', [page.buckets.first.attachable, page.buckets.first] if page.buckets.first && (can? :publish, 'pages') %>
        <% else %>
          <h4><%= link_to page.name.humanize, page %></h4>
          <%= content_tag :div, page_doc_path_for(page.name) if can? :publish, "pages" %>
          <p></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>