<div class="field">
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select %>
  <% end %>
  <%= f.predicate_select only: [:cont, :not_cont, :eq, :not_eq, :lteq, :gteq], compounds: false %>
  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %>
  <small><%= link_to "remove", '#', class: "remove_fields" %></small>
</div>