<tr class="document-entries" id="document-<%= document.id %>">
  <td width="100%">
      <span class="title">
        <strong><%= document.title ? link_to(document.title, [document.documentable, document]) : link_to(document.document_type, [document.documentable, document]) %></strong>
      </span>
      <%= content_tag :i, '', class: 'icon-download-alt pull-right' if document.documentfile.present? %>
    <p>
      Created by <%= name_only_or_link_to(document.creator) %> 
      <%= distance_of_time_in_words_to_now(document.created_at) %> ago 
      <%= content_tag :span do %>
        <%= content_tag :i,'', class: document.issues.where(closed: false).any? ? "icon-exclamation-sign" : 'icon-ok' %> <%= link_to pluralize(document.issues.count, 'issue'), [document, :issues] %>
      <% end if document.issues.any? %>
    </p>
    <div class="content">
      <% if document.abstract || document.content %>
      <small>(<%= document.abstract.length+document.content.length %> characters)</small><br />
      <%= document.abstract.present? ? markdown(document.abstract) : truncated_content(document, length=200) %>
      <% end %>
    </div>
  </td>
</tr>