<fieldset>
  <div class="controls controls-row">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'area' %>
    </div>
    <small><%= f.link_to_remove "remove section" %></small>
  </div>
</fieldset>