<%= nested_form_for [@documentable, @document], :html => { class: "custom" } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :document_type %>
  <%= f.hidden_field :documentable_type %>
  <%= f.hidden_field :documentable_id %>

  <%= content_tag :p do -%>
    This document belongs to: <%= link_to("#{@documentable.name}", @documentable) %>
  <% end unless @document.person? || @document.page? -%>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title unless @document.title_readonly? %>
    <%= f.text_field :title, :readonly => true if @document.title_readonly? %>
  </div>

  <% unless @document.title_readonly? %>
  <div class="field">
    <%= f.label :abstract %>
    <%= f.text_area :abstract, class: 'area' %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'area' %>
  </div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'button' %>
    <% if @document.new_record? %>
      <% if @document.documentable %>
        <%= link_to 'Abbrechen', @document.documentable, :class => 'button secondary' %>
      <% else %>
        <%= link_to 'Abbrechen', documents_path, :class => 'button secondary' %>
      <% end %>
    <% else %>
      <%= link_to 'Abbrechen', :back, :class => 'button secondary' %>
    <% end %>
  </div>
<% end %>
