<fieldset class="nested-fields">
  <div class="citation-field">

  <%= f.hidden_field :document_type %>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'span8', :readonly => @document && @document.title_readonly? %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :tag_ids, "Tags", class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true, class: 'form-control chosen-select input-block-level'} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :abstract, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :abstract, rows: 4, class: 'input-block-level' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="content_field">
      Content
    </label>
    <div class="controls">
      <%= f.text_area :content, class: 'input-block-level', id: 'content_field' %>
        <p>Use Markdown for formating. <a href="#" data-toggle="collapse" data-target="#md-info">See examples.</a></p>
        <div class="collapse" id="md-info">
          <%= render 'shared/md-info' %>
        </div>
    </div>
  </div>

  <div class="control-group">
    <div class="controls form-inline well">
      <p>
        <%= f.label :documentfile, "Upload a attachment to this document" %><br />
        <%= f.file_field :documentfile %>
        <%= f.label :remote_documentfile_url, "or document URL" %>
        <%= f.text_field :remote_documentfile_url %>
      </p>
      <p class="text-warning">Be sure, if you paste something in here while editing. <%= "Current attached file is   #{@document.documentfile_name}" if @document && @document.documentfile.present? %></p>
    </div>
  </div>

</div>
</fieldset>