<div class="row-fluid">
  <div class="span12">
    <%= content_tag :p do -%>
      This document belongs to: <%= link_to("#{@documentable.name}", @documentable) %>
    <% end -%>

    <div class="row-fluid">
      <div class="span8">
        <%= form_for [@documentable, @document], :html => {:multipart => true} do |f| %>
          <%= f.error_messages %>
        
        
          <%= render 'form_fields', f: f %>
        
          <div class="form-actions">
            <%= f.submit "Speichern", :class => 'btn btn-primary' %>
            <% if @document.new_record? %>
              <% if @document.documentable %>
                <%= link_to 'Abbrechen', @document.documentable, :class => 'btn' %>
              <% else %>
                <%= link_to 'Abbrechen', documents_path, :class => 'btn' %>
              <% end %>
            <% else %>
              <%= link_to 'Abbrechen', :back, :class => 'btn' %>
            <% end %>
          </div>
        <% end %>
      </div>
    
      <div class="span4">

        <%= render @documentable.buckets, with_link: true unless @documentable.class.to_s == 'Group' %>

      </div>
    </div>

  </div>
</div>