<% title "#{@document.title}", nil, false unless @document.page? %>
<% title "#{@document.documentable.permalink.humanize}", nil if @document.page? %>
<% edit_section_for(@document, @document.documentable) if can? :edit, @document %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to "#{@document.person? ? @document.documentable.fullname : @document.documentable.name}", @document.documentable %> <span class="divider">/</span></li>
  <li class="active"><%= @document.title.present? ? @document.title : @document.document_type %></li>
<% end unless @document.page? %>

<% content_for :main_section do %>
  <div class="span8">
    <h1 style="margin-bottom:40px;margin-top:60px;"><%= @document.title %></h1>
    <%= content_tag :div, class: "abstract_section" do %>
      <b>Abstract: </b><%= @document.abstract %>
    <% end if @document.abstract? %>
    <%= content_tag :div, class: "content_section" do %>
      <%= raw@document.content %>
    <% end if @document.content? %>
  </div>


  <div class="span4">
    <% unless @document.page? %>
      <p style="margin-bottom:50px;"><%= tagging_infos_for(@document) %></p>
      <div class="accordion" id="doc-accordion">
        <%= content_tag :div, class: "accordion-group" do %>
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#doc-accordion" href="#collapseThree">
              Info
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse in">
            <div class="accordion-inner">
              <h5 class="muted">Cross reference</h5>
              <ul class="unstyled">
              <%= content_tag :li, link_to("#{@document.person? ? @document.documentable.fullname : @document.documentable.name}", @document.documentable) %>
                <%= content_tag :li, 'Type: ' + @document.document_type if @document.document_type.present? %>
              </ul>
  
              <h5 class="muted">Creator</h5>
              <ul class="unstyled">
                <li>
                  <% unless @document.creator.person %>
                    <%= @document.creator.available_name %>
                  <% else %>
                    <%= link_to "#{@document.creator.available_name}", @document.creator.person %>
                  <% end %>
                </li>
                <li>on: <%= @document.created_at %></li>
              </ul>
              <h5 class="muted">Last update by</h5>
              <ul class="unstyled">
                <li>
                  <% unless @document.updater.person %>
                    <%= @document.updater.available_name %>
                  <% else %>
                    <%= link_to "#{@document.updater.available_name}", @document.updater.person %>
                  <% end %>
                </li>
                <li>on: <%= @document.updated_at %></li>
              </ul>
            </div>
          </div>
        <% end %>
        <%= content_tag :div, class: "accordion-group" do %>
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#doc-accordion" href="#collapseTwo">
              Comments
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'comments/list', comments: @document.comments %>
              <hr>
              <%= render 'comments/form', commentable: @document, size: 'input-xlarge' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>