<% title 'Document', @document.title %>
<% edit_section_for(@document, @document.documentable) %>
<% publishing_section_for(@document) %>
<% footer_section(@document) %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to @document.documentable.name, @document.documentable %> <span class="divider">/</span></li>
  <li><%= link_to 'Documents', [@document.documentable, :documents] %> <span class="divider">/</span></li>
  <li class="active"><%= @document.title.present? ? @document.title : @document.document_type %></li>
<% end %>

<% content_for :main_section do %>
  <%= content_tag :div, class: "lead" do %>
    <%= markdown(@document.abstract) %>
  <% end if @document.abstract? %>
  <%= content_tag :div, class: "content_section document-content" do %>
    <%= markdown(@document.content) %>
  <% end if @document.content? %>
<% end %>

<% content_for :sidebar_section do %>
  <div class="issues-options well well-small">
    <i class="icon-exclamation-sign"></i>
    <%= link_to 'Issues', document_issues_path(@document) %> 
    <%= content_tag :span, @document.issues.count, class: 'badge pull-right' %>
  </div>
  <%= tagging_infos_for(@document) %>
  <div class="info-box">
    <h4 class="">
      Cross reference
      <%= content_tag :i, '', class: 'icon-file pull-right' %>
    </h4>
    <ul class="unstyled">
      <%= content_tag :li, link_to(@document.documentable.name, @document.documentable) %>
      <%= content_tag :li, 'Type: ' + @document.document_type if @document.document_type.present? %>
    </ul>

    <%= content_tag :div, class: 'attachements' do %>
      <h4 class="">
        Attached file
        <%= content_tag :i, '', class: 'icon-download-alt pull-right' %>
      </h4>
      <%= content_tag :p do %>
        <strong><%= @document.documentfile_name %></strong><br />
        Uploaded <%= distance_of_time_in_words_to_now(@document.documentfile_upload_date) %> ago. 
        Size <%= number_to_human_size(@document.documentfile_size) %>. 
        [<%= link_to 'Download', download_document_path(@document) %>]
        <small><%= @document.documentfile_md5hash %></small>
      <% end %>
    <% end if @document.documentfile.present? %>
    
  </div>
<% end %>