<% title "#{@document.title}", nil unless @document.page? %>
<% title "#{@document.documentable.permalink.humanize}", nil if @document.page? %>
<% edit_section_for(@document, @document.documentable) %>

<% content_for :breadcrumbs_section do %>
  <% unless @document.page? %>
  <nav class="breadcrumbs">
    <%= link_to "#{@document.documentable.name}", @document.documentable unless @document.person? %>
    <%= link_to "#{@document.documentable.fullname}", @document.documentable if @document.person? %>
    <%= @document.title.present? ? (link_to "#{@document.title}", [@document]) : (link_to "#{@document.document_type}", [@document]) %>
  </nav>
  <% end %>
<% end %>

<% content_for :main_section do %>
  <div class="large-9 columns">
    <% if @document.abstract %>
      <div class="abstract_section">
        <b>Abstract: </b><%= @document.abstract %>
      </div>
    <% end %>
    <p>tags</p>
    <% if @document.content %>
      <div class="content_section">
        <%= raw@document.content %>
      </div>
    <% end %>
  </div>


  <div class="large-2 columns right">
    <% unless @document.page? %>
    <h6 class="subheader">Belongs to</h6>
    <ul class="no-bullet">
      <%= content_tag :li, link_to("#{@document.documentable.name}", @document.documentable) unless @document.person? %>
      <%= content_tag :li, link_to("#{@document.documentable.fullname}", @document.documentable) if @document.person? %>
      <%= content_tag :li, 'Type: ' + @document.document_type if @document.document_type.present? %>
    </ul>
    <% end %>
    <h6 class="subheader">Creator</h6>
    <ul class="no-bullet">
      <li>
        <% unless connected_profile(@document.creator) %>
          <%= @document.creator.available_name %>
        <% else %>
          <%= link_to "#{@document.creator.available_name}", @document.creator.people.first %>
        <% end %>
      </li>
      <li>on: <%= @document.created_at %></li>
    </ul>
    <h6 class="subheader">Last update by</h6>
    <ul class="no-bullet">
      <li>
        <% unless connected_profile(@document.updater) %>
          <%= @document.updater.available_name %>
        <% else %>
          <%= link_to "#{@document.updater.available_name}", @document.updater.people.first %>
        <% end %>
      </li>
      <li>on: <%= @document.updated_at %></li>
    </ul>

  </div>

<% end %>

<% content_for :footer_section do %>

<% end %>