<% title "#{@document.title}", nil unless @document.page? %>
<% title "#{@document.documentable.permalink.humanize}", nil if @document.page? %>
<% edit_section_for(@document, @document.documentable) %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to "#{@document.person? ? @document.documentable.fullname : @document.documentable.name}", @document.documentable %> <span class="divider">/</span></li>
  <li class="active"><%= @document.title.present? ? @document.title : @document.document_type %></li>
<% end unless @document.page? %>

<% content_for :main_section do %>
  <div class="span9">
    <% if @document.abstract && !@document.title_readonly? %>
      <div class="abstract_section">
        <b>Abstract: </b><%= @document.abstract %>
      </div>
    <% end %>
    <p>tags</p>
    <% if @document.content %>
      <div class="content_section">
        <%= raw@document.content %>
      </div>
    <% end %>
  </div>


  <div class="span2 offset1">
    <% unless @document.page? %>
    <h5 class="muted">Belongs to</h5>
    <ul class="unstyled">
      <%= content_tag :li, link_to("#{@document.person? ? @document.documentable.fullname : @document.documentable.name}", @document.documentable) %>
      <%= content_tag :li, 'Type: ' + @document.document_type if @document.document_type.present? %>
    </ul>
    <% end %>
    <h5 class="muted">Creator</h5>
    <ul class="unstyled">
      <li>
        <% unless connected_profile(@document.creator) %>
          <%= @document.creator.available_name %>
        <% else %>
          <%= link_to "#{@document.creator.available_name}", @document.creator.people.first %>
        <% end %>
      </li>
      <li>on: <%= @document.created_at %></li>
    </ul>
    <h5 class="muted">Last update by</h5>
    <ul class="unstyled">
      <li>
        <% unless connected_profile(@document.updater) %>
          <%= @document.updater.available_name %>
        <% else %>
          <%= link_to "#{@document.updater.available_name}", @document.updater.people.first %>
        <% end %>
      </li>
      <li>on: <%= @document.updated_at %></li>
    </ul>

  </div>

<% end %>

<% content_for :footer_section do %>

<% end %>