<div class="well">
  <div class="row-fluid">
  	<div class="span5">
      <h4>
        <%= link_to "#{study.list.name} study of #{study.studyable.name}", [study.list, study] %>
      </h4>
      <p>
        <b>List:</b>
        <%= link_to full_qualified_name(study.list.project), [study.list.project.projectable, study.list.project] %> : : <%= study.list ? link_to(study.list.name, [study.list.project, study.list]) : content_tag(:span, 'no list', class: 'text-warning') %>
      </p>
      <%= content_tag :p do %>
        <b>Original <%= link_to 'study', [@parent.forked_from, study] %> on list</b>
        <%= link_to full_qualified_name(@parent.forked_from.project), [@parent.forked_from.project.projectable, @parent.forked_from.project] %> : : <%= link_to @parent.forked_from.name, [@parent.forked_from.project, @parent.forked_from] %>
      <% end if @parent && @parent.class.to_s == 'List' && @parent.forked_from %>
      <p>
        <b>Original Item:</b>
        <%= link_to study.studyable.name, study.studyable %>
      </p>
  	</div>
  	<div class="span7">
          <table class="table table-bordered table-hover">
          	<thead>
          	  <th>Attribute</th>
          	  <th>Value</th>
          	    </thead>
			            <% study.properties.each do |name, value| %>
                    <% if value.is_a?(Array) %>
                      <%= item_description(name.humanize, ProjectStudyFieldValue.find(value.compact.reject{|r| r.empty? }).map{ |psfv| link_to psfv.field_value, '', class: 'popover-right', data: { 'original-title' => psfv.field_value, 'content' => psfv.description } }.join(', ').html_safe) %>
                    <% else %>
                      <%= item_description(name.humanize, %['select' 'radio_buttons'].include?(ProjectStudyField.find_by_name(name).field_type) ? link_to(ProjectStudyFieldValue.find(value).field_value, '', class: 'popover-right', data: { 'original-title' => ProjectStudyFieldValue.find(value).field_value, 'content' => ProjectStudyFieldValue.find(value).description }) : value ) %>
                    <% end %>
			            <% end %>
		             </table>	
	</div>
  </div>
</div>