  <div class="row-fluid">

    <div class="span12">
<%= form_for [@projectable, @project], :html => { class: "form-horizontal" } do |f| %>
  <%= f.error_messages %>

  <%= content_tag :h4, 'General', id: 'project' %>

    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, class: 'span6' %>
      </div>
    </div>
    <div class="control-group" style="margin-bottom:0px;">
      <%= f.label :show_references, 'Public references (?)', class: 'control-label' %>
      <div class="controls">
        <%= f.check_box :show_references %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :featured, 'Featured on root page (?)', class: 'control-label' %>
      <div class="controls">
        <%= f.check_box :featured %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :project_type, class: 'control-label' %>
      <div class="controls">
        <%= f.select(:project_type, Project::PROJECT_TYPES) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :map_type, class: 'control-label' %>
      <div class="controls">
        <%= f.select(:map_type, Project::MAP_TYPES, {include_blank: 'none'}) %>
      </div>
    </div>

  <div class="control-group">
    <%= f.label :tag_ids, "Tags", class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :tag_ids, Tag.arrange_as_tree({:order => 'name'}), :id, :name_for_selects, {}, {multiple: true, class: 'form-control chosen-select input-block-level'} %>
      <p class="help-block"><%= link_to 'Edit tags', tags_path, target: 'blank' %></p>
    </div>
  </div>

    <div class="control-group">
      <%= f.label :description, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, class: 'span6' %>
        <p>Use Markdown for formatting. <a href="#" data-toggle="collapse" data-target="#md-info">See examples.</a></p>
        <div class="collapse" id="md-info">
          <%= render 'shared/md-info' %>
        </div>
      </div>
    </div>


    <%= content_tag :h4, 'Memberships', id: 'members' %>
    <%= f.fields_for :memberships do |builder| %>
      <%= render "membership_fields", :f => builder %>
    <% end %>
    <div class="links control-group">
      <%= link_to_add_association "Add Member", f, :memberships, class: 'btn btn-default btn-mini' %>
    </div>

    <%= content_tag :h4, id: 'lists' do %>
      Lists
    <% end %>
    <%= f.fields_for :lists do |builder| %>
      <%= render "list_fields", :f => builder %>
    <% end %>
    <div class="links control-group">
      <%= link_to_add_association "Add new list", f, :lists, class: 'btn btn-default btn-mini' %>
    </div>

    <%= content_tag :h4, id: 'studyfields' do %>
      Attributes for objects on lists
    <% end %>
    <%= f.fields_for :studyfields do |builder| %>
      <%= render "studyfield_fields", :f => builder %>
    <% end %>
    <div class="links control-group">
      <%= link_to_add_association "Add study attribute", f, :studyfields, class: 'btn btn-default btn-mini' %>
    </div>

    <% if can? :manage, 'project-assignments' %>
    <%= content_tag :h4, 'Change the project assignment' %>
      <div class="control-group">
        <%= f.label :projectable_type, 'Move to', class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :projectable_type %>
          <%= f.text_field :projectable_id %>
          <p>First field is the Cluster or Group, the second field is the appropiate id</p>
        </div>
      </div>
    <% else %>
      <%= f.hidden_field :projectable_id %>
      <%= f.hidden_field :projectable_type %>
    <% end %>

    <hr>

    <div class="form-actions">
      <%= f.submit "Create project", :class => 'btn btn-primary' %>
      <span class="pull-right">
        <% if @project.projectable.class.name == 'Cluster' %>
          Need a group for several dependent projects? <%= link_to 'Create a group', [:new, @project.projectable, :group], class: 'btn btn-default btn-mini' %>
        <% else %>
          Just need a independent project? <%= link_to 'Create a project', [:new, @projectable.cluster, :project], class: 'btn btn-default btn-mini' %>
        <% end %>
      </span>
    </div>

    
  <% content_for :edit_section do %>
    <div class="pull-right">
      <%= link_to 'Back', :back, :class => 'btn' %>
    </div>
  <% end %> 
<% end %>
    </div>
  </div>