<%= form_for [@projectable, @project], :html => { class: "form-horizontal" } do |f| %>
  <%= f.error_messages %>


  <div class="row">
    <div class="span12">
    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, class: 'span6' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :show_references, class: 'control-label' %>
      <div class="controls">
        <%= f.check_box :show_references %>
      </div>
    </div>

    <%= f.fields_for :memberships do |builder| %>
      <%= render "membership_fields", :f => builder %>
    <% end %>
    <div class="links controls">
      <%= link_to_add_association "Add Member", f, :memberships %>
    </div>

    <% if can? :manage, 'project-assignments' %>
      <div class="control-group">
        <%= f.label :projectable_type, 'Move somewhere else', class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :projectable_id %>
          <%= f.text_field :projectable_type %>
        </div>
      </div>
    <% else %>
      <%= f.hidden_field :projectable_id %>
      <%= f.hidden_field :projectable_type %>
    <% end %>

    <div class="form-actions">
      <%= f.submit "Speichern", :class => 'btn btn-primary' %>
      <% if @project.new_record? %>
        <% if @project.projectable %>
          <%= link_to 'Abbrechen', @project.projectable, :class => 'btn' %>
        <% else %>
          <%= link_to 'Abbrechen', projects_path, :class => 'btn' %>
        <% end %>
      <% else %>
        <%= link_to 'Abbrechen', [@project.projectable, @project], :class => 'btn' %>
      <% end %>
    </div>
    </div>
  </div>
<% end %>
