<%= nested_form_for [@projectable, @project], :html => { class: "custom" } do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :projectable_id %>
  <%= f.hidden_field :projectable_type %>

<div class="row">
  <div class="large-4 columns">
    <%= f.fields_for :memberships do |builder| %>
      <%= render "membership_fields", :f => builder %>
    <% end %>
    <%= f.link_to_add "Add Member", :memberships %>
  </div>
</div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'button' %>
    <% if @project.new_record? %>
      <% if @project.projectable %>
        <%= link_to 'Abbrechen', @project.projectable, :class => 'button secondary' %>
      <% else %>
        <%= link_to 'Abbrechen', projects_path, :class => 'button secondary' %>
      <% end %>
    <% else %>
      <%= link_to 'Abbrechen', [@project.projectable, @project], :class => 'button secondary' %>
    <% end %>
  </div>
<% end %>
