<fieldset>
  <div class="controls controls-row">
      <div class="field">
        <%= f.label :user_id, 'Member' %>
        <%= f.collection_select :user_id, User.all, :id, :available_name %>
      </div>
      <div class="field">
        <%= f.label :role %>
        <%= f.select :role, Membership::ROLES %>
      </div>
    <small><%= f.link_to_remove "remove" %></small>
  </div>
</fieldset>