<div class="well">
  <div class="row-fluid">
    <div class="span12">
      <h4>
        <%= link_to(full_qualified_name(project), [project.projectable, project]) %>
        <% if current_aspect == project %>
          <%= link_to image_tag("icons/sign4.svg", class: 'navbar-icon', style: 'width:25px;'), exit_aspect_path, class: 'pull-right tooltip-right', title: 'Exit current aspect' %>
        <% elsif project.members.exists?(current_user) %>
          <%= link_to image_tag("icons/sign3.svg", class: 'navbar-icon', style: 'width:25px;'), change_aspect_path(:project_id => project.id), class: 'pull-right tooltip-right', title: 'Use this aspect' %>
        <% end %>
      </h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <div class="member-view" id="members-project-<%= project.id %>">
        <ul class="unstyled">
          <% for membership in project.memberships do %>
            <%= link_to membership.user.person, title: membership.user.available_name do %>
              <%= image_tag((membership.user.person ? (membership.user.person.profile_picture ? membership.user.person.profile_picture.assetfile.mini_thumb.url : 'icons/super.svg') : 'icons/super.svg'), class: 'img-rounded hidden-tablet hidden-phone mini') %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span9">
      <% if project.documents.doctype('Introduction') %>
        <p>
          <%= project.documents.doctype('Introduction').abstract ? project.documents.doctype('Introduction').abstract : (markdown(truncated_content(project.documents.doctype('Introduction'), length=300)) if project.documents.doctype('Introduction').content) %>
        </p>
      <% else %>
        <p>No Introduction to show. <%= link_to 'Create one!', [:edit, project.documents.doctype('Introduction')] if project.documents.doctype('Introduction') %></p>
      <% end %>
    </div>
  </div>
</div>