<div class="well">
  <div class="row-fluid">
    <div class="span12">
      <h4>
        <%= link_to(full_qualified_name(project), [project.projectable, project]) %>
        <% if current_aspect == project %>
          <%= link_to image_tag("icons/sign4.svg", class: 'navbar-icon', style: 'width:25px;'), exit_aspect_path, class: 'pull-right tooltip-left', title: 'Exit current aspect' %>
        <% elsif project.members.exists?(current_user) %>
          <%= link_to image_tag("icons/sign3.svg", class: 'navbar-icon', style: 'width:25px;'), change_aspect_path(:project_id => project.id), class: 'pull-right tooltip-left', title: 'Use this aspect' %>
        <% end %>
      </h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10">
    <%= content_tag :div, class: 'hidden-phone hidden-tablet pull-left' do %>
      <%= image_tag(project.project_bucket.cover ? project.project_bucket.cover.assetfile.thumb.url : "icons/no_picture.svg", class: 'img-polaroid', style: 'width:128px; margin-right:10px;') if project.project_bucket %>
    <% end %>
      <% if project.description.present? %>
        <%= markdown(project.description) %>
      <% else %>
        <p>No abstract to show. <%= link_to '(Edit)', [:edit, project.projectable, project] if can? :manage, project%></p>
      <% end %>
    </div>
    <div class="span2">
      <div class="member-view" id="members-project-<%= project.id %>">
        <ul class="unstyled">
          <% for membership in project.memberships do %>
            <%= link_to membership.user.person, title: membership.user.available_name, class: 'tooltip-bottom pull-right' do %>
              <%= image_tag((membership.user.person ? (membership.user.person.profile_picture ? membership.user.person.profile_picture.assetfile.mini_thumb.url : 'icons/super.svg') : 'icons/super.svg'), class: 'img-rounded hidden-tablet hidden-phone mini') %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
