<% title "Projects", nil %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <% if @projectable.class.to_s == 'Group' %>

    <%= content_tag(:li, link_to("#{@projectable.cluster.name}", cluster_path(@projectable.cluster)) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, link_to("Groups", cluster_groups_path(@projectable.cluster)) + content_tag(:span, '/', class: 'divider')) %>
  <% end %>
  <%= content_tag(:li, (link_to "#{@projectable.name}", @projectable) + content_tag(:span, '/', class: 'divider')) if @projectable %>
  <%= content_tag :li, "Projects", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span12">
  <% @projects.each do |project| %>
    <div class="well">
      <h4>
        <%= link_to [project.projectable, project] do %>
          <%= project.projectable.name if project.projectable_type == "Cluster" %>
          <% if project.projectable_type == "Group" %>
            <%= project.projectable.cluster.name %> /
            <%= project.projectable.name %>
          <% end %>
          /
          <%= project.name %>
        <% end %>
      </h4>

      <% if project.documents.doctype('Introduction') %>
        <h5 class="muted"><%= project.documents.doctype('Introduction').title %></h5>
        <p><%= project.documents.doctype('Introduction').content %> ... <%= link_to 'read more', [project.documents.doctype('Introduction').documentable, project.documents.doctype('Introduction')] %></p>
      <% else %>
        <p>No Introduction available</p>
      <% end %>
    </div>
  <% end %>  
  </div>
<% end %>
