<% title "Projects", nil %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "Projects", @projectable unless @projectable %>
    <%= link_to "#{@projectable.name}", @projectable if @projectable %>
    <%= link_to "Projects", cluster_projects_path(@projectable) if @projectable %>
  </nav>
<% end %>

<% content_for :link_section do %>
  <div class="button-bar right">
    <ul class="button-group">

    </ul>
  </div>
<% end %>

<% content_for :main_section do %>
  <% @projects.each do |project| %>
    <div class="project-entry panel">
      <h6><small>
        <% if project.projectable_type == "Cluster" %>
          <%= link_to "#{project.projectable.name}", project.projectable %>
        <% end %>
        <% if project.projectable_type == "Group" %>
          <%= link_to "#{project.projectable.area.cluster.name}", project.projectable.area.cluster %>
        <% end %>
      </small></h6>
      <h3><%= link_to "#{project.name}", [project.projectable, project] %></h3>
      <% if project.documents.doctype('Introduction').present? %>
        <h4 class="subheader"><%= project.documents.doctype('Introduction').title %></h4>
        <p><%= project.documents.doctype('Introduction').content %> ... <%= link_to 'read more', [project.documents.doctype('Introduction').documentable, project.documents.doctype('Introduction')] %></p>
      <% else %>
        <p>No Introduction available</p>
      <% end %>
    </div>
  <% end %>  
<% end %>
