<% title "Project", @project.name, nil %>
<% edit_section_for(@project, @project.projectable) if @project.memberships.where(:user_id => current_user, :role => 'admin').present? || (can? :manage, 'Memberships') %>
<% footer_section(@project) %>


<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Modules", clusters_path) + content_tag(:span, '/', class: 'divider')) %>
  <% if @project.projectable_type == "Group" %>
    <%= content_tag(:li, link_to("#{@project.projectable.cluster.name}", @project.projectable.cluster) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, link_to("Groups", cluster_groups_path(@project.projectable.cluster)) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, link_to("#{@project.projectable.name}", @project.projectable) + content_tag(:span, '/', class: 'divider')) %>
  <% end %>
  <%= content_tag(:li, link_to("#{@project.projectable.name}", @project.projectable) + content_tag(:span, '/', class: 'divider')) if @project.projectable_type == "Cluster" %>
  <%= content_tag(:li, link_to("Projects", [@project.projectable, 'projects']) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "#{@project.name}", class: 'active' %>
<% end %>

<%= content_for :top_over do %>
  <div class="row" id='about' style="">
    <%= content_tag :div, class: 'span12' do %>
      <%= content_tag :h1, 'Project', class: 'pagetop' %>
      <%= content_tag :h2, class: 'subtitle' do %>
        <%= @project.name %>
        <%= yield(:edit_section) %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <%= content_tag :div, class: 'span2 visible-desktop', style: '' do %>
      <%= link_to (image_tag @project.project_bucket.cover.assetfile.big_thumb.url, class: "img-polaroid"), polymorphic_path([@project, @project.project_bucket]) if @project.project_bucket.cover %>
      (<%= link_to 'Edit picture', polymorphic_path([@project, @project.project_bucket]), class: 'change-asset' %>)
    <% end if @project.project_bucket %>
    <%= content_tag :div, class: 'span10 lead', style: '' do %>
      <%= @project.description.present? ? markdown(@project.description) : "No abstract to show." %>
    <% end %>
  </div>
  <hr>
<% end %>

<% content_for :main_section do %>
  <div class="member-view" id="members">
    <ul class="unstyled">
      <% for membership in @project.memberships do %>
        <%= link_to membership.user.person, title: membership.user.available_name, class: 'tooltip-bottom', style: 'padding-bottom:8px;' do %>
          <%= image_tag((membership.user.person ? (membership.user.person.profile_picture ? membership.user.person.profile_picture.assetfile.mini_thumb.url : 'icons/super.svg') : 'icons/super.svg'), class: 'img-rounded hidden-tablet hidden-phone') %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= content_tag :div, class: 'lists-view', id: 'bib' do %> 
    <%= content_tag :h4, 'Lists', class: '' %>
    <%= render @project.lists.limit(5) %>
    <%= link_to 'View all lists', [@project, :lists] %>
  <% end if @project.lists.any? %> 

  <%= content_tag :div, class: 'documents-list', id: 'bib' do %> 
    <%= content_tag :h4, 'Documents', class: '' %>  
      <table class="table table-bordered">
        <tbody>
          <%= render "documents/without_document_type", :var => @project %>
        </tbody>
      </table>
  <% end if @project.documents.without_document_type.any? %> 

  <%= content_tag :div, class: 'bibliography-view', id: 'bib' do %>
  <%= content_tag :h4, 'References', class: '' %>
    <%= content_tag :h5, 'References used in the project', class: '' %>
    <%= render "references/bib_entries", :references => @project.studies.map{|r| r.references }.flatten.take(3) %>
    <%= content_tag :h5, 'References added to the project', class: '' %>
    <%= render "references/bib_entries", :references => @project.references.limit(3) %>
    <%= link_to "View all references for #{full_qualified_name(@project)}", [@project, :references] %>
  <% end if @project.references.any? %>  

<% end %>

<% content_for :sidebar_section do %>

  <div class="project-options">
    <ul class="nav nav-pills nav-stacked nav-pills-big">
      <%= content_tag :li do %>
        <%= link_to project_issues_path(@project) do %>
          <i class="icon-exclamation-sign"></i>
          Issues
          <%= content_tag :span, @project.issues.count, class: "badge pull-right #{@project.issues.where(closed: false).count > @project.issues.where(closed: true).count+1 ? @project.issues.where(closed: false).count > @project.issues.where(closed: true).count+3 ? 'badge-important' : 'badge-warning' : 'badge-success' }" %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@project, :lists] do %>
          Lists
          <span class="badge pull-right"><%= @project.lists.count %></span>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@project, :documents] do %>
          Documents
          <span class="badge pull-right"><%= @project.documents.without_document_type.count %></span>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@project, :references] do %>
          References
          <span class="badge pull-right"><%= @project.references.count %></span>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@project, :todos] do %>
          Todo's
          <span class="badge badge-important pull-right" style="margin-left:2px;"><%= @project.todos.where(:completed => false).count %></span>
          <span class="badge badge-success pull-right"><%= @project.todos.where(:completed => true).count %></span>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  <div class="project-info well">
    <ul class="unstyled">
      <% if @project.projectable_type == "Group" %>
        <li>Module: <%= link_to(@project.projectable.cluster.name, @project.projectable.cluster) %></li>
        <li>Group: <%= link_to(@project.projectable.name, @project.projectable) %></li>
      <% else %>
        <li>Module: <%= link_to(@project.projectable.name, @project.projectable) %></li>
      <% end %>
    </ul>
    <%= content_tag :p, 'References are available as main bibliography', class: 'text-info' if @project.show_references == true %>

    <%= link_to "Manage Memberships", [:edit, @project.projectable, @project] if @project.memberships.where(:user_id => current_user, :role => 'admin').present? || (can? :manage, 'Memberships') %> 
  </div>
<% end %>