<% title "Project", @project.name, nil %>
<% edit_section_for(@project, @project.projectable) if @project.memberships.where(:user_id => current_user, :role => 'admin').present? || (can? :manage, 'Memberships') %>
<% footer_section(@project) %>


<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Modules", clusters_path) + content_tag(:span, '/', class: 'divider')) %>
  <% if @project.projectable_type == "Group" %>
    <%= content_tag(:li, link_to("#{@project.projectable.cluster.name}", @project.projectable.cluster) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, link_to("Groups", cluster_groups_path(@project.projectable.cluster)) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, link_to("#{@project.projectable.name}", @project.projectable) + content_tag(:span, '/', class: 'divider')) %>
  <% end %>
  <%= content_tag(:li, link_to("#{@project.projectable.name}", @project.projectable) + content_tag(:span, '/', class: 'divider')) if @project.projectable_type == "Cluster" %>
  <%= content_tag(:li, link_to("Projects", [@project.projectable, 'projects']) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "#{@project.name}", class: 'active' %>
<% end %>

<%= content_for :top_over do %>
  <div class="row-fluid" id='about' style="padding-bottom:1em;">
    <%= content_tag :div, class: 'span6' do %>
      <%= content_tag :h1, 'Project', class: 'pagetop' %>
      <%= content_tag :h2, class: 'subtitle' do %>
        <%= @project.name %>
        <%= yield(:edit_section) %>
      <% end %>
    <% end %>
    <%= content_tag :div, class: 'span6', style: 'padding-top:1em;' do %>
      <p>
        <%= @project.documents.doctype('Introduction').abstract.present? ? @project.documents.doctype('Introduction').abstract : "No abstract to show." %>
      </p>
      <%= link_to 'Edit document', polymorphic_path([:edit, @project, @project.documents.doctype('Introduction')]), class: 'change-asset' if can? :edit, @project %>
    <% end if @project.documents.doctype('Introduction') %>
  </div>
  <hr>
<% end %>

<% content_for :main_section do %>
  <div class="member-view" id="members">
    <ul class="unstyled">
      <% for membership in @project.memberships do %>
        <%= link_to membership.user.person, title: membership.user.available_name do %>
          <%= image_tag((membership.user.person ? (membership.user.person.profile_picture ? membership.user.person.profile_picture.assetfile.mini_thumb.url : 'icons/super.svg') : 'icons/super.svg'), class: 'img-rounded hidden-tablet hidden-phone') %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= content_tag :div, class: 'documents-list', id: 'bib' do %> 
    <%= content_tag :h4, 'Documents', class: 'muted' %>  
      <table class="table table-bordered">
        <tbody>
          <%= render "documents/without_document_type", :var => @project %>
        </tbody>
      </table>
  <% end if @project.documents.without_document_type.any? %> 

  <%= content_tag :div, class: 'bibliography-view', id: 'bib' do %> 
    <%= content_tag :h4, 'Bibliography', class: 'muted' %>
    <%= render "references/bib_entries", :references => @project.references.order('first_page ASC').limit(5) %>
  <% end if @project.references.any? %>  

<% end %>

<% content_for :sidebar_section do %>
  <p>
    <%= markdown(truncated_content(@project.documents.doctype('Introduction'), length=300)) if @project.documents.doctype('Introduction').content if @project.documents.doctype('Introduction') %>
  </p>


  <div class="project-options">
    <ul class="nav nav-pills nav-stacked">
      <%= content_tag :li do %>
        <%= link_to [@project, :items] do %>
          Items
          <span class="badge pull-right"><%= @project.items.count %></span>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@project, :documents] do %>
          Documents
          <span class="badge pull-right"><%= @project.documents.without_document_type.count %></span>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@project, :references] do %>
          Bibliography
          <span class="badge pull-right"><%= @project.references.count %></span>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to [@project, :todos] do %>
          Todo's
          <span class="badge badge-important pull-right" style="margin-left:2px;"><%= @project.todos.where(:completed => false).count %></span>
          <span class="badge badge-success pull-right"><%= @project.todos.where(:completed => true).count %></span>
        <% end %>
      <% end %>
    </ul>
  </div>
  
  <div class="project-info well">
    <ul class="unstyled">
      <% if @project.projectable_type == "Group" %>
        <li>Module: <%= link_to(@project.projectable.cluster.name, @project.projectable.cluster) %></li>
        <li>Group: <%= link_to(@project.projectable.name, @project.projectable) %></li>
      <% else %>
        <li>Module: <%= link_to(@project.projectable.name, @project.projectable) %></li>
      <% end %>
    </ul>
    <%= content_tag :p, 'Bibliography is available as root bibliography', class: 'text-info' if @project.show_references == true %>

    <%= link_to "Manage Memberships", [:edit, @project.projectable, @project] if @project.memberships.where(:user_id => current_user, :role => 'admin').present? || (can? :manage, 'Memberships') %> 
    <%= link_to "Add introduction document", polymorphic_path([:new, @project, :document], :document_type => "Introduction") unless @project.documents.doctype('Introduction') %>
  </div>
<% end %>