<% books.each do |book| %>
  <%= content_tag :div, class: 'list-entry' do -%>
    <div class="row-fluid">
      <%= content_tag :div, class: 'span3 authors' do -%>
        <ul class="unstyled">
          <%= content_tag :li, book_edited_by(book) %>
          <li><%= book.year.present? ? book.year : '[unpublished]' %></li>
        </ul>
      <% end -%>
      <%= content_tag :div, class: 'span8' do -%>
        <p>
          <%= content_tag :span, book_edited_by(book)+', ' %>
          <%= content_tag :span, book_title(book) %>
          <%= content_tag :span, ', '+book.publisher if book.publisher.present? %>
          <%= content_tag :span, ', '+book.place if book.place.present? %>
          <%= content_tag :span,  book.year.present? ? "(#{book.year})" : '[unpublished]' %>.
        </p>
      <% end -%>
    </div>
  <% end -%>
<% end %>