<table class="table table-bordered table-hover">
<tbody>
<% books.each do |book| %>
  <%= content_tag :tr, class: 'list-entry' do %>

      <%= content_tag :td, style: 'width:20%' do %>
        <ul class="unstyled">
          <%= content_tag :li, book_edited_by(book) %>
          <li><%= book.year.present? ? book.year : '[unpublished]' %></li>
        </ul>
      <% end %>
      <%= content_tag :td do %>
        <p>
          <%= content_tag :span, book_edited_by(book)+', ' %>
          <%= content_tag :span, book_title(book) %>
          <%= content_tag :span, ', '+book.publisher if book.publisher.present? %>
          <%= content_tag :span, ', '+book.place if book.place.present? %>
          <%= content_tag :span,  book.year.present? ? "(#{book.year})" : '[unpublished]' %>.
        </p>
      <% end %>

  <% end %>
<% end %>
</tbody>
</table>
