<%= nested_form_for @book, :html => {:class => "form-horizontal"} do |f| %>
  <%= f.error_messages %>

<fieldset>
  <div class="row">
    <div class="control-group">
      <%= f.label :book_type, class: 'control-label' %>
      <div class="controls">
        <% unless @book.serial %>
          <%= f.select(:book_type, Book::BOOKTYPES, :include_blank => true) %>
        <% else %>
          <%= f.select(:book_type, @book.serial.serial_types, :include_blank => true) %>       
        <% end %>
      </div>
    </div>

    <div id="if_serial">
      <div class="control-group">
        <%= f.label :serial_id, class: 'control-label' %>
        <div class="controls">
          <%= f.collection_select(:serial_id, Serial.all, :id, :name, :include_blank => true) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :volume, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :volume %>
        </div>
      </div>
    </div>

    <hr class="controls">

    <div class="control-group" id="if_editorial">
      <%= f.label :editor_ids, "Editors", :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :editor_ids, PersonName.order(:last_name), :id, :name, {}, {multiple: true, class: 'form-control chosen-select input-block-level'} %>
      </div>
    </div>

    <div id="if_collection">
      <div class="control-group">
        <%= f.label :title, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, class: 'input-block-level' %>
        </div>
      </div>
    </div>

    <div id="year">
      <div class="control-group">
        <%= f.label :unpublished, class: 'control-label' %>
        <div class="controls">
          <%= f.check_box :unpublished %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :year, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :year %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :edition, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :edition, placeholder: "1st, 2nd etc." %>
        </div>
      </div>
  
      <div class="control-group">
        <%= f.label :abbreviation, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :abbreviation, placeholder: "FS someone" %>
        </div>
      </div>
    </div>
  
    <div id="unless_serial">  
      <div class="control-group">
        <%= f.label :publisher, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :publisher %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :place, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :place %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :book_identifier, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :book_identifier %>
        </div>
      </div>
    </div>



    <div id="articles">
      <%= f.fields_for :articles do |builder| %>
        <%= render "references/reference_fields", :f => builder %>
      <% end %>
      <%= f.link_to_add "Add Contents", :articles %>
    </div>


    <div class="form-actions">
      <%= f.submit "Speichern", :id => 'book-submit', :class => 'btn btn-primary' %>
      <%= link_to 'Abbrechen', :back, :class => 'btn' %>
    </div>
  </div>
</fieldset>

<% end %>
