<%= nested_form_for @book, :html => {:class => "custom"} do |f| %>
  <%= f.error_messages %>

<fieldset>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :book_type %>
      <% unless @book.serial %>
        <%= f.select(:book_type, Book::BOOKTYPES, :include_blank => true) %>
      <% else %>
         <%= f.select(:book_type, @book.serial.serial_types, :include_blank => true) %>       
      <% end %>
    </div>

    <div id="if_serial" class="large-12 columns">
      <div class="row collapse">
        <div class="large-10 columns">
          <%= f.label :serial_id %>
          <%= f.collection_select(:serial_id, Serial.all, :id, :name, :include_blank => true) %>
        </div>
        <div class="large-2 columns">
          <%= f.label :volume %>
          <%= f.text_field :volume %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="if_editorial" class="large-6 columns">
      <div id="editors" class="control-group">
        <%= f.fields_for :editorships do |builder| %>
          <%= render "editorship_fields", :f => builder %>
        <% end %>
        <%= f.link_to_add "Add Editor", :editorships %>
      </div>
    </div>
  </div>

  <br />

  <div id="if_collection" class="row">
    <div class="large-12 columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div id="year" class="row">
    <div class="large-4 columns">
      <%= f.label :year %>
      <%= f.text_field :year %>
    </div>
    <div class="large-3 columns pull-5">
      <%= f.label :unpublished %>
      <%= f.check_box :unpublished %>
    </div>
  </div>

  <div id="unless_serial" class="row">  
    <div class="large-12 column">
      <div class="row">
        <div class="large-6 column">
          <%= f.label :publisher %>
          <%= f.text_field :publisher %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 column">
          <%= f.label :place %>
          <%= f.text_field :place %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 column">
          <%= f.label :book_identifier %>
          <%= f.text_field :book_identifier %>
        </div>
      </div>
    </div>
  </div>

  <div id="articles">
    <%= f.fields_for :articles do |builder| %>
      <%= render "references/reference_fields", :f => builder %>
    <% end %>
    <%= f.link_to_add "Add Contents", :articles %>
  </div>
</fieldset>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'button' %>
    <% if @book.new_record? %>
        <%= link_to 'Abbrechen', :back, :class => 'button secondary' %>
    <% else %>
      <%= link_to 'Abbrechen', @book, :class => 'button secondary' %>
    <% end %>
  </div>

<% end %>
