<% title "Publications", nil %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "Discover", discover_path %>
    <%= link_to 'Publications', books_path %>
  </nav>
<% end %>

<% content_for :link_section do %>
  <div class="button-bar right">
    <ul class="button-group">
      <% if can? :edit, @serial %>
        <%= link_to 'New Book', new_book_path, class: "button small" %>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :main_section do %>
  <table>
    <tr>
      <th></th>
      <th>Year</th>
      <th>Booktitle</th>
      <th>Place</th>
      <th>Publisher</th>
      <th>Book type</th>
      <th>Unpublished</th>
      <% if can? :edit, @books %>
        <th></th>
      <% end %>
    </tr>
  
    <% @books.each do |book| %>
      <tr>
        <td>
          <% unless book.people.empty? %>
            <%= book.people.map{ |a| link_to(a.fullname,a) }.join(", ").html_safe %> (Hrsg.)
          <% else %>
            <% if book.book_type == "Monographie" || book.book_type == "Monographie in einer Reihe" %>
              <%= book.articles.first.people.map{ |a| link_to(a.fullname,a) }.join(", ").html_safe %>
            <% else %>
              Kein Autor
            <% end %>
          <% end %>
        </td>
        <td><%= book.year %></td>
        <td><%= link_to "#{book.content(false)}", book %></td>
        <td><%= book.place %></td>
        <td><%= book.publisher %></td>
        <td><%= book.book_type %></td>
        <td><%= book.unpublished %></td>
        <% if can? :edit, @books %>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>