<% title book_short_title(@book, true), nil %>
<% edit_section_for(@book, nil) %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Books', books_path %> <span class="divider">/</span></li>
  <li class="active"><%= book_short_title(@book, true) %></li>
<% end %>

<% content_for :main_section do %>
  <div class="span8">
    <h4 class="muted">Content</h4>
    <%= render "references/bib_entries", :references => @book.articles.order('first_page ASC') %>
    <% unless @book.book_type == 'Monographie' || @book.book_type == 'Monographie in einer Reihe' %>
      <% if can? :edit, @book %>
        <div class="" style="margin-top:50px;">
          <%= link_to 'Add Article', new_reference_path(:book_id => @book), class: "btn btn-large" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="span3 offset1">
    <h5 class="muted">Title <small><%= @book.book_type %></small></h5>
    <ul class="unstyled">
      <li><%= book_edited_by(@book, true, true, false) %><%= @book.year %></li>
      <li><%= book_title(@book) %></li>
    </ul>

    <% unless @book.unpublished? %>
    <h5 class="muted">Published</h5>
    <ul class="unstyled">
      <li><%= @book.publisher %></li>
      <li><%= @book.place %></li>
      <%= content_tag :li, 'ISBN'+@book.book_identifier if @book.book_identifier.present? %>
    </ul>
    <% else %>
      <h5 class="muted">UNPUBLISHED</h5>
    <% end %>

    <h5 class="muted" style="margin-top:50px;">Record Info</h5>
    <ul class="unstyled">
      <li>Created by: <%= @book.creator.available_name %></li>
      <li>Updated by: <%= @book.updater.available_name %></li>
    </ul>
  </div>


<% end %>