<% title book_short_title(@book), nil %>
<% edit_section_for(@book, nil) %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "Explore", explore_path %>
    <%= link_to 'Books', books_path %>
    <%= link_to "#{book_short_title(@book)}", @book %>
  </nav>
<% end %>

<% content_for :main_section do %>
  <h4>Content</h4>
  <ul>
    <% for article in @book.articles do %>
      <li><%= link_to "#{article.title}", article %></li>
    <% end %>
  </ul>
  <% unless @book.book_type == 'Monographie' || @book.book_type == 'Monographie in einer Reihe' %>
    <p><%= link_to 'Add an article', new_reference_path(:book_id => @book), class: "button small" if can? :edit, @book %></p>
  <% end %>
<% end %>

<% content_for :note_section do %>
  <p>
    <b>Title: </b><%= book_edited_by(@book, true, true, false) %><%= book_title(@book) %>
  </p>

  <p>
    <b>Place:</b>
    <%= @book.place %>
  </p>
  
  <p>
    <b>Publisher:</b>
    <%= @book.publisher %>
  </p>
  
  <p>
    <b>Year:</b>
    <%= @book.year %>
  </p>
  
  <p>
    <b>Book type:</b>
    <%= @book.book_type %>
  </p>
  
  <p>
    <b>Unpublished:</b>
    <%= @book.unpublished %>
  </p>
  
  <p>
    <b>Book identifier:</b>
    <%= @book.book_identifier %>
  </p>
<% end %>