<%= form_for [@attachable, @bucket], :html => { :class => 'custom'} do |f| %>
<%= f.error_messages %>

  <%= f.hidden_field :attachable_type %>
  <%= f.hidden_field :attachable_id %>
  <%= f.hidden_field :name_fixed %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :readonly => !@bucket.name_fixed.blank? %>
  </div>
  <div class="field">
    <%= f.label :cover_asset_id %>
    <%= f.text_field :cover_asset_id %>
  </div>


  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'button' %>
    <% if @bucket.new_record? %>
      <% if @bucket.attachable %>
        <%= link_to 'Abbrechen', @bucket.attachable, :class => 'button secondary' %>
      <% else %>
        <%= link_to 'Abbrechen', buckets_path, :class => 'button secondary' %>
      <% end %>
    <% else %>
      <%= link_to 'Abbrechen', [@bucket.attachable, @bucket], :class => 'button secondary' %>
    <% end %>
  </div>
<% end %>
