<%= form_for [@attachable, @bucket], :html => { :class => 'form-horizontal'} do |f| %>
<%= f.error_messages %>

  <%= f.hidden_field :attachable_type %>
  <%= f.hidden_field :attachable_id %>
  <%= f.hidden_field :name_fixed %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :readonly => !@bucket.name_fixed.blank? %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :tag_ids, "Tags", class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :tag_ids, Tag.arrange_as_tree({:order => 'name'}), :id, :name_for_selects, {}, {multiple: true, class: 'form-control chosen-select input-block-level'} %>
      <p class="help-block"><%= link_to 'Edit tags', tags_path, target: 'blank' %></p>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <% if @bucket.new_record? %>
      <% if @bucket.attachable %>
        <%= link_to 'Abbrechen', @bucket.attachable, :class => 'btn' %>
      <% else %>
        <%= link_to 'Abbrechen', buckets_path, :class => 'btn' %>
      <% end %>
    <% else %>
      <%= link_to 'Abbrechen', :back, :class => 'btn' %>
    <% end %>
  </div>
<% end %>
