<% title "Buckets", nil %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>

  <%= content_tag(:li, 'Buckets', class: 'active') %>

<% end %>

<% content_for :main_section do %>
  <div class="span12">

  <% @buckets.each do |bucket| %>
    <div class="well">
      <div class="row-fluid">
        <div class="span3">
          <p><%= link_to "#{bucket.full_bucket_name}", [bucket.attachable, bucket] %></p>
        </div>
        <div class="span2">
          <%= content_tag :span, class: 'thumbnail' do %>
            <%= link_to (image_tag bucket.cover.assetfile.thumb.url), bucket.cover, class: "" %>
          <% end if bucket.cover %>
        </div>
        <div class="span7">
          <ul class="thumbnails">
          <% for asset in bucket.assets-Array.wrap(bucket.cover) %>
            <li class="thumbnail"><%= link_to (image_tag asset.assetfile.mini_thumb.url), asset, class: "" if asset.content_type.include? 'image' %>
            <%= link_to (image_tag 'mini_dummy.gif'), asset, class: "" unless asset.content_type.include? 'image' %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>