<% title "#{@bucket.name}", nil %>
<% edit_section_for(@bucket, @bucket.attachable) %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "#{@bucket.attachable.name}", @bucket.attachable unless @bucket.attachable_type == 'Person' %>
    <%= link_to "#{@bucket.attachable.fullname}", @bucket.attachable if @bucket.attachable_type == 'Person' %>
    <%= @bucket.name.present? ? (link_to "#{@bucket.name}", [@bucket.attachable, @bucket]) : 'Nothing' %>
  </nav>
<% end %>

<% content_for :main_section do %>
  <div class="large-8 columns">
    <ul class="small-block-grid-2 large-block-grid-4">
      <% for asset in @bucket.assets do %>
        <% if asset.content_type.include? 'image' %>
          <li><%= link_to (image_tag asset.assetfile.thumb.url), asset, class: "th radius" %></li>
        <% else %>
          <li><%= link_to "#{asset.assetfile.url}", asset %></li>
        <% end %>
      <% end %>
    </ul>
  <p>
    <b>Cover_id:</b>
    <%= @bucket.cover_asset_id %>
  </p>

    <% if can? :edit, @bucket %>
      <ul class="pricing-table">
        <li class="title">Assets</li>
        <li class="description">Hier ergänzender Text über die Möglichkeiten und Konsequenzen eines neuen Assets und was es sein kann</li>
        <li class="bullet-item"><b>Content Types: </b>image, text, ...</li>
        <li class="cta-button"><%= link_to 'Add Assets', new_bucket_asset_path(@bucket), class: "button" %></li>
      </ul>
  ´ <% end %>
  </div>
  <div class="large-3 columns offset-1">
    <h5 class="subheader">Info</h5>
    <ul class="no-bullet">
      <%= content_tag :li, @bucket.name if @bucket.name.present? %>
      <%= content_tag :li, 'Created by: '+@bucket.creator.available_name if @bucket.creator.present? %>
      <%= content_tag :li, 'Updated by: '+@bucket.creator.available_name if @bucket.updater.present? %>
    </ul>
  </div>
  

<% end %>

<% content_for :footer_section do %>

<% end %>