<% title "Bucket", @bucket.name %>
<% edit_section_for(@bucket, @bucket.attachable) unless @bucket.name_fixed %>
<% footer_section(@bucket) %>


<% content_for :breadcrumbs_section do %>
  <% unless @bucket.attachable_type == 'Page' %>
    <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, (link_to @bucket.attachable.class.name.pluralize, [@bucket.attachable.class]) + content_tag(:span, '/', class: 'divider')) if @bucket.attachable %>
    <%= content_tag(:li, link_to("#{@bucket.attachable.name}", @bucket.attachable) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, link_to("Buckets", [@bucket.attachable, :buckets]) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, @bucket.name.present? ? (@bucket.name) : 'Nothing', class: 'active') %>
  <% end %>
<% end %>

<% content_for :main_section do %>
  <div class="row-fluid">
    <div class="span9">
      <%= render 'bucket_assets', bucket: @bucket %>
    </div>
    <div class="span3">
    <%= content_tag :h4, 'Other files', class: 'muted' %>
    <% for asset in @bucket.assets.order('content_type DESC', 'name ASC') do %>
      <% unless asset.content_type.include? 'image' %>
        <ul class="unstyled">
          <li><%= link_to "#{asset.name}", asset %> <% if can? :edit, @bucket %><%= link_to '(Delete)', pailful_bucket_path(@bucket, :asset_id => asset), method: :delete, data: { confirm: 'Are you sure?' } %><% end %></li>
        </ul>
      <% end %>
    <% end %>
    </div>
  </div>
<% end %>