<% title "#{@bucket.name}", nil %>
<% edit_section_for(@bucket, @bucket.attachable) if can? :edit, @bucket %>

<% content_for :breadcrumbs_section do %>
  <% unless @bucket.attachable_type == 'Page' %>
    <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>

    <%= content_tag(:li, link_to("#{@bucket.attachable.name}", @bucket.attachable) + content_tag(:span, '/', class: 'divider')) unless @bucket.attachable_type == 'Person' %>
    <%= content_tag(:li, link_to("#{@bucket.attachable.fullname}", @bucket.attachable) + content_tag(:span, '/', class: 'divider')) if @bucket.attachable_type == 'Person' %>
    <%= content_tag(:li, @bucket.name.present? ? (@bucket.name) : 'Nothing', class: 'active') %>
  <% end %>
<% end %>

<% content_for :main_section do %>
  
  <div class="span8">
    <ul class="thumbnails">
      <% for asset in @bucket.assets.order('content_type DESC', 'name ASC') do %>
        <li class="span2">
          <% if asset.content_type.include? 'image' %>  
            <div class="thumbnail">
              <%= link_to (image_tag asset.assetfile.thumb.url), asset, class: "" %>
              <div class="caption">  
                <h5><%= link_to "#{asset.name}", asset %></h5>
                <ul class="unstyled">
                  <% if can? :edit, @bucket %>
                    <li><%= link_to 'Set as cover', set_as_cover_bucket_path(@bucket, :cover_asset_id => asset), method: :put %><%= content_tag :span, ' (x)' if asset.id == @bucket.cover_asset_id %></li>
                    <li><%= link_to 'Delete from bucket', pailful_bucket_path(@bucket, :asset_id => asset), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to 'Add Assets', new_bucket_asset_path(@bucket), class: "btn btn-large" if can? :edit, @bucket %>

  </div>
  <div class="span3 offset1">
    <%= content_tag :h4, 'Other files', class: 'muted' %>
    <% for asset in @bucket.assets.order('content_type DESC', 'name ASC') do %>
      <% unless asset.content_type.include? 'image' %>
        <ul class="unstyled">
          <li><%= link_to "#{asset.name}", asset %> <% if can? :edit, @bucket %><%= link_to '(Delete)', pailful_bucket_path(@bucket, :asset_id => asset), method: :delete, data: { confirm: 'Are you sure?' } %><% end %></li>
        </ul>
      <% end %>
    <% end %>
    <h4 class="muted">Info</h4>
    <ul class="unstyled">
      <%= content_tag :li, @bucket.name if @bucket.name.present? %>
      <%= content_tag :li, 'Created by: '+@bucket.creator.available_name if @bucket.creator.present? %>
      <%= content_tag :li, 'Updated by: '+@bucket.creator.available_name if @bucket.updater.present? %>
    </ul>
  </div>
  

<% end %>

<% content_for :footer_section do %>

<% end %>