<% title "Bucket", @bucket.name %>
<% edit_section_for(@bucket, @bucket.attachable) unless @bucket.name_fixed %>
<% footer_section(@bucket) %>


<% content_for :breadcrumbs_section do %>
  <% unless @bucket.attachable_type == 'Page' %>
    <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, (link_to @bucket.attachable.class.name.pluralize, [@bucket.attachable.class]) + content_tag(:span, '/', class: 'divider')) if @bucket.attachable %>
    <%= content_tag(:li, link_to("#{@bucket.attachable.name}", @bucket.attachable) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, link_to("Buckets", [@bucket.attachable, :buckets]) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, @bucket.name.present? ? (@bucket.name) : 'Nothing', class: 'active') %>
  <% end %>
<% end %>

<% content_for :main_section do %>
  <% if @bucket.assets.any? %>
    <ul class="thumbnails">
      <%= render partial: 'asset', collection: @bucket.assets.order('content_type DESC', 'name ASC') %>
    </ul>
  <% else %>
    <div class="" style="background-color:#f5f5f5; height:80px; padding-top:40px; margin-bottom:20px;">
      <p class="text-center">This bucket is empty. Start adding some files to it.</p>
    </div>
  <% end %>
    <% if @bucket.attachable_type == 'Person' %>
      <%= render 'upload_asset' if (!@bucket.attachable.user_id?) || (@bucket.attachable.user.id == current_user.id) %>
    <% else %>
      <%= render 'upload_asset' %>
    <% end %>
<% end %>

<% content_for :sidebar_section do %>
    <%= content_tag :h4, 'Other files', class: 'muted' %>
    <% for asset in @bucket.assets.order('content_type DESC', 'name ASC') do %>
      <% unless asset.content_type.include? 'image' %>
        <ul class="unstyled">
          <li><%= link_to "#{asset.name}", asset %> <% if can? :edit, @bucket %><%= link_to '(Delete)', pailful_bucket_path(@bucket, :asset_id => asset), method: :delete, data: { confirm: 'Are you sure?' } %><% end %></li>
        </ul>
      <% end %>
    <% end %>
 

<!-- Modals beginn -->

  <div id="add_assets" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Upload new asset</h3>
    </div>

    <%= form_tag pailfuls_bucket_path(@bucket), method: :post, class: 'custom' do %>
    <div class="modal-body">
      <ul class="thumbnails">
        <% for asset in @assets_available do %>
          <li class="span2">
            <div class="thumbnail">
              <% if asset.content_type.include? 'image' %>
                <%= link_to (image_tag asset.assetfile.thumb.url), asset, class: '' %>
              <% else %>
                <%= image_tag 'dummy.svg', class: '' %>
              <% end %>
              <div class="caption">
                <p><%= link_to "#{asset.name}", asset %><span class="pull-right"><%= check_box_tag "asset_ids[]", asset.id %></span></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <%= will_paginate(@assets_available, class: 'pagination pagination-centered', :renderer => WillPaginate::ActionView::BootstrapLinkRenderer) %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">
        <i class="icon-share icon-white"></i>
        <span>Add marked assets to bucket</span>
      </button>
    </div>
    <% end %>
  </div>
<% end %>