<% title "#{@bucket.name}", nil %>
<% edit_section_for(@bucket, @bucket.attachable) unless @bucket.name_fixed %>

<% content_for :breadcrumbs_section do %>
  <% unless @bucket.attachable_type == 'Page' %>
    <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>

    <%= content_tag(:li, link_to("#{@bucket.attachable.name}", @bucket.attachable) + content_tag(:span, '/', class: 'divider')) unless @bucket.attachable_type == 'Person' %>
    <%= content_tag(:li, link_to("#{@bucket.attachable.fullname}", @bucket.attachable) + content_tag(:span, '/', class: 'divider')) if @bucket.attachable_type == 'Person' %>
    <%= content_tag(:li, @bucket.name.present? ? (@bucket.name) : 'Nothing', class: 'active') %>
  <% end %>
<% end %>

<% content_for :main_section do %>
  <ul class="thumbnails">
    <%= render partial: 'asset', collection: @bucket.assets.order('content_type DESC', 'name ASC') %>
  </ul>
  <% if @bucket.attachable_type == 'Person' %>
    <%= render 'upload_asset' if (!@bucket.attachable.user_id?) || (@bucket.attachable.user.id == current_user.id) %>
  <% else %>
    <%= render 'upload_asset' %>
  <% end %>
<% end %>

<% content_for :sidebar_section do %>
    <%= content_tag :h4, 'Other files', class: 'muted' %>
    <% for asset in @bucket.assets.order('content_type DESC', 'name ASC') do %>
      <% unless asset.content_type.include? 'image' %>
        <ul class="unstyled">
          <li><%= link_to "#{asset.name}", asset %> <% if can? :edit, @bucket %><%= link_to '(Delete)', pailful_bucket_path(@bucket, :asset_id => asset), method: :delete, data: { confirm: 'Are you sure?' } %><% end %></li>
        </ul>
      <% end %>
    <% end %>
    <h4 class="muted">Info</h4>
    <ul class="unstyled">
      <%= content_tag :li, @bucket.name if @bucket.name.present? %>
      <%= content_tag :li, 'Created by: '+@bucket.creator.available_name if @bucket.creator.present? %>
      <%= content_tag :li, 'Updated by: '+@bucket.creator.available_name if @bucket.updater.present? %>
    </ul>
  

<!-- Modals beginn -->

  <div id="add_assets" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Upload new asset</h3>
    </div>

    <%= form_tag pailfuls_bucket_path(@bucket), method: :post, class: 'custom' do %>
    <div class="modal-body">
      <ul class="thumbnails">
        <% for asset in @assets_available do %>
          <li class="span2">
            <div class="thumbnail">
              <% if asset.content_type.include? 'image' %>
                <%= link_to (image_tag asset.assetfile.thumb.url), asset, class: '' %>
              <% else %>
                <%= image_tag 'dummy.svg', class: '' %>
              <% end %>
              <div class="caption">
                <p><%= link_to "#{asset.name}", asset %><span class="pull-right"><%= check_box_tag "asset_ids[]", asset.id %></span></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <%= will_paginate(@assets_available, class: 'pagination pagination-centered', :renderer => WillPaginate::ActionView::BootstrapLinkRenderer) %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">
        <i class="icon-share icon-white"></i>
        <span>Add marked assets to bucket</span>
      </button>
    </div>
    <% end %>
  </div>
<% end %>