<%= form_for(@tag) do |f| %>
  <%= f.error_messages %>
  
  <div class="control-group">
    <%= f.label :parent_id, 'Belongs to', class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :parent_id, Tag.possible_parents(@tag), :id, :name, { include_blank: true }, class: 'input-xxlarge' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
