<%= form_for @tag, html: { class: ' form-horizontal' } do |f| %>
  <%= f.error_messages %>

    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, class: 'span6' %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :parent_id, 'sub-category-of', class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select :parent_id, Tag.possible_parents(@tag), :id, :name, { include_blank: true }, class: 'span6' %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <% if @tag.new_record? %>
        <%= link_to 'Abbrechen', tags_path, :class => 'btn' %>
    <% else %>
      <%= link_to 'Abbrechen', :back, :class => 'btn' %>
    <% end %>
  </div>
<% end %>
