<% title "Research Area: #{@area.name}", nil %>
<% edit_section_for(@area, nil) if can? :edit, @area %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("#{@area.cluster.name}", @area.cluster) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Areas", cluster_areas_path(@area.cluster)) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "#{@area.name}", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span8">
    <%= render "shared/document_first", var: @area, dtype: "Introduction" if @area.documents.doctype('Introduction') %>

    <%= render "shared/document_docs_without_type", :var => @area %>

    <%= content_tag :h4, link_to("Groups", area_groups_path(@area)), class: "muted" if @area.groups.present? %>
    <%= render "shared/document_introductions", :vars => @area.groups %>
  </div>

  <div class="span3 offset1">
    <% if can? :edit, @area %>
      <div class="btn-group pull-right" style="margin-left:100%;margin-bottom:20px;">
        <a class="btn dropdown-toggle btn-large" data-toggle="dropdown" href="#">
          Add
          <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Group', new_group_path(:area_id => @area) %></li>
            <li class="divider"></li>
            <li><%= link_to "Introduction Document", polymorphic_path([:new, @area, :document], :document_type => "Introduction") if !@area.documents.doctype('Introduction') %></li>
            <li><%= link_to 'Document', polymorphic_path([:new, @area, :document]) %></li>
          </ul>
      </div>
    <% end  %>

    <h5 class="muted">Creator</h5>
    <ul class="unstyled">
      <li>
        <% unless @area.creator.person %>
          <%= @area.creator.available_name %>
        <% else %>
          <%= link_to "#{@area.creator.available_name}", @area.creator.person %>
        <% end %>
      </li>
    </ul>

    <% if @area.groups.present? %>
      <h5 class="muted">Groups</h5>
      <ul class="unstyled">
        <% for group in @area.groups do %>
          <li><%= link_to "#{group.name}", group %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>