<% title "Sign in", nil %>
<div class="row">
  <div class="small-10 large-6 large-centered small-centered columns">
  	<h3 style="margin-top:10px;">Sign in</h3>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {class: "custom"}) do |f| %>
      <div class="field">
        <%= f.label :login, 'Username or Email' %>
        <%= f.text_field :login, :autofocus => true %>
      </div>
      
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      
      <% if devise_mapping.rememberable? -%>
        <div><%= f.label :remember_me do %><%= f.check_box :remember_me %> Remember me<% end %></div>
      <% end -%>
    
      <div style="margin-top:20px;"><%= f.submit "Sign in", class: 'button expand radius' %></div>
    
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
