<%= content_tag :li, class: (asset.is_cover ? size_b : size_a) do %>
  <div class="thumbnail">
    <%= link_to (image_tag (asset.is_cover ? asset.assetfile.big_thumb.url : asset.assetfile.thumb.url)), asset if asset.content_type.include? 'image' %>
    <%= link_to (image_tag 'mini_dummy.gif'), asset unless asset.content_type.include? 'image' %>
    <div class="asset-info" style="padding:5px">
      <p class="visible-desktop" style="min-height:15em;">
        <strong><%= asset.name %></strong><br />
        <% if asset.caption %>
          <%= truncate(asset.caption, length: 230, seperator: ' ', omission: ' ... ') %>
          <br />
        <% end %>
        <strong>Buckets: </strong>
        <%= asset.buckets.map{ |b| link_to(b.full_bucket_name,[b.attachable, b]) }.join(", ").html_safe %>
      </p>
      <%= content_tag :span do %>
        <label class="checkbox">
          <%= check_box_tag "asset_ids[]", asset.id %> Mark deleted
        </label> 
      <% end if can? :destroy, asset %>

    </div>
  </div>
<% end %>