<% title "Edit Asset", nil %>

<% content_for :main_section do %>
<%= form_for @asset, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.error_messages %>

  <div class="control-group">
    <%= f.label :assetfile, class: 'control-label' %>
    <div class="controls">
      <%= f.file_field :assetfile %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, class: 'span6' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :caption, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :caption, class: 'span6' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :license, class: 'control-label' %>
    <div class="controls">
      <%= f.select :license, Asset::LICENSES, class: 'span6' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file_author, class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :file_author, Person.all, :id, :name, prompt: "Who took it?" %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <%= link_to 'Abbrechen', :back, :class => 'btn' %>
  </div>
<% end %>
<% end %>