<% title "Assets#{' of ' + @bucket.name if @bucket}", nil %>

<% content_for :breadcrumbs_section do %>

<% end %>

<% content_for :main_section do %>
<p><%= link_to 'Back', :back %></p>

<div class="row">
  <% @assets.each do |asset| %>
    <div class="large-4 small-12 columns">
      <div class="row">
      <div class="large-3 small-3 columns">
        <%= link_to (image_tag asset.assetfile.mini_thumb.url, class: "th left"), asset if asset.content_type.include? 'image' %>
        <%= image_tag 'mini_dummy.gif', class: "th left" unless asset.content_type.include? 'image' %>
      </div>
      <div class="large-9 small-9 columns">
        <p>
        <strong>Name: </strong><%= asset.name %><br />
        <strong>Description: </strong><%= asset.name %><br />
        <strong>Buckets: </strong><%= asset.buckets.map{ |b| link_to(b.full_bucket_name,b) }.join(", ").html_safe %></p>
      </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>


<% content_for :footer_section do %>

<% end %>

