<% title "Assets#{' in ' + @bucket.name if @bucket}", nil %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("#{@bucket.name}", [@bucket.attachable, @bucket]) + content_tag(:span, '/', class: 'divider')) if @bucket %>
  <%= content_tag :li, "Assets", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span12">
    Total: <%= @assets.count %>
    <%= form_tag destroy_multiple_assets_path, method: :delete do %>
      <ul class="thumbnails">
          <%= render @assets %>
      </ul>
      <%= content_tag :div, class: 'form-actions' do %>
        <%= submit_tag 'Delete Checked', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <%= link_to 'Back', :back, class: 'btn' %>
      <% end if can? :destroy, Asset %>
    <% end %>
  </div>
<% end %>
