<% title "Files", ("#{@bucket.name} #{content_tag(:small, 'attached to '+@bucket.attachable.name)}".html_safe if @bucket) %>
<% edit_section_for(@bucket, @bucket.attachable) if @bucket %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <% if @bucket && @bucket.attachable.class.to_s == 'Action' %>
    <li><%= link_to @bucket.attachable.actable.name, @bucket.attachable.actable %> <span class="divider">/</span></li>
    <li><%= link_to 'Object history', [@bucket.attachable.actable, :actions] %> <span class="divider">/</span></li>
    <li><%= link_to @bucket.attachable.predicate.name, [@bucket.attachable.actable, @bucket.attachable] %> <span class="divider">/</span></li>
  <% elsif @bucket %>
    <%= content_tag(:li, link_to("#{@bucket.attachable.class.to_s.pluralize}", [@bucket.attachable.class]) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, link_to("#{@bucket.attachable.name}", [@bucket.attachable]) + content_tag(:span, '/', class: 'divider')) %>
  <% end %>

  <%= content_tag(:li, link_to("Folders", [@bucket.attachable, :buckets]) + content_tag(:span, '/', class: 'divider')) if @bucket %>
  <%= content_tag :li, "#{@bucket ? @bucket.name : 'Files'}", class: 'active' %>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span12">
    <%= content_tag :span, tagging_infos_for(@bucket), class: 'pull-right' if @bucket %>
    <p>Total: <%= @assets.count %></p>
    <%= link_to [@bucket.attachable, @bucket], class: 'btn', style: 'margin-bottom:10px;' do %>
      <i class="icon-th-list"></i>
      Edit content
    <% end if @bucket %>

    <%= form_tag destroy_multiple_assets_path, method: :delete do %>
      <% if @assets.any? %>
        <ul class="thumbnails">
          <%= render partial: "asset", collection: @assets %>
        </ul>
      <% else %>
        <div class="" style="background-color:#f5f5f5; height:80px; padding-top:40px; margin-bottom:20px;">
          <p class="text-center">This folder is empty. Start adding some files to it <%= link_to '(Edit)', [@bucket.attachable, @bucket] if @bucket %>.</p>
        </div>
      <% end %>

      <%= content_tag :div, class: 'form-actions' do %>
        <%= submit_tag 'Delete checked', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <%= link_to 'Back', :back, class: 'btn' %>
      <% end if can? :destroy, Asset %>
    <% end %>
  </div>
</div>
<% end %>
