<% title "New Asset", "to: #{@bucket.name}" %>

<% content_for :main_section do %>
<%= form_for [@bucket, @asset], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>

  <div class="control-group">
    <%= f.label :assetfile, class: 'control-label' %>
    <div class="controls">
      <%= f.file_field :assetfile %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, class: 'span6' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :caption, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :caption, class: 'span6' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :license, class: 'control-label' %>
    <div class="controls">
      <%= f.select :license, Asset::LICENSES, class: 'span6' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :file_author, 'Author', class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :file_author, Person.all, :id, :name %>
      <p>The author of the description.</p>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <%= link_to 'Abbrechen', :back, :class => 'btn' %>
  </div>
<% end %>

<% end %>