<% title "New Asset", "to: #{@bucket.name}" %>

<%= form_for [@bucket, @asset], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>

  <%= @asset.inspect %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, value: @asset.asset_name, class: 'span6' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :caption, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :caption, class: 'span6' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <%= link_to 'Abbrechen', :back, :class => 'btn' %>
  </div>
<% end %>