<% title "Add Assets", "Assets will be added to: #{@bucket.name}" %>

<p><%= link_to 'Back', [@bucket.attachable, @bucket] %></p>

<%= form_tag pailfuls_bucket_path(@bucket), method: :post, class: 'custom' do %>
  <ul class="small-block-grid-3 large-block-grid-6">
    <% for asset in @assets_available do %>
      <li>
        <% if asset.content_type.include? 'image' %>
      	  <%= link_to (image_tag asset.assetfile.thumb.url), asset, class: 'th' %>
        <% else %>
          <%= image_tag 'dummy.svg', class: 'th' %>
        <% end %>
      	<p><%= link_to "#{asset.name}", asset %><span class="right"><%= check_box_tag "asset_ids[]", asset.id %></span></p>
      </li>
    <% end %>
  </ul>
  <div class="form-actions">
    <%= submit_tag 'Add marked assets to bucket', class: 'button' %>
    <%= link_to 'Back', :back, class: 'button secondary' %>
    or <a href="#" data-reveal-id="add_assets">Upload an asset</a>
  </div>
<% end %>


<div id="add_assets" class="reveal-modal">
  <a class="close-reveal-modal">&#215;</a>
  <h3>Upload a new asset</h3>
  <%= form_for [@bucket, @bucket.assets.new], :html => { :class => 'custom', :multipart => true } do |f| %>
    <%= f.error_messages %>

    <div class="field">
      <%= f.label :assetfile %>
      <%= f.file_field :assetfile %>
    </div>
  
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  
    <div class="field">
      <%= f.label :parent_id %>
      <%= f.number_field :parent_id %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Speichern', class: 'button' %>
    </div>
  <% end %>

</div>



<%= @bucket.assets.count %>
<%= @bucket.inspect %>
