<%= link_to "back", :back %>

<p>
  <b>Asset:</b>
  <%= @asset.assetfile %>
</p>
<p>
  <% if @asset.content_type.include? 'image' %>
    <%= image_tag(@asset.assetfile.big.url) %>
  <% else %>
    <li><%= link_to "#{@asset.assetfile.url}", @asset.assetfile.url %></li>
  <% end %>
</p>

<p>
  <b>Name:</b>
  <%= @asset.name %>
</p>

<p>
  <b>Parent:</b>
  <%= @asset.parent_id %>
</p>

<p>
  <b>Content type:</b>
  <%= @asset.content_type %>
</p>

<p>
  <b>File size:</b>
  <%= @asset.file_size %>
</p>

<p>
  <b>File name:</b>
  <%= @asset.file_name %>
</p>

<p>
  <b>File datetime:</b>
  <%= @asset.file_datetime %>
</p>

