<% title "#{@asset.name}", nil %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("Assets", assets_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "#{@asset.name}", class: 'active' %>
<% end %>

<% content_for :main_section do %>
<% edit_section_for(@asset, nil) if can? :edit, @asset %>
  <div class="span8">
    <% if @asset.content_type.include? 'image' %>
      <%= image_tag(@asset.assetfile.normal.url, class: 'img-polaroid', style: "margin-top:1em;") %>
    <% else %>
      <p><%= link_to "#{@asset.assetfile.url}", @asset.assetfile.url %></p>
    <% end %>
    
  </div>
  <div class="span4">
    <%= content_tag :h5, 'Caption', class: "muted" if @asset.caption %>
    <%= content_tag :p, @asset.caption if @asset.caption %>
    <dl class="dl">
      <%= asset_description('Content type', @asset.content_type) %>
      <%= asset_description('Dimensions', @asset.width, @asset.height) %>
      <%= asset_description('File size', @asset.file_size) %>
      <%= asset_description('File Name', @asset.file_name) %>
      <%= asset_description('Date Taken', @asset.date_taken) %>
      <%= asset_description('Location', @asset.latitude, @asset.longitude) %>
      <%= asset_description('Camera', @asset.camera) %>
      <%= asset_description('Manufacturer', @asset.camera_make) %>
      <%= asset_description('Flash', @asset.flash) %>
      <%= asset_description('Focal length', @asset.focal_length) %>
      <%= asset_description('Exposure', @asset.exposure) %>
      <%= asset_description('f number', @asset.f_number) %>
      <%= asset_description('ISO', @asset.iso) %>
      <%= asset_description('Versions', @asset.parent_id) %>
    </dl>

    <%= content_tag :h5, 'Buckets', class: "muted" if @buckets.any? %>
    <ul class="unstyled">
    <% for bucket in @buckets do %>
      <li><%= link_to "#{bucket.full_bucket_name}", [bucket.attachable, bucket] %></li>
    <% end %>
    </ul>

    <% if can? :read, @asset %>
      <h5 class="muted">Download</h5>
      <ul class="unstyled">
        <li><%= link_to 'Original File', download_asset_path(@asset, size: 'original') %></li>
        <% if @asset.content_type.include? 'image' %>
          <li><%= link_to '1600px file', download_asset_path(@asset, size: 'xlarge') %></li>
          <li><%= link_to '1280px file', download_asset_path(@asset, size: 'large') %></li>
          <li><%= link_to '800px file', download_asset_path(@asset, size: 'normal') %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

<% end %>




