<%= nested_form_for [@project, @todolist], :html => { class: "custom" }  do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :project_id %>

  <div class="field">
    <%= f.label :responsible_id %>
    <%= f.collection_select :responsible_id, @project.members, :id, :available_name, {:selected => current_user.id.to_s} %>
  </div>


  <div class="field">
    <%= f.fields_for :todos do |builder| %>
      <%= render "todo_fields", :f => builder %>
    <% end %>
    <%= f.link_to_add "Add Todo", :todos %>
  </div>


  <div class="form-actions">
    <%= f.submit "Speichern", class: 'button' %>
  </div>
<% end %>
