  <div class="controls controls-row">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :assigned_id %>
        <%= f.collection_select :assigned_id, @project.members, :id, :available_name %>
      </div>
      <div class="field">
        <%= f.label :due_to %>
        <%= f.date_select :due_to %>
      </div>
      <div class="field">
        <%= f.label :completed %>
        <%= f.check_box :completed %>
      </div>
    <small><%= f.link_to_remove "remove" %></small>
  </div>