<% title "Todolists", nil %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "Project: #{@project.name}", [@project.projectable, @project] %>
    <%= link_to "Todolists", project_todolists_path(@project) %>
  </nav>
<% end %>

<% content_for :main_section do %>
  <% @todolists.each do |todolist| %>
    <div class="todolist-entry panel">
      <h6><%= link_to "#{todolist.name}", [@project, todolist] %></h6>
      <p>in: <%= link_to "#{todolist.project.name}", [todolist.project.projectable, todolist.project] %>, 
        Responsible: <%= todolist.responsible.available_name %>, Todo's: <%= todolist.todos.count %></p>
    </div>
  <% end %> 
<% end %>

<% content_for :footer_section do %>

<% end %>
