<% title "#{@todolist.name}", nil %>
<% edit_section_for(@todolist, @project) %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "Project: #{@project.name}", [@project.projectable, @project] %>
    <%= link_to "Todolists", project_todolists_path(@project) %>
    <%= link_to "#{@todolist.name}", [@project, @todolist] %>
  </nav>
<% end %>

<% content_for :main_section do %>
  <div class="large-8 columns">

    <% if can? :follow, @todolist %>
      <h4 class="subheader"><%= link_to "Todos", project_todolist_todos_path(@todolist.project, @todolist) %></h5>
      <ul class="no-bullet">
        <% for todo in @todolist.todos do %>
          <li>
            <%= link_to "#{todo.name}", [@todolist.project, @todolist, todo] %>, Assigned to <%= link_to "#{todo.assigned.available_name}", todo.assigned.people.first %>, Due to <%= todo.due_to %>
          </li>
        <% end %>
      </ul>

      <div class="row" style="margin-top:40px;margin-bottom:40px;">
        <div class="large-6 columns">
          <ul class="pricing-table">
            <li class="description">Hier ergänzender Text über die Möglichkeiten</li>
            <li class="cta-button"><%= link_to 'Add Todo', new_project_todolist_todo_path(@todolist.project, @todolist), class: "button" %></li>
          </ul>
        </div>
      </div>
      
    <% end %>
  </div>

  <div class="large-3 columns offset-1">
    
    <h5 class="subheader">Project</h5>
    <ul class="no-bullet">
      <li>
        <%= link_to "#{@todolist.project.name}", [@todolist.project.projectable, @todolist.project] %>
      </li>
    </ul>
  
    <h5 class="subheader">Responsible</h5>
    <ul class="no-bullet">
      <li>
        <% unless connected_profile(@todolist.responsible) %>
          <%= @todolist.responsible.available_name %>
        <% else %>
          <%= link_to "#{@todolist.responsible.available_name}", @todolist.responsible.people.first %>
        <% end %>
      </li>
    </ul>  
  
    <h5 class="subheader">Creator/Updater</h5>
    <ul class="no-bullet">
      <li>
        <% unless connected_profile(@todolist.creator) %>
          <%= @todolist.creator.available_name %>
          <%= @todolist.updater.available_name %>
        <% else %>
          <%= link_to "#{@todolist.creator.available_name}", @todolist.creator.people.first %> / 
          <%= link_to "#{@todolist.updater.available_name}", @todolist.updater.people.first %>
        <% end %>
      </li>
    </ul>

  </div>

<% end %>