<fieldset class="nested-fields" style="border:1px solid #f5f5f5; padding:20px 0;margin-bottom:10px;">
  <div class="action-field">
    <div class="control-group">
      <%= f.label :predicate_id, 'Predicate', class: 'control-label' %>
      <div class="form-inline controls">
        <%= f.collection_select :predicate_id, Predicate.where('scope_type = ?', 'Action'), :id, :name, class: 'span6' %>
        <small><%= link_to_remove_association "remove", f %></small>
      </div>
    </div>

  </div>

  <div class="source-field">

    <div class="control-group">
      <%= f.label :source_id, class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select :source_id, Source.all, :id, :name, {}, {multiple: false, class: 'form-control chosen-select input-block-level'} %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :target, '(Page, Image)', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :target %>
      </div>
    </div>

  </div>

  <div id='locations'>
    <%= f.fields_for :locations do |builder| %>
      <%= render "shared/location_fields", :f => builder %>
    <% end %>
    <div class="links controls">
      <%= link_to_add_association "Add Location", f, :locations, :partial => 'shared/location_fields' %>
    </div>
  </div>

</fieldset>