<fieldset class="nested-fields" style="border:1px solid #f5f5f5; padding:20px 0;margin-bottom:10px;">
  <div class="citation-field">

    <div class="control-group">
      <%= f.label :predicate_id, 'Predicate', class: 'control-label' %>
      <div class="form-inline controls">
        <%= f.collection_select :predicate_id, Predicate.where('scope_type = ?', 'Reference'), :id, :name, class: 'span6' %>
        <small><%= link_to_remove_association "remove", f %></small>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :reference_id, 'Bibliographic Entry', class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select :reference_id, Reference.all, :id, :entries_for_select, {}, {multiple: false, class: 'form-control chosen-select input-block-level'} %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :ref_target, 'Target (Page, Image)', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :ref_target %>
      </div>
    </div>

  </div>
</fieldset>