<fieldset class="nested-fields">
  <div class="action-field">
    <div class="control-group">
      <%= f.label :predicate_id, 'Predicate', class: 'control-label' %>
      <div class="form-inline controls">
        <%= f.collection_select :predicate_id, Predicate.where('scope_type = ?', 'Item connection'), :id, :name, class: 'span6' %>
        <small><%= link_to_remove_association "remove", f %></small>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :inverse_item_id, 'Item', class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select :inverse_item_id, Item.all, :id, :name, {}, {multiple: false, class: 'form-control chosen-select span6'} %>
      </div>
    </div>
  </div>
</fieldset>