<%= form_for @item, :html => {:class => "form-horizontal"} do |f| %>
  <%= f.error_messages %>

  <div class="row-fluid">
    <div class="span10">

<div id="metainfo">
  <div class="control-group">
    <%= f.label 'Collection', class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :collection_id, Collection.all, :id, :shortcut, {include_blank: false}, {disabled: !can?(:update, Collection)} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :inventory_number, class: 'control-label' %>
    <div class="controls form-inline">
      <%= f.text_field :inventory_number, placeholder: 'Inventory number' %>
      <%= f.text_field :inventory_number_index, placeholder: 'Index (optional)', style: 'margin-left:10px;' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :excavation_id, 'Excavation number', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :excavation_id, placeholder: 'excavation number', class: 'span6' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label '', 'other Ids', class: 'control-label' %>
    <div class="controls form-inline">
      <%= f.text_field :dissov_id, placeholder: 'Dissov Id' %>
      <%= f.text_field :mds_id, placeholder: 'MDS Id', style: 'margin-left:10px;' %>
    </div>
  </div>

  <div class="control-group" style="margin-top:50px;">
    <%= f.label :accession_date, class: 'control-label' %>
    <div class="controls">
      <div class="input-append date">
        <%= f.text_field :accession_date_text, placeholder: 'Accession date' %>
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, placeholder: 'descrptive title', class: 'span6' %>
    </div>
  </div>
</div>

<div id="classification">
  <%= content_tag :h4, 'Classification' %>
  <div class="control-group">
    <%= f.label :classification_id, class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:classification_id, ItemClassification.arrange_as_tree({:order => 'name'}), :id, :name_for_selects, {}, {class: 'form-control chosen-select'}) %>
      <p class="help-block">Edit classifications <%= link_to 'here', item_classifications_path, target: 'blank' %></p>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :tag_ids, "Tags", class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :tag_ids, Tag.arrange_as_tree({:order => 'name'}), :id, :name_for_selects, {}, {multiple: true, class: 'form-control chosen-select input-block-level'} %>
      <p class="help-block">Edit tags <%= link_to 'here', tags_path, target: 'blank' %></p>
    </div>
  </div>
</div>

<div id="citations">
  <%= content_tag :h4, 'Citations' %>
  <%= f.fields_for :citations do |builder| %>
    <%= render "citation_fields", :f => builder %>
  <% end %>
  <div class="links controls">
    <%= link_to_add_association "Add Citation", f, :citations %>
  </div>
</div>
  
<div id='actions'>
  <%= content_tag :h4, 'Actions' %>
  <%= f.fields_for :actions do |builder| %>
    <%= render "action_fields", :f => builder %>
  <% end %>
  <div class="links controls">
    <%= link_to_add_association "Add Action", f, :actions %>
  </div>
</div>

<div id='locations'>
  <%= content_tag :h4, 'Locations' %>
  <%= f.fields_for :locations do |builder| %>
    <%= render "location_fields", :f => builder %>
  <% end %>
  <div class="links controls">
    <%= link_to_add_association "Add Location", f, :locations %>
  </div>
</div>

<div id='connections'>
  <%= content_tag :h4, 'Connections' %>
  <%= f.fields_for :connections do |builder| %>
    <%= render "connection_fields", :f => builder %>
  <% end %>
  <div class="links controls">
    <%= link_to_add_association "Add Connection", f, :connections %>
  </div>
</div>

  <div id="description">
    <%= content_tag :h4, 'Description' %>
    <div class="control-group">
      <%= f.label :description, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, rows: 10, class: 'input-block-level' %>
        <p>Use Markdown for formatting. <a href="#" data-toggle="collapse" data-target="#md-info">See examples.</a></p>
        <div class="collapse" id="md-info">
          <%= render 'shared/md-info' %>
        </div>
      </div>
    </div>


  </div>


  <div id="props">
    <%= f.fields_for :properties, OpenStruct.new(@item.properties) do |builder| %>
      <% @item.collection.fields.order('name ASC').each do |field| %>
        <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
      <% end %>
    <% end if params[:collection_id].present? || @item.collection %>
  </div>



  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <% if @item.new_record? %>
        <%= link_to 'Abbrechen', items_path, :class => 'btn' %>
    <% else %>
      <%= link_to 'Abbrechen', :back, :class => 'btn' %>
    <% end %>
  </div>

</div>
</div>
<% end %>
