<%= nested_form_for @item, :html => {:class => "form-horizontal"} do |f| %>
  <%= f.error_messages %>

  <%= content_tag :h4, 'Meta Information' %>
  <div class="control-group">
    <%= f.label :collection_id, class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :collection_id, Collection.all, :id, :shortcut %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :inventory_number, class: 'control-label' %>
    <div class="controls form-inline">
      <%= f.text_field :inventory_number %>
      <%= f.label :inventory_number_index, 'Index', style: 'margin-left:10px;' %>
      <%= f.text_field :inventory_number_index %>
    </div>
  </div>



  <div class="control-group">
    <%= f.label :accession_date, class: 'control-label' %>
    <div class="controls">
      <%= f.date_select :accession_date %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :classification_id, class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:classification_id, ItemClassification.all, :id, :name, :include_blank => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :context_id, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :context_id %>
    </div>
  </div>

  <%= content_tag :h4, 'Tags' %>
  <div class="control-group">
    <%= f.label :tag_ids, "Tags", class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :tag_ids, Tag.order(:name)-Tag.roots, :id, :name, {}, {multiple: true, class: 'form-control chosen-select'} %>
    </div>
  </div>

  <%= content_tag :h4, 'Citations' %>
  <%= f.fields_for :citations do |builder| %>
    <%= render "citation_fields", :f => builder %>
  <% end %>
  <%= f.link_to_add "Add Citation", :citations, class: 'controls' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
