<%= form_for @item, :html => {:class => "form-horizontal"} do |f| %>
  <%= f.error_messages %>
  <div class="row">
    <div class="span2">
      <ul class="nav nav-tabs nav-stacked">

      </ul>
    </div>
    <div class="span10">
  <%= content_tag :h4, 'Meta Information' %>
  <div class="control-group">
    <%= f.label :collection_id, class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :collection_id, Collection.all, :id, :shortcut %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :inventory_number, class: 'control-label' %>
    <div class="controls form-inline">
      <%= f.text_field :inventory_number %>
      <%= f.label :inventory_number_index, 'Index', style: 'margin-left:10px;' %>
      <%= f.text_field :inventory_number_index %>
    </div>
  </div>



  <div class="control-group">
    <%= f.label :accession_date, class: 'control-label' %>
    <div class="controls">
      <%= f.date_select :accession_date %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :classification_id, class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:classification_id, ItemClassification.all, :id, :name, :include_blank => true) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'span6' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :context_id, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :context_id %>
    </div>
  </div>

  <%= content_tag :h4, 'Tags' %>
  <div class="control-group">
    <%= f.label :tag_ids, "Tags", class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :tag_ids, Tag.order(:name)-Tag.roots, :id, :name, {}, {multiple: true, class: 'form-control chosen-select input-block-level'} %>
    </div>
  </div>

  <div id="citations">
  <%= content_tag :h4, 'Citations' %>
  <%= f.fields_for :citations do |builder| %>
    <%= render "citation_fields", :f => builder %>
  <% end %>
  <div class="links controls">
    <%= link_to_add_association "Add Citation", f, :citations %>
  </div>
  </div>
  
  <div id='actions'>
  <%= content_tag :h4, 'Actions' %>
  <%= f.fields_for :actions do |builder| %>
    <%= render "action_fields", :f => builder %>
  <% end %>
  <div class="links controls">
    <%= link_to_add_association "Add Action", f, :actions %>
  </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <% if @item.new_record? %>
        <%= link_to 'Abbrechen', items_path, :class => 'btn' %>
    <% else %>
      <%= link_to 'Abbrechen', :back, :class => 'btn' %>
    <% end %>
  </div>

</div>
</div>
<% end %>
