<%= form_for @item, :html => {:class => "form-horizontal"} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :collection_id %>
  <div class="row">
    <div class="span10">

  <div id="metainfo">
  <div class="control-group">
    <span class="control-label">
      <%= content_tag :abbr, @item.collection.shortcut, title: @item.collection.name+' im '+@item.collection.institution.name, class: 'tooltip-bottom' %>
    </span>
    <div class="controls form-inline">
      <%= f.text_field :inventory_number, placeholder: 'Inventory number' %>
      <%= f.text_field :inventory_number_index, placeholder: 'Index (optional)', style: 'margin-left:10px;' %>
    </div>
  </div>



  <div class="control-group">
    <%= f.label :accession_date, class: 'control-label' %>
    <div class="controls">
      <div class="input-append date">
        <%= f.text_field :accession_date_text, placeholder: 'Accession date' %>
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, placeholder: 'descrptive title', class: 'span6' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :classification_id, class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:classification_id, ItemClassification.all, :id, :name) %>
    </div>
  </div>

  </div>



<!--
  <div class="control-group">
    <%= f.label :context_id, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :context_id %>
    </div>
  </div>
-->



  <%= content_tag :h4, 'Tags' %>
  <div class="control-group">
    <%= f.label :tag_ids, "Tags", class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :tag_ids, Tag.order(:name)-Tag.roots, :id, :name, {}, {multiple: true, class: 'form-control chosen-select input-block-level'} %>
    </div>
  </div>

  <div id="citations">
  <%= content_tag :h4, 'Citations' %>
  <%= f.fields_for :citations do |builder| %>
    <%= render "citation_fields", :f => builder %>
  <% end %>
  <div class="links controls">
    <%= link_to_add_association "Add Citation", f, :citations %>
  </div>
  </div>
  
  <div id='actions'>
  <%= content_tag :h4, 'Actions' %>
  <%= f.fields_for :actions do |builder| %>
    <%= render "action_fields", :f => builder %>
  <% end %>
  <div class="links controls">
    <%= link_to_add_association "Add Action", f, :actions %>
  </div>
  </div>

  <div id="description">
    <%= content_tag :h4, 'Description' %>
    <div class="control-group">
      <%= f.label :description, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, rows: 10, class: 'input-block-level' %>
      </div>
    </div>
  </div>



  <%= f.fields_for :properties, OpenStruct.new(@item.properties) do |builder| %>
    <% @item.collection.fields.each do |field| %>
      <%= render "items/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>
  <% end %>



  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'btn btn-primary' %>
    <% if @item.new_record? %>
        <%= link_to 'Abbrechen', items_path, :class => 'btn' %>
    <% else %>
      <%= link_to 'Abbrechen', :back, :class => 'btn' %>
    <% end %>
  </div>

</div>
    <div class="span2">
      <ul class="nav nav-tabs nav-stacked">

      </ul>
    </div>
</div>
<% end %>
