<p class="text text-info"><%= citations.count %> entries </p>
<% citations.each do |citation| %>
  <%= content_tag :div, class: 'list-entry' do -%>
    <div class="row-fluid">
      <%= content_tag :div, class: 'span3 authors' do -%>
        <ul class="unstyled">
          <%= content_tag :li, citation.predicate.name %>
          <%= content_tag :li, authors_of_article(citation.reference) %>
          <%= content_tag :li, citation.reference.book.present? ? citation.reference.book.year : citation.reference.original_date %>
        </ul>
      <% end -%>
      <%= content_tag :div, class: 'span8' do -%>
        <p>
          <%= authors_of_article(citation.reference)+', ' %>
          <%= link_to "#{citation.reference.title}", citation.reference %>
          <% if citation.reference.book.present? %>
            <%= raw(', in: '+editors(citation.reference)) unless citation.reference.book.book_type == 'Monograph' || citation.reference.book.book_type == 'Monograph in a serial' %>
            <%= content_tag :span, ', ' if citation.reference.book.book_type == 'Monograph in a serial' %>
            <%= article_in_book(citation.reference) unless citation.reference.book.book_type == 'Monograph' %>
            <%= content_tag :span, ', ' if citation.reference.book.publisher.present? %>
            <%= citation.reference.book.publisher if citation.reference.book.publisher.present? %>
            <%= content_tag :span, ', ' if citation.reference.book.place.present? %>
            <%= citation.reference.book.place if citation.reference.book.place.present? %>
            <%= content_tag :span, '('+citation.reference.book.year+')' if citation.reference.book.year.present? %>
          <% end %>
          <%= content_tag :span, ', ' if citation.ref_target.present? %>
          <%= citation.ref_target if citation.ref_target.present? %>
        </p>
      <% end -%>
      <% if can? :edit, citation %>
        <%= content_tag :div, class: 'span1 citation-edit-link' do -%>
          <p><%= link_to "Edit", edit_reference_path(citation.reference) %></p>
        <% end -%>
      <% end %>
    </div>
  <% end -%>
<% end %>