<fieldset class="nested-fields">
  <div class="source-field">

    <div class="control-group">
      <%= f.label :source_id, class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select :source_id, Source.all, :id, :name, {}, {multiple: false, class: 'form-control chosen-select input-block-level'} %>
        <small style='margin-left:25px;'><%= link_to_remove_association "remove", f %></small>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :target, '(Page, Image)', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :target %>
      </div>
    </div>

  </div>
</fieldset>