<% title (@projectable ? "Objects for #{link_to @project.name, @project}".html_safe : "All objects"), nil %>
<% content_for :edit_section do %>
      <div class="pull-right" style="">
        <%= form_tag new_item_path, method: :get, class: 'form-inline' do %>
          <%= label_tag :collection_id %>
          <%= select_tag :collection_id, options_from_collection_for_select(Collection.all, :id, :shortcut, :selected => 1), {include_blank: false} %>
          <%= submit_tag 'Add object', name: nil, class: "btn btn-default" %>
        <% end if can?(:create, @items) && !@project %>
      </div>
<% end %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <%= content_tag(:li, (link_to @project.name, @project) + content_tag(:span, '/', class: 'divider')) if @project %>
  <%= content_tag :li, "Objects", class: 'active' %>

<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span3">
    <%= content_tag :div, class: "filter well" do %>
      <h4 style="margin-top:0px;">Filters</h4>

      <%= search_form_for @q do |f| %>
        <%= f.condition_fields do |c| %>
          <%= render "condition_fields", f: c %>
        <% end %>
        <p style="padding-top:10px;"><%= link_to_add_fields "Add Conditions", f, :condition %></p>
        <div class="field">
          Sort:<br>
          <%= f.sort_fields do |s| %>
            <%= s.sort_select %>
          <% end %>
        </div>
        <%= f.submit 'Filter', class: 'btn' %><%= link_to 'Reset', items_path(q: nil), class: 'btn', style: 'margin-left:7px;' %>

      <% end %>
      <p class="text text-info"><%= @items.count %> entries in set</p>
    <% end %>
    <%= form_tag import_items_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import", class: 'btn' %>
      <p><small>The *.csv first row should name the following columns: collection_id, inventory_number, inventory_number_index, accession_date_text, title, classification_id, description, excavation_id, 
      dissov_id, mds_id.</small></p>
    <% end if can? :manage, @items %>

  </div>
  <div class="span9">
    
    <table class="table table-bordered table-hover">
      <tbody>
        <%= render @items_paginated %>
      </tbody>
    </table>
    
    <%= will_paginate(@items_paginated, class: 'pagination pagination-centered', :renderer => WillPaginate::ActionView::BootstrapLinkRenderer) %>
    <%= content_tag :p, class: 'pull-right' do %>
      <%= link_to "Download set", items_path(format: "xlsx", q: params[:q]), class: 'btn', id: '' %>
    <% end if can? :read, @items %>
  </div>
</div>

<% end %>