<% title 'Items for '+'"'+@project.name+'"', nil, nil if @project %>
<% title 'All Items', nil, nil unless @project %>


<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <%= content_tag(:li, (link_to @project.name, @project) + content_tag(:span, '/', class: 'divider')) if @project %>
  <%= content_tag :li, "Items", class: 'active' %>

<% end %>

<% content_for :main_section do %>
  <div class="span12">
    <h1>
      <%= @project ? ('Items for '+(link_to h(@project.name), @project)).html_safe : 'All Items' %>
      <div class="pull-right" style="">
        <%= form_tag new_item_path, method: :get, class: 'form-inline' do %>
          <%= select_tag :collection_id, options_from_collection_for_select(Collection.all, :id, :shortcut), class: 'span2' %>
          <%= submit_tag 'New Item', name: nil, class: "btn btn-create" %>
        <% end if (can? :create, @items) && !@project %>
      </div>
    </h1>

    <table class="table table-bordered table-hover">
      <tbody>
        <%= render @items %>
      </tbody>
    </table>
  </div>

<% end %>