<% title 'Items for '+'"'+@project.name+'"', nil, nil if @project %>
<% title 'All Items', nil unless @project %>


<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <%= content_tag(:li, (link_to @project.name, @project) + content_tag(:span, '/', class: 'divider')) if @project %>
  <%= content_tag :li, "Items", class: 'active' %>

<% end %>

<% content_for :main_section do %>
  <div class="span12">

    <%= content_tag :h1 do %>
      Items for "<%= link_to @project.name, @project %>"
    <% end if @project %>

    <table class="table table-bordered table-hover">
      <tbody>
        <%= render @items %>
      </tbody>
    </table>
  </div>

<% end %>