<% title "#{@item.accession_name}", nil, nil %>
<% edit_section_for(@item, nil) if can? :author, @item %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Items', items_path %> <span class="divider">/</span></li>
  <li class="active"><%= "#{@item.accession_name}" %></li>
<% end %>

<% content_for :main_section do %>
  <div class="span8">
    <br />
    <%= image_tag @images.first.assetfile.normal.url if @images.first %>
  </div>   

  <div class="span4">
    <% if can? :read, @item %>
      <div class="btn-group pull-right" style="margin-top:15px;margin-bottom:20px;">
        <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-plus icon-white"></i>
          Add
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <%= content_tag :li, (link_to "Description Document", polymorphic_path([:new, @item, :document], :document_type => "Description")) unless @item.documents.doctype('Description') %>
          <%= content_tag :li, (link_to 'Upload bucket', polymorphic_path([:new, @item, :bucket])) %>
          <%= content_tag :li, (link_to 'Document', polymorphic_path([:new, @item, :document])) %>
        </ul>
      </div>
    <% end  %>
    <%= content_tag :h3, "#{@item.title? ? @item.title : @item.accession_name}", class: "muted" %>
    <div class="info_section">
      <table class="table table-bordered table-hover">
        <%= item_description('Accession Number', @item.accession_name) %>
        <%= item_description('Accession Date', @item.accession_date) %>
        <%= item_description('Context', @item.context_id) %>
        <% for tag in @item.tags do %>
          <%= item_description(tag.root.name, tag.name) %>
        <% end %>
      </table> 
    </div>
    <div class="accordion" id="item-accordion">
      <%= content_tag :div, class: "accordion-group" do %>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" href="#collapseOne">
            Description
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= render "shared/document_first", var: @item, dtype: "Description" %> 
          </div>
        </div>
      <% end if @item.documents.doctype('Description') %>
      <%= content_tag :div, class: "accordion-group" do %>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" href="#collapseTwo">
            Comments
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= render 'comments/list', comments: @item.comments %>
            <hr>
            <%= render 'comments/form', commentable: @item, size: 'input-xlarge' %>
          </div>
        </div>
      <% end %>
      <%= content_tag :div, class: "accordion-group" do %>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" href="#collapseThree">
            References
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            <small><%= render "references/bib_entries", :references => @item.references %></small>
          </div>
        </div>
      <% end %>
      <%= content_tag :div, class: "accordion-group" do %>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" href="#collapseFour">
            Buckets
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="unstyled">
              <% for bucket in @item.buckets do %>
                <li><%= link_to "#{bucket.full_bucket_name}", [bucket.attachable, bucket] %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end if @item.buckets.any? %>
      <%= content_tag :div, class: "accordion-group" do %>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" href="#collapseFive">
            Docs
          </a>
        </div>
        <div id="collapseFive" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= render "shared/document_docs_without_type", :var => @item %> 
          </div>
        </div>
      <% end if @item.documents.any? %>
    </div>
  </div>
<% end %>