<% title "#{@item.inventory_name}", nil, nil %>
<% edit_section_for(@item, nil) %>
<% publishing_section_for(@item) %>

<% content_for :add_section do %>
  <%= content_tag :li, (link_to "Description Document", polymorphic_path([:new, @item, :document], :document_type => "Description")) unless @item.documents.doctype('Description') %>
  <%= content_tag :li, (link_to 'Upload bucket', polymorphic_path([:new, @item, :bucket])) %>
  <%= content_tag :li, (link_to 'Document', polymorphic_path([:new, @item, :document])) %>
<% end if can? :edit, @item %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Items', items_path %> <span class="divider">/</span></li>
  <li class="active"><%= "#{@item.inventory_name}" %></li>
<% end %>

<% content_for :main_section do %>
  <%= tagging_infos_for(@item) %><br />
  <%= image_tag @images.first.assetfile.normal.url if @images.first %>
<% end %>

<% content_for :sidebar_section do %>
    <%= content_tag :h3, "#{@item.title? ? @item.title : @item.inventory_name}", class: "muted" %>
    <div class="info_section">
      <table class="table table-bordered table-hover">
        <%= item_description('Inventory Number', @item.inventory_name) %>
        <%= item_description('Context', @item.context_id) %>
        <%= item_description('Classification', @item.classification.name) if @item.classification %>
      </table> 
    </div>
    <div class="accordion" id="item-accordion">
      <%= content_tag :div, class: "accordion-group" do %>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" href="#collapseOne">
            Description
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= render "documents/with_document_type", var: @item, dtype: "Description" %> 
          </div>
        </div>
      <% end if @item.documents.doctype('Description') %>

      <%= content_tag :div, class: "accordion-group" do %>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" href="#collapseOneB">
            History
          </a>
        </div>
        <div id="collapseOneB" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= item_description('Accession Date', @item.accession_date) %><br />
            <%= @item.actions.inspect %> 
          </div>
        </div>
      <% end %>

      <%= content_tag :div, class: "accordion-group" do %>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" href="#collapseTwo">
            Comments
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= render 'comments/list', comments: @item.comments %>
            <hr>
            <%= render 'comments/form', commentable: @item, size: 'input-xlarge' %>
          </div>
        </div>
      <% end %>

      <%= content_tag :div, class: "accordion-group" do %>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" href="#collapseThree">
            References
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            <small><%= render "reference_entries", :citations => @item.citations %></small>
          </div>
        </div>
      <% end %>

      <%= content_tag :div, class: "accordion-group" do %>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" href="#collapseFour">
            Buckets
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="unstyled">
              <% for bucket in @item.buckets do %>
                <li><%= link_to "#{bucket.full_bucket_name}", [bucket.attachable, bucket] %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end if @item.buckets.any? %>

      <%= content_tag :div, class: "accordion-group" do %>
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" href="#collapseFive">
            Docs
          </a>
        </div>
        <div id="collapseFive" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= render "documents/without_document_type", :var => @item %> 
          </div>
        </div>
      <% end if @item.documents.any? %>

    </div>
<% end %>