<% title @item.name, nil, nil %>
<% edit_section_for(@item, nil) %>
<% footer_section(@item) %>


<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Objects', items_path %> <span class="divider">/</span></li>
  <li class="active"><%= "#{@item.name}" %></li>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span12">
    <%= content_tag :h2, class: "" do %>
      <%= @item.title? ? @item.title : @item.name %>
      <%= yield(:edit_section) %>
    <% end %>
    <div class="row-fluid">
      <div class="span4">
        <a href="" class="img-fluid">
          <%= @item.buckets.first.cover ? (image_tag @item.buckets.first.cover.assetfile.big_thumb.url, class: 'img-polaroid ') : (image_tag 'icons/no_picture.svg', class: 'img-polaroid') if @item.buckets.any? %>
        </a>
      </div>
  
      <div class="span8">

            <div class="info_section">
              <table class="table table-bordered table-hover">
                <%= item_description('Collection', link_to(@item.collection.name+' ('+@item.collection.shortcut+')', [@item.collection.institution, @item.collection])) if @item.collection %>
                <%= item_description('Inventory Number', @item.inventory_name) %>
                <%= item_description('Excavation Number', @item.excavation_id) %>
                <%= item_description('Dissov Id', @item.dissov_id) %>
                <%= item_description('MDS Id', @item.mds_id) %>
                <%= item_description('Context', @item.context_id) %>
                <%= item_description('Object type', link_to(@item.classification.root.name, @item.classification.root)) if @item.classification %>
                <%= item_description('Classification', @item.classification.self_and_ancestors.reverse.map{|cl| link_to cl.name, cl, class: 'popover-right', data: { 'original-title' => cl.name, 'content' => cl.description } }.join(' / ').html_safe) if @item.classification && @item.classification.ancestors.any? %>

                <% @item.properties.each do |name, value| %>
                  <% if value.include?('[""') %>
                  <%= item_description(name.humanize, CollectionFieldValue.find(eval(value).compact.reject{|r| r.empty? }).map{ |cfv| link_to cfv.field_value, '', class: 'popover-right', data: { 'original-title' => cfv.field_value, 'content' => cfv.description } }.join(', ').html_safe) %>
                  <% else %>
                    <%= item_description(name.humanize, %['select' 'radio_buttons'].include?(CollectionField.find_by_name(name).field_type) ? link_to(CollectionFieldValue.find(value).field_value, '', class: 'popover-right', data: { 'original-title' => CollectionFieldValue.find(value).field_value, 'content' => CollectionFieldValue.find(value).description }) : value ) %>
                  <% end %>
                <% end %>

              </table> 
            </div>
      </div>
    </div>
  
    <div class="row-fluid" style="margin-top:20px;">
      <div class="span3">
        <div class="issue-section" id='issue'>
          <%= content_tag :h3 do %>
            Issues <%= content_tag :span, @item.issues.count, class: "badge #{@item.issues.where(closed: false).count > @item.issues.where(closed: true).count+1 ? @item.issues.where(closed: false).count > @item.issues.where(closed: true).count+3 ? 'badge-important' : 'badge-warning' : 'badge-success' }" %>
          <% end %>
          <%= render @item.issues.order('created_at DESC').limit(3) %>
          <%= @item.issues.any? ? link_to('View all issues', item_issues_path(@item)) : ('Nothing to show! '+link_to('Create Issue', new_item_issue_path(@item))).html_safe %>
        </div>

        <div class="item-section" id='history'>
          <%= content_tag :h3, 'History', class: '' if @item.accession_date || @item.actions.any? %>
          <ul class="unstyled">
            <% for action in @item.actions.order('created_at DESC') do %>
              <li>
                <strong><%= action.predicate.name.humanize %>: </strong>
                <%= link_to action.person.name, action.person, class: 'popover-right', data: { 'original-title' => graded_fullname(action.person), 'content' => markdown(action.person.general) } %>
                <%= '[' + action.actable_date_text + ']' if action.actable_date_text %>
              </li>
            <% end %>
            <%= content_tag :li do %>
              <strong>Accession Date: </strong><%= content_tag :span, @item.accession_date.strftime('%d.%m.%Y') %>
            <% end if @item.accession_date %>
          </ul>
        </div>
        <%= content_tag :div, class: "item-section", id: 'locations' do %>
          <%= content_tag :h3, 'Locations', class: '' %>
          <ul class="unstyled">
            <% for location in @item.locations do %>
              <li>
                <strong><%= location.predicate.name.humanize %>: </strong>
                <%= location.address %> [<%= link_to "#{location.latitude}, #{location.longitude}", "https://www.google.de/maps/@#{location.latitude},#{location.longitude},13z", target: '_blank' %>]
              </li>
            <% end %>
          </ul>
        <% end if @item.locations.any? %>
        <%= content_tag :div, class: "item-section", id: 'connections' do %>
          <%= content_tag :h3, 'Connections', class: '' %>
          <ul class="unstyled">
            <% for connection in @item.connections do %>
              <li>
                <strong><%= connection.predicate.name.humanize %>: </strong>
                <%= link_to connection.inverse_item.name, connection.inverse_item, class: 'popover-right', data: { 'original-title' => connection.inverse_item.name, 'content' => connection.inverse_item.inspect } %>
              </li>
            <% end %>
            <% for inverse_connection in @item.inverse_connections do %>
              <li>
                <strong><%= inverse_connection.predicate.inverse_name.humanize %>: </strong>
                <%= link_to inverse_connection.item.name, inverse_connection.item, class: 'popover-right', data: { 'original-title' => inverse_connection.item.name, 'content' => inverse_connection.item.inspect } if inverse_connection.item %>
              </li>
            <% end %>
          </ul>
        <% end if @item.inverse_connections.any? || @item.connections.any? %>

        <%= content_tag :div, class: "activity-section", id: 'activity' do %>
          <%= content_tag :h3, 'Activity', class: '' %>
          <% @item.activities.order('created_at DESC').limit(6).each do |activity| %>
            <%= ActivityPresenter.new(activity, self).render_activity('popover-right') %>
          <% end %>
          <p>
            <%= link_to "View all activities for #{@item.name}", item_activities_path(@item) %>
          </p>

        <% end if @item.activities.any? %>

      </div>

      <div class="span9">
        <%= content_tag :div, class: "item-section", id: 'description' do %>
          <%= content_tag :h3, class: '' do %>
            Description
            <%= content_tag :span, tagging_infos_for(@item), class: 'pull-right' %>
          <% end %>
          <%= @item.description.present? ? markdown(@item.description) : 'No description available.' %>
          <%= content_tag :hr %>
        <% end if @item.description.present? || @item.tags.any? %>

        <%= content_tag :div, class: "item-section", id: 'workspaces' do %>
          <%= content_tag :h3, class: '', style: 'margin-bottom:10px;' do %>
            Studies
            <span class="badge"><%= @item.studies.count %></span>
            <div class="pull-right">
              <% if current_aspect.lists.any? %>
                <%= link_to new_item_study_path(@item), class: 'btn btn-default', style: 'margin-left:10px;' do %>
                  <i class="icon-plus"></i>
                  Study
                <% end if can? :create, Study %>
              <% else %>
                <%= link_to [:edit, current_aspect.projectable, current_aspect], class: 'btn btn-default btn-small', style: 'margin-left:10px;' do %>
                  <i class="icon-plus"></i>
                  No lists found. Edit your current project
                <% end if can? :edit, current_aspect %>
              <% end if aspect? %>
            </div>
          <% end %>
          <%= content_tag :table, class: 'table table-bordered table-hover' do %>
            <tbody>
              <%= render @item.studies.limit(6) %>
            </tbody>
          <% end if @item.studies.any? %>
          <%= link_to "View all studies on #{@item.name} and connected objects", [@item, :studies] %>
        <% end %>

        
        <%= content_tag :div, class: "item-section", id: "documents" do %>
          <%= content_tag :h3, class: '' do %>
            Documents
            <span class="badge"><%= @item.documents.without_document_type.count %></span>
            <%= link_to new_item_document_path(@item), class: 'btn btn-default pull-right', style: 'margin-left:10px;' do %>
              <i class="icon-plus"></i>
              Document
            <% end if can? :create, Document %>
          <% end %>
          <%= content_tag :div do %>
          <table class="table table-bordered table-hover">
            <tbody>
            <%= render @item.documents %>
            </tbody>
          </table>
          <%= link_to 'View all docs', [@item, :documents] %>
          <% end if @item.documents.any? %>
        <% end %>

        
        <%= content_tag :div, class: "item-section", id: "references" do %>
          <%= content_tag :h3, class: '' do %>
            References
            <span class="badge"><%= @item.references.count %></span>
          <% end %>
          <%= render "reference_entries", :citations => @item.citations %>
          <%= link_to 'View all refs', [@item, :references] %>

          <%= content_tag :h3, 'References photos' %>
          <div class="tiles">
            <% for asset in @item.references.joins(:projects).where(projects: {project_type: 'photographic'}).map{|r| r.assets}.uniq.flatten do %>
              <%= link_to (image_tag asset.assetfile.small.url, class: ""), asset.assetfile.large.url, class: "img-fluid popover-bottom", data: { 'original-title' => asset.name, 'content' => asset.full_caption } %>
            <% end %>
          </div>

          <hr>
        <% end if @item.citations.any? %>


        <div class="item-section" id='buckets'>
          <%= content_tag :h3, class: '' do %>
            Buckets
            <span class="badge"><%= @item.buckets.count %></span>
          <% end %>
          <%= render @item.buckets, :personal => false %>
          <%= link_to 'View all buckets', [@item, :buckets] %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>