<% title (@item.title? ? @item.title : @item.name), nil %>
<% edit_section_for(@item) %>
<% footer_section(@item) %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Objects', items_path %> <span class="divider">/</span></li>
  <li class="active"><%= "#{@item.name}" %></li>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span4">
        <% if @item.cover %>
          <%= link_to ((@item.cover.content_type.include? 'image') ? (image_tag @item.cover.assetfile.small.url, style: 'width:100%;') : (image_tag (%['sheet' 'document' 'msword' 'ms-excel' 'x-zip-compressed' 'kml+xml' 'pdf'].include?@item.cover.content_type.sub('application/', '').split('.').last) ?  "icons/formats/#{@item.cover.content_type.split('.').last.sub('application/', '')}.svg" : 'icons/formats/tmp.svg' , style: 'width:50px;')), @item.cover.assetfile.large.url, class: 'img-fluid' %>
          <p><%= link_to @item.cover.name, @item.cover %></p>
        <% else %>
          <%= image_tag 'icons/no_picture.svg' %>
        <% end %>
      </div>
      <div class="span8">

            <div class="info_section">
              <table class="table table-bordered table-hover">
                <%= item_description('Collection', link_to(@item.collection.name+' ('+@item.collection.shortcut+')', [@item.collection.institution, @item.collection])) if @item.collection %>
                <%= item_description('Inventory Number', @item.inventory_name) %>
                <%= item_description('Excavation Number', "Bab #{@item.excavation_id}") if @item.excavation_id %>
                <%= item_description('Dissov Id', @item.dissov_id) %>
                <%= item_description('MDS Id', @item.mds_id) %>
                <%= item_description('Context', @item.context_id) %>
                <%= item_description('Object type', link_to(@item.classification.object_type.name, @item.classification.object_type)) if @item.classification %>
                <%= item_description('Classification', @item.classification.self_and_ancestors.reverse.map{|cl| link_to cl.name, cl, class: 'popover-right', data: { 'original-title' => cl.name, 'content' => cl.description } }.join(' / ').html_safe) if @item.classification && @item.classification.ancestors.any? %>

                <% @item.properties.each do |name, value| %>
                  <% if value.include?('[""') %>
                  <%= item_description(name.humanize, CollectionFieldValue.find(eval(value).compact.reject{|r| r.empty? }).map{ |cfv| link_to cfv.field_value, '', class: 'popover-right', data: { 'original-title' => cfv.field_value, 'content' => cfv.description } }.join(', ').html_safe) %>
                  <% else %>
                    <%= item_description(name.humanize, %['select' 'radio_buttons'].include?(CollectionField.find_by_name(name).field_type) ? link_to(CollectionFieldValue.find(value).field_value, '', class: 'popover-right', data: { 'original-title' => CollectionFieldValue.find(value).field_value, 'content' => CollectionFieldValue.find(value).description }) : value ) %>
                  <% end %>
                <% end %>

              </table> 
            </div>
      </div>
    </div>
  
    <div class="row-fluid" style="margin-top:20px;">
      <div class="span3">
        <div class="issue-section" id='issue'>
          <%= content_tag :h3 do %>
            Issues <%= content_tag :span, @item.issues.count, class: "badge #{@item.issues.where(closed: false).count > @item.issues.where(closed: true).count+1 ? @item.issues.where(closed: false).count > @item.issues.where(closed: true).count+3 ? 'badge-important' : 'badge-warning' : 'badge-success' }" %>
          <% end %>
          <%= render @item.issues.order('created_at DESC').limit(3) %>
          <%= @item.issues.any? ? "#{link_to('View all issues', item_issues_path(@item))} or #{link_to('add a new issue', new_item_issue_path(@item))}".html_safe : ('Nothing to show! '+link_to('Create Issue', new_item_issue_path(@item))).html_safe %>
        </div>

        <%= content_tag :div, class: "item-section", id: 'connections' do %>
          <%= content_tag :h3, 'Connections', class: '' %>
          <ul class="unstyled">
            <% for connection in @item.connections do %>
              <li>
                <strong><%= connection.predicate.name.humanize %>: </strong>
                <%= link_to connection.inverse_item.name, connection.inverse_item, class: 'popover-right', data: { 'original-title' => connection.inverse_item.name, 'content' => connection.inverse_item.inspect } %>
              </li>
            <% end %>
            <% for inverse_connection in @item.inverse_connections do %>
              <li>
                <strong><%= inverse_connection.predicate.inverse_name.humanize %>: </strong>
                <%= link_to inverse_connection.item.name, inverse_connection.item, class: 'popover-right', data: { 'original-title' => inverse_connection.item.name, 'content' => inverse_connection.item.inspect } if inverse_connection.item %>
              </li>
            <% end %>
          </ul>
        <% end if @item.inverse_connections.any? || @item.connections.any? %>

        <%= content_tag :div, class: "activity-section", id: 'activity' do %>
          <%= content_tag :h3, 'Record activity', class: '' %>
          <% @item.activities.order('created_at DESC').limit(6).each do |activity| %>
            <%= ActivityPresenter.new(activity, self).render_activity('popover-right') %>
          <% end %>
          <p>
            <%= link_to "View all activities for #{@item.name}", item_activities_path(@item) %>
          </p>

        <% end if @item.activities.any? %>

        <%= content_tag :div, class: "options-section", id: 'options' do %>
          <%= content_tag :h3, 'Other views', class: '' %>
          <ul class="unstyled">
            <li><%= link_to 'View sources documents', item_documents_path(@item) %></li>
            <li><%= link_to 'View sources & publications folders', item_buckets_path(@item) %></li>
          </ul>
        <% end %>

      </div>

      <div class="span9">
        <%= content_tag :div, class: "item-section", id: 'description' do %>
          <%= content_tag :h3, class: '' do %>
            Description
            <%= content_tag :span, tagging_infos_for(@item), class: 'pull-right' %>
          <% end %>
          <%= @item.description.present? ? markdown(@item.description) : 'No description available.' %>
          <%= content_tag :hr %>
        <% end if @item.description.present? || @item.tags.any? %>


<ul class="nav nav-tabs">
  <li class="active"><a href="#by_category" data-toggle="tab">Object</a></li>
  <li><a href="#history" data-toggle="tab">History</a></li>
  <!-- <li><a href="#statistics" data-toggle="tab">Statistics</a></li> -->
</ul>
    <div class="tab-content">
      <div class="tab-pane active" id="by_category">
        <%= content_tag :div, class: "item-section", id: 'actions' do %>
          <%= content_tag :h3 , class: '' do %>
            Object actions & sources
          <% end if @item.actions.any? %>

          <span class="badge"><%= pluralize(@item.actions.count, 'element') %></span><br>

          <%= content_tag :table, class: 'table table-bordered table-hover' do %>
            <tbody>
              <% for action in @item.actions.limit(3) do %>
              <tr><td>
                <div class="alert alert-info">
                  <strong><%= link_to action.predicate.name.humanize, [@item, action] if action.predicate %> </strong>
                </div>
                <ul class="unstyled">
                  <%= content_tag :li do %>
                    <% for location in action.locations do %>
                      <p>
                        <%= name_only_or_link_to(location.creator) %> added <%= location.address %> [<%= link_to "#{location.latitude}, #{location.longitude}", "https://www.google.de/maps/@#{location.latitude},#{location.longitude},13z", target: '_blank' %>] as location <%= "[#{location.created_at}]" if location.created_at %>
                      </p>
                    <% end if action.locations.any? %>
                    <%= render action.source if action.source %>
                  <% end %>
                </ul>
              </td></tr>
              <% end %>
            </tbody>
          <% end %> 
          <%= link_to 'Show all object sources', item_actions_path(@item) %>
        <% end if @item.actions.any? %>

        <%= content_tag :div, class: "item-section", id: "references" do %>
          <%= content_tag :h3, class: '' do %>
            Publications
          <% end %>
          <span class="badge"><%= pluralize(@item.references.count, 'element') %></span><br>
          <table class="table table-bordered table-hover">
            <tbody>
              <% for citation in @item.citations do %>
                <%= render partial: "references/reference", locals: {reference: citation.reference, citation: citation} %>
              <% end %>
            </tbody>
          </table>
          <%= link_to 'View all publications', [@item, :references] %>
        <% end if @item.references.any? %>

        <%= content_tag :div, class: "item-section", id: 'workspaces' do %>
          <%= content_tag :h3, class: '', style: 'margin-bottom:10px;' do %>
            Studies
            <div class="pull-right">
              <% if current_aspect.lists.any? %>
                <%= link_to new_item_study_path(@item), class: 'btn btn-default', style: 'margin-left:10px;' do %>
                  <i class="icon-plus"></i>
                  Study
                <% end if can? :create, Study %>
              <% else %>
                <%= link_to [:edit, current_aspect.projectable, current_aspect], class: 'btn btn-default btn-small', style: 'margin-left:10px;' do %>
                  <i class="icon-plus"></i>
                  No lists found. Edit your current project
                <% end if can? :edit, current_aspect %>
              <% end if aspect? %>
            </div>
          <% end %>
          <span class="badge"><%= pluralize(@item.studies.count, 'element') %></span><br>
          <%= content_tag :table, class: 'table table-bordered table-hover' do %>
            <tbody>
              <%= render @item.studies.limit(3) %>
            </tbody>
          <% end if @item.studies.any? %>
          <%= link_to "View all studies on #{@item.name} and connected objects", [@item, :studies] %>
        <% end %>
      </div>

      <div class="tab-pane" id="history">
        <% @history.sort_by{|e| e[:created_at]}.reverse.each_with_index do |element, index| %>
        <div class="row-fluid">
        <div class="span6 offset2">
          <%= content_tag :div, class: "element" do %>
            <div class="head">
              <span class="name">
                <%= element[:predicate] %> 
              </span>
              <span class="small-date muted">[<%= element[:object].class.name == 'Citation' ? element[:created_at] : "#{element[:created_at]}" %>]</span>
            </div>
            <div class="body">
              <% if element[:object].class.name == 'Study' %>
                <%= link_to element[:object].name, [element[:object].studyable, element[:object]] %> by
                <%= link_to full_qualified_name(element[:object].list.project), [element[:object].list.project.projectable, element[:object].list.project] %> :: <%= link_to element[:object].list.name, [element[:object].list.project, element[:object].list] %>
              <% elsif element[:object].class.name == 'Citation' %>
                <%= link_to full_reference(element[:object].reference), element[:object].reference %>
              <% elsif element[:object].class.name == 'Action' %>
                <%= element[:author] %><br>
                <%= link_to element[:object].name, [element[:object].actable, element[:object]] %>
              <% end %>
            </div>
          <% end unless element[:object].class.name == 'Activity' %>
          <%= content_tag :div, class: 'connector' do %>
          <% end unless @history.size-1 == index %>
        </div>
        </div>
        <% end %>
      </div>

      <div class="tab-pane" id="statistics">

      </div>
    </div>

      </div>
    </div>
  </div>
</div>
<% end %>