<%= form_for [@project, @project.todos.new], :html => { class: "form-inline" } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :project_id %>
  <%= f.hidden_field :completed, value: 'f' %>


    <div class="controls">
      <%= f.text_field :name, placeholder: 'Task' %>
      <%= f.collection_select :assigned_id, @project.members, :id, :available_name, prompt: "Who's assigned?" %>
      <div class="input-append date">
        <%= f.text_field :due_to_text, placeholder: 'Due to', :'data-behaviour' => 'datepicker' %>
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
      <small><a href="#" data-toggle="collapse" data-target="#todo-options">More options</a></small>
      <%= f.submit "Add", class: 'btn btn-primary pull-right' %>
      <div class="collapse form-horizontal" id="todo-options">
        <br />
        <div class="control-group">
          <%= f.label :starts_at, 'Start', class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :starts_at_text, placeholder: 'Starts at' %>
          </div>
        </div>
        <%= f.fields_for :todo_dependencies do |builder| %>
          <%= render "todo_dependency_fields", :f => builder %>
        <% end %>
        <div class="links controls">
          <%= link_to_add_association "Add Dependency", f, :todo_dependencies %>
        </div>         
      </div>
    </div>

<% end %>