<tbody>
  <%= form_for [todo.project, todo] do |f| %>
    <tr>
      <td><%= f.check_box :completed %> <%= f.submit "Update", class: "btn btn-mini" %></td>
      <td><strong><%= todo.name %></strong></td>
      <td><%= todo.assigned.available_name %></td>
      <td><%= todo.due_to.strftime("%d.%m.%Y") %></td>
      <td><%= todo.starts_at.strftime("%d.%m.%Y") if todo.starts_at %></td>
      <td><%= todo.dependencies.map{ |a| content_tag :span, a.name, style: (a.completed ? "color:green;" : "color:red;") }.join(", ").html_safe if todo.dependencies.any? %></td>
    </tr>
  <% end %>
</tbody>