<% title (@project ? "Tasks" : "All tasks"), (@project ? link_to(@project.name, [@project.projectable, @project]).html_safe : nil) %>
<% content_for :edit_section do %>
      <div class="pull-right" style="">
        <%= link_to [:new, @project, :todo], class: 'btn btn-default' do %>
          <i class="icon-plus"></i>
          Task
        <% end if @project || aspect? %>
      </div>
<% end %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li do %>
    ...
    <%= content_tag(:span, '/', class: 'divider') %>
  <% end if @project %>
  <%= content_tag(:li, link_to("Projects", [@project.projectable, 'projects']) + content_tag(:span, '/', class: 'divider')) if @project %>
  <%= content_tag(:li, link_to("#{@project.name}", [@project.projectable, @project]) + content_tag(:span, '/', class: 'divider')) if @project %>
  <%= content_tag :li, "Tasks", class: 'active' %>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span12">
    <div class="todos-options">
      <ul class="nav nav-pills">
        <%= content_tag :li, link_to("Everyone's tasks", polymorphic_url([@project, :todos], state: params[:state])), class: "#{'active' unless params[:creator] || params[:assignee] || params[:aspect]}" %>
        <%= content_tag :li, link_to("Assigned to you", polymorphic_url([@project, :todos], assignee: current_user, state: params[:state])), class: "#{'active' if params[:assignee]}" %>
      </ul>
    </div>

    <% if @todos.any? %>
      <table class="table table-bordered table-hover">
        <tbody>
          <%= render @todos %>
        </tbody>
      </table>
    <% else %>
        <div class="well">
          <p class="text-center">Nothing to show. <%= content_tag :span, link_to('Create a task', [:new, @project, :todo])+' or ' if aspect? || @project %><%= link_to 'back to previous page', :back %></p>
        </div>
    <% end %>
  </div>
</div>

<% end %>

