<% title "Todos", nil %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <li>... <%= content_tag(:span, '/', class: 'divider') %></li>
  <%= content_tag(:li, link_to("Projects", [@project.projectable, 'projects']) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("#{@project.name}", [@project.projectable, @project]) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "Todos", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span12">
    <div class="well">
      <%= render 'form' %>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>Completed?</td>
          <td>Task</td>
          <td>Assigned User</td>
          <td>Due to</td>
          <td>Starts at</td>
          <td>Depends on</td>   
        </tr>
      </thead>
      <%= render @todos %>
    </table>
  </div>

<% end %>

