<% title "Todos", nil, nil if @project %>
<% title "All todos", nil unless @project %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li do %>
    ...
    <%= content_tag(:span, '/', class: 'divider') %>
  <% end if @project %>
  <%= content_tag(:li, link_to("Projects", [@project.projectable, 'projects']) + content_tag(:span, '/', class: 'divider')) if @project %>
  <%= content_tag(:li, link_to("#{@project.name}", [@project.projectable, @project]) + content_tag(:span, '/', class: 'divider')) if @project %>
  <%= content_tag :li, "Todos", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span12">
    <%= content_tag :h1 do %>
      Tasks in "<%= link_to @project.name, @project %>"
    <% end if @project %>
    <div class="todos-options">
      <ul class="nav nav-pills">
        <%= content_tag :li, link_to("Everyone's tasks", polymorphic_url([@project, :todos], state: params[:state])), class: "#{'active' unless params[:creator] || params[:assignee] || params[:aspect]}" %>
        <%= content_tag :li, link_to("Assigned to you", polymorphic_url([@project, :todos], assignee: current_user, state: params[:state])), class: "#{'active' if params[:assignee]}" %>

        <div class="pull-right">
          <%= link_to 'Create Task', [:new, @project, :todo], class: "btn btn-create" if @project || aspect? %>
        </div>
      </ul>
    </div>

    <% if @todos.any? %>
      <table class="table table-bordered table-hover">
        <tbody>
          <%= render @todos %>
        </tbody>
      </table>
    <% else %>
       <div class="" style="background-color:#f5f5f5; height:80px; padding-top:40px;">
        <p class="text-center">No tasks to show. <%= link_to 'Create a new task.', polymorphic_path([:new, @project, :todo]) %></p>
      </div>
    <% end %>
  </div>

<% end %>

