<% title "#{@todo.name}", nil %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <li>... <%= content_tag(:span, '/', class: 'divider') %></li>
  <%= content_tag(:li, link_to("Projects", [@todo.project.projectable, 'projects']) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("#{@todo.project.name}", [@todo.project.projectable, @todo.project]) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "#{@todo.name}", class: 'active' %>
<% end %>

<% content_for :main_section do %>
    <%= form_for [@todo.project, @todo] do |f| %>
      <div class="row-fluid">
        <div class="span3" style="padding-bottom:20px;">
        <p class="form-inline"><%= f.label :completed, class: "checkbox" do %><%= f.check_box :completed %>Completed<% end %> <%= f.submit "Update", class: "btn btn-mini" %></p>
        </div>
        <div class="span7">
          <p><strong><%= @todo.name %></strong>:
          Assigned to <strong><%= @todo.assigned.available_name %></strong>, 
          due to <%= @todo.due_to.strftime("%d.%m.%Y") %>
          <%= 'Starts on '+@todo.starts_at.strftime("%d.%m.%Y") if @todo.starts_at %>
          <%= raw('Todos to be completed first: '+@todo.dependencies.map{ |a| content_tag :span, a.name, style: (a.completed ? "color:green;" : "color:red;") }.join(", ").html_safe) if @todo.dependencies.any? %></p>
        </div>
        <div class="span2">
          <%= link_to 'Delete', [@todo.project, @todo], method: :delete, confirm: 'Are you sure' %>
        </div>
      </div>
    <% end %>
<% end %>

<% content_for :sidebar_section do %>
  <div class="issues-options well well-small">
    <i class="icon-exclamation-sign"></i>
    <%= link_to 'Issues', todo_issues_path(@todo) %> 
    <%= content_tag :span, @todo.issues.count, class: 'badge pull-right' %>
  </div>
<% end %>