<p class="text text-info"><%= references.count %><%= content_tag :span, raw(' of ' + (link_to @references_all.count, references_path)) if @references_all %> entries</p>
<% references.each do |reference| %>
  <%= content_tag :div, class: 'list-entry' do -%>
    <div class="row-fluid">
      <%= content_tag :div, class: 'span3 authors' do -%>
        <ul class="unstyled">
          <li><%= authors_of_article(reference) %></li>
          <%= content_tag :li, reference.book.present? ? reference.book.year : reference.original_date %>
        </ul>
      <% end -%>
      <%= content_tag :div, class: 'span9', style: 'padding-bottom:10px;' do -%>
        <p>
          <%= authors_of_article(reference)+', ' %>
          <%= link_to "#{reference.title}", reference %>
          <% if reference.book.present? %>
            <%= raw(', in: '+editors(reference)) unless reference.book.book_type == 'Monograph' || reference.book.book_type == 'Monograph in a serial' %>
            <%= content_tag :span, ', ' if reference.book.book_type == 'Monograph in a serial' %>
            <%= article_in_book(reference) unless reference.book.book_type == 'Monograph' %>
            <%= content_tag :span, ', ' if reference.book.publisher.present? %>
            <%= reference.book.publisher if reference.book.publisher.present? %>
            <%= content_tag :span, ', ' if reference.book.place.present? %>
            <%= reference.book.place if reference.book.place.present? %>
            <%= content_tag :span, '('+reference.book.year+')' if reference.book.year.present? %>
          <% end %>
          <%= content_tag :span, ', ' if reference.first_page.present? %>
          <%= reference.first_page if reference.first_page.present? %>
          <%= content_tag :span, '-' if reference.last_page.present? %>
          <%= reference.last_page if reference.last_page.present? %>.
        </p>
        <%= link_to add_to_project_references_path(reference_id: reference.id, project_id: current_aspect.id), :method => :post, class: 'btn btn-mini btn-success pull-right' do %>
          <%= content_tag :i, '', class: 'icon-plus icon-white' %>
          <%= current_aspect.name %>
        <% end if aspect? && !current_aspect.references.include?(reference) %>
        <%= link_to destroy_project_reference_path(reference_id: reference.id, project_id: current_aspect.id), :method => :delete, class: 'btn btn-mini btn-warning pull-right' do %>
          <%= content_tag :i, '', class: 'icon-trash icon-white' %>
          <%= current_aspect.name %>
        <% end if aspect? && current_aspect.references.include?(reference) %>
      <% end -%>

    </div>
  <% end %>
<% end %>