<%= form_for @reference, :html => {:class => "custom"} do |f| %>
  <%= f.error_messages %>
  <div class="row">
    <% unless @reference.book %>
      <div class="large-12 columns">
        <%= select_tag(:ref_type, options_for_select(['Article', 'Monograph'])) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div id="authors" class="control-group">
        <%= f.label :person_ids, "Authors", :class => 'control-label' %>
        <div class="controls">
          <%= collection_select(:reference, :person_ids, Person.find(:all), :id, :fullname, { }, {:multiple => true}) %>
        </div>
      </div>
      <div id="alt-author" class="control-group">
        <%= f.label :alternative_author, "Institutionelle oder andere Autorenschaft", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :alternative_author, :class => 'text_field' %>
        </div>
      </div>
      <p style="text-align:right;"><small><%= link_to("Toggle authorship", '#', class: "add_fields", id: 'toggle-authors') %></small></p>
    </div>
    <div class="large-6 columns">

    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="control-group">
        <%= f.label :title, "Titel", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field' %>
        </div>
      </div>
    
      <% if @reference.book.blank? || @reference.new_record? %>
        <div class="row">
          <div class="large-12 columns">
            <%= f.label :book_id, 'Select Book', :class => 'control-label' %>
            <%= f.collection_select(:book_id, Book.all, :id, :content_for_select, :include_blank => true, class: "large-12") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <div class="control-group">
        <%= f.label :first_page, "Erste Seite", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :first_page, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :last_page, "Letzte Seite", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :last_page, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :uri, 'Internet Resource URI', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :uri %>
        </div>
      </div>
      <p><small><%= link_to("Add specific date", '#', class: "add_fields", id: 'add-date') %></small></p>
      <div id="date" class="control-group">
        <%= f.label :original_date, :class => 'control-label' %>
        <div class="controls">
          <%= f.date_select :original_date, {:start_year => Time.now.year + 1, :end_year => 1899, :include_blank => true}, :class => 'text_field' %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'button' %>
    <% if @reference.new_record? %>
      <% if @reference.book %>
        <%= link_to 'Abbrechen', @reference.book, :class => 'button secondary' %>
      <% else %>
        <%= link_to 'Abbrechen', references_path, :class => 'button secondary' %>
      <% end %>
    <% else %>
      <%= link_to 'Abbrechen', @reference, :class => 'button secondary' %>
    <% end %>
  </div>
<% end %>

