<%= nested_form_for @reference, :html => {:class => "custom"} do |f| %>
  <%= f.error_messages %>

  <%= render 'reference_fields', :f => f %>

  <div class="form-actions">
    <%= f.submit "Speichern", :class => 'button' %>
    <% if @reference.new_record? %>
      <% if @reference.book %>
        <%= link_to 'Abbrechen', @reference.book, :class => 'button secondary' %>
      <% else %>
        <%= link_to 'Abbrechen', references_path, :class => 'button secondary' %>
      <% end %>
    <% else %>
      <%= link_to 'Abbrechen', @reference, :class => 'button secondary' %>
    <% end %>
  </div>
<% end %>

