<fieldset class="nested-fields">

  <legend>Article/Content</legend>
  <div id="authors">
    <%= f.fields_for :authorships do |builder| %>
      <%= render "references/authorship_fields", :f => builder %>
    <% end %>
    <div class="links controls">
      <%= link_to_add_association "Add Author", f, :authorships, partial: "references/authorship_fields" %>
    </div>
  </div>

  <div id="alt-author">
    <div class="control-group">
      <%= f.label :alternative_author, "Institutionelle oder andere Autorenschaft", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :alternative_author, :class => 'text_field' %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :title, "Titel", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'input-block-level' %>
    </div>
  </div>
    
  <% if !@book %>  <!--Wenn das Formular aus dem Book-form als nested_field aufgerufen wird-->
    <% if !@reference.book %> <!--Prüft, ob das Formular über die Artikel hinzufügen bei Books aufgerufen wurde-->
      <div class="control-group">
        <%= f.label :book_id, 'Select Book', :class => 'control-label' %>
        <div class="controls">
          <%= f.select(:book_id, Book.where('book_type NOT IN (?)', ['Monograph', 'Monograph in a serial']).collect { |b| [entries_for_select(b), b.id] }, { :include_blank => true }, class: 'input-xxlarge') %>
        </div>
      </div>
    <% else %>
      <%= f.hidden_field :book_id %>
    <% end %>
  <% else %>
    <%= f.hidden_field :book_id %>
  <% end %>
    

    <div class="control-group">
      <%= f.label :first_page, "First page", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_page %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :last_page, "Last page", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_page %>
      </div>
    </div>

  <div class="control-group">
    <%= f.label :uri, 'Internet Resource URI', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :uri, class: 'input-block-level' %>
    </div>
  </div>
  <div id="date" class="control-group">
    <%= f.label :original_date, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append date">
        <%= f.text_field :original_date_text, placeholder: 'Originally written on', :'data-behaviour' => 'datepicker' %>
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :tag_ids, "Tags", class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true, class: 'form-control chosen-select input-block-level'} %>
    </div>
  </div>

  <% if @book %>
    <p class="control-label"><small><%= link_to_remove_association "remove", f %></small></p>
  <% end %>
</fieldset>