<% title "Bibliography", nil %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to 'Bibliography', references_path %>
  </nav>
<% end %>

<% content_for :link_section do %>
  <div class="button-bar right">
    <ul class="button-group">
      <% if can? :edit, @references %>
        <li><%= link_to "Books", books_path, class: "button small secondary" %></li>
        <li><%= link_to "Periodicals and Series", serials_path, class: "button small secondary" %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :main_section do %>
<div class="row collpase">
  <div class="large-8 columns">
    <%= render "bib_entries", :references => @references %>
  </div>

  <div class="large-3 columns offset-1">
    <h5 class="subheader">by type</h5>
    <ul class="no-bullet">
      <li>References <%= @references.count %></li>
      <li>Books <%= Book.count %></li>
      <li>Collections <%= Book.where('book_type NOT IN (?)', ['Monographie', 'Monographie in einer Reihe']).count %></li>
      <li>Monographs <%= Book.where('book_type IN (?)', ['Monographie', 'Monographie in einer Reihe']).count %></li>
    </ul>
  </div>
</div>
<% end %>