<% title "Bibliography", (@parent ? @parent.name : nil) %>
<% content_for :edit_section do %>
      <div class="pull-right" style="">
        <%= link_to new_reference_path, class: 'btn btn-default' do %>
          <i class="icon-plus"></i>
          Reference
        <% end if aspect? && !@parent && can?(:create, @references) %>
      </div>
<% end %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <% if @parent.class.name == 'Project' %>
    <li>... <%= content_tag(:span, '/', class: 'divider') %></li>
    <%= content_tag(:li, link_to("Projects", [@parent.projectable, 'projects']) + content_tag(:span, '/', class: 'divider')) %>
    <%= content_tag(:li, link_to("#{@parent.name}", [@parent.projectable, @parent]) + content_tag(:span, '/', class: 'divider')) %>
  <% end %>
  <li class="active">Bibliography</li>
<% end %>

<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <%= content_tag :div, class: 'span12' do %>
        <%= content_tag :ul, class: "nav nav-pills" do %>
          <%= content_tag :li, link_to("All references", references_path(show: 'all', q: params[:q])), class: "#{'active' unless params[:show] == 'archival' || params[:show] == 'babylon' }" %>
          <%= content_tag :li, link_to('Babylon specific', references_path(show: 'babylon', q: params[:q])), class: "#{'active' if params[:show] == 'babylon'}" %>
        <% end %>
      <% end unless @parent %>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <%= content_tag :div, class: "filter well" do %>
          <h4 style="margin-top:0px;">Filters</h4>
          <%= search_form_for @q do |f| %>
            <%= f.label :authors_full_name_cont, 'Search authors name' %>
            <%= f.search_field :authors_full_name_cont %>
            <%= hidden_field_tag :show, params[:show] %>
            <%= content_tag :div do %>
              <%= f.label :book_year_gteq, 'Search year between' %>
              <%= f.search_field :book_year_gteq, class: 'input-mini' %> and 
              <%= f.search_field :book_year_lteq, class: 'input-mini' %>
            <% end unless params[:show] == 'archival' || params[:show] == 'photographic' %>
            <%= f.label :title_cont, 'Search content title' %>
            <%= f.search_field :title_cont %>
            <% unless params[:show] == 'archival' || params[:show] == 'photographic' %>
              <%= f.label :book_full_entry_cont, 'Search book title' %>
              <%= f.search_field :book_full_entry_cont %>
            <% end %>
            <br>
            <%= f.submit 'Filter', class: 'btn' %><%= link_to 'Reset', references_path(q: nil, show: params[:show]), class: 'btn', style: 'margin-left:7px;' %>
          <% end unless @parent %>
          <p class="text text-info"><%= @references.count %> entries in set <small>[ of <%= content_tag :span, @references_all.count %> ]</small></p>
        <% end %>
        <%= content_tag :ul, class: "nav nav-pills nav-stacked" do %>
          <%= content_tag :li, link_to("Books", books_path), style: 'border: 1px solid #f5f5f5;' %>
          <%= content_tag :li, link_to("Journals and serials", serials_path), style: 'border: 1px solid #f5f5f5;' %>
        <% end unless @parent || params[:show] == 'archival' || params[:show] == 'photographic' %>
      </div>
      <div class="span9">
        <% if @indirect_references || @direct_references %>
          <%= content_tag :h4, "References in #{@parent.name if @parent}" if @indirect_references %>
          <div style="color:#bbb;">
            <%= render "bib_entries", :references => @indirect_references %>
          </div>
          <%= content_tag :h4, "References added through #{@parent.name if @parent}" if @direct_references %>
          <%= render "bib_entries", :references => @direct_references %>
        <% else %>
          <%= render "bib_entries", :references => @references_paginated %>        
          <%= will_paginate(@references_paginated, class: 'pagination pagination-centered', :renderer => WillPaginate::ActionView::BootstrapLinkRenderer) %>
        <% end %>
        <%= content_tag :p, class: 'pull-right' do %>
          <%= link_to "Download set", polymorphic_path([@parent, :references], format: "xlsx", q: params[:q], show: params[:show]), class: 'btn btn-mini', id: 'excel-link' %>
        <% end if can? :read, @references %>
      </div>
    </div>
    <div class="row-fluid" style="margin-top:100px;">
      <div class="span12">
        <div class="well">
          <h4>GLOSSARY</h4>
          <ul class="unstyled">
            <li>Monographs / Monographien — <em>Book with an explicit author</em></li>
            <li>In Books / Buchbeitrag — <em>An untitled part, section or chapter of a monograph</em></li>
            <li>Collections / Sammelband — <em>A collection of texts contributed by different authors</em></li>
            <li>In Collections / Sammelbandbeitrag — <em>Part of a superior work with its own title</em></li>
            <li>Proceedings / Konferenzband/Tagungsband — <em>A collection of contributions published in the context of a conference or workshop</em></li>
            <li>In Proceedings / Konferenzbeitrag — <em>Contribution in a conference proceedings</em></li>
            <li>Journal / Zeitschrift — <em>A periodical published at regular intervals</em></li>
            <li>Issue / Ausgabe — <em>Issue of a journal</em></li>
            <li>In Journal / Zeitschriftenartikel — <em>Article in a journal</em></li>
            <li>Reference / Nachschlagewerk — <em>References including encyclopedia, dictionaries, compendia, bibliographies and online-references</em></li>
            <li>In Reference / Lexikonartikel — <em>Contribution in a reference</em></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>