<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Id</Data></Cell>
        <Cell><Data ss:Type="String">Authors</Data></Cell>
        <Cell><Data ss:Type="String">Title</Data></Cell>
        <Cell><Data ss:Type="String">First Page</Data></Cell>
        <Cell><Data ss:Type="String">Last Page</Data></Cell>
        <Cell><Data ss:Type="String">Editors</Data></Cell>
        <Cell><Data ss:Type="String">Book</Data></Cell>
        <Cell><Data ss:Type="String">Year</Data></Cell>
        <Cell><Data ss:Type="String">Publisher</Data></Cell>
        <Cell><Data ss:Type="String">Place</Data></Cell>
      </Row>
    <% @references_unpaginated.each do |reference| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= reference.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= reference.authors_of_article %></Data></Cell>
        <Cell><Data ss:Type="String"><%= reference.title %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= reference.first_page %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= reference.last_page %></Data></Cell>
        <Cell><Data ss:Type="String"><%= book_edited_by(reference.book) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= book_title(reference.book) %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= reference.book.year %></Data></Cell>
        <Cell><Data ss:Type="String"><%= reference.book.publisher %></Data></Cell>
        <Cell><Data ss:Type="String"><%= reference.book.place %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>