<% title "Bibliography", nil %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to 'Explore', explore_path %>
    <%= link_to 'Bibliography', references_path %>
  </nav>
<% end %>

<% content_for :link_section do %>
  <div class="button-bar right">
    <ul class="button-group">
      <% if can? :edit, @references %>
        <li><%= link_to 'New Entry', new_reference_path, class: "button small" %></li>
      <% end %>
      <li><%= link_to "Books", books_path, class: "button small secondary" %></li>
      <li><%= link_to "Periodicals and Series", serials_path, class: "button small secondary" %></li>
    </ul>
  </div>
<% end %>

<% content_for :main_section do %>
  <table>
    <tr>
      <th>Author(s)</th>
      <th>Year</th>
      <th>Title</th>
      <th>In</th>
      <% if can? :edit, @references %>
        <th></th>
      <% end %>
  
    </tr>
  
    <% @references.each do |reference| %>
      <tr>
        <td><%= authors_of_article(reference) %></td>
        <td><%= reference.book.year if reference.book %></td>
        <td><%= link_to "#{reference.title}", reference %></td>
        <td><%= article_in_book(reference) %></td>
        <% if can? :edit, @references %>
          <td><%= link_to "Edit", edit_reference_path(reference) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>