<% title "Bibliography", nil %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li class="active">Bibliography</li>
<% end %>

<% content_for :main_section do %>
  <div class="span9">
    <div id="search-and-sort">
      <h5 class="muted">Filter &amp; Sort</h5>
      <%= search_form_for @search, html: { class: 'form-inline' } do |f| %>
        <%= f.condition_fields do |c| %>
          Filter:
          <%= render "condition_fields", f: c %>
        <% end %>
        <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
        <div class="form-inline">
          Sort:<br />
          <%= f.sort_fields do |s| %>
            <%= s.sort_select associations: [:authors, :book] %>
          <% end %>
        </div>
        <div class="other-actions">
          <%= f.submit "Go", class: 'btn btn-info btn-block' %>
        </div>
      <% end %>
    </div>
    <%= render "bib_entries", :references => @references %>
  </div>

  <div class="span2 offset1">
    <%= render "shared/bibliographic_cat_navs", :obj => @references %>

    <h5 class="muted">Filter by type</h5>
    <ul class="unstyled">
      <li><%= link_to "All entries", references_path %> (<%= @references_all.count %>)</li>
      <li><%= link_to "in Collections", references_path(:type => 'in-collection') %> (<%= @collections.count %>)</li>
      <li><%= link_to "as Monographs", references_path(:type => 'as-monograph') %> (<%= @monographs.count %>)</li>
      <li><%= link_to "misc", references_path(:type => 'misc') %> (<%= @misc.count %>)</li>
    </ul>
  </div>

<% end %>