<% title "#{@reference.title}", nil %>

<% content_for :link_section do %>
  <div class="button-bar right">
    <ul class="button-group">
      <% if can? :edit, @reference %>
        <li><%= link_to 'Edit', edit_reference_path(@reference), class: "button small" %></li>
        <li><%= link_to 'Delete', @reference, method: :delete, data: { confirm: 'Are you sure?' }, class: "button small alert" %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "Explore", explore_path %>
    <%= link_to 'Bibliography', references_path %>
    <%= link_to "#{@reference.title}", @reference %>
  </nav>
<% end %>

<% content_for :note_section do %>
<p>
  <b>Authors:</b>
  <%= @reference.authors.map{ |a| link_to(a.fullname,a) }.join(", ").html_safe %>
</p>

<%= @reference.book.year if @reference.book %>

<p>
  <b>Title:</b>
  <%= @reference.title %>
</p>

<% if @reference.book %>
  <p>
    <b>In: </b><%= book_edited_by(@reference.book, true, true, true) %><%= book_title(@reference.book, true) %>
  </p>
  Bookinfo
<% end %>
<p>
  <b>Pages:</b>
  <%= @reference.first_page %> to <%= @reference.last_page %>
</p>

<p>
  <b>URI:</b>
  <%= @reference.uri %>
</p>

<% end %>

<% content_for :main_section do %>
  <p>Gescannte Bilder aus diesem Buch</p>
  <p>Abstract</p>
  <p>Dieses Artikel hat einen Bezug zu diesen Objekten</p>
  <p>Außerdem in diesem Buch</p>
<% end %>

