<% title "Reference", @reference.title %>
<% edit_section_for(@reference, nil) %>
<% footer_section(@reference) %>


<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'References', references_path %> <span class="divider">/</span></li>
  <li class="active"><%= @reference.title %></li>
<% end %>


<% content_for :main_section do %>
<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">
      <div class="span7">

    <ul class="unstyled">
      <li><strong>Author:</strong> <%= @reference.authorships.map{ |a| link_to(a.person_name.name,a.person_name.person) }.join(", ").html_safe %></li>
      <li><strong>Title:</strong> <%= @reference.title %></li>
      <%= content_tag :li, link_to("#{@reference.uri}", "#{@reference.uri}") if @reference.uri.present? %>
    </ul>
    <% if @reference.book %>
      <h5 class="muted">In: <small><%= @reference.book.book_type %></small></h5>
      <p>
        <%= book_edited_by(@reference.book, true, true, true) %>
        <%= @reference.book.year+', ' if @reference.book %>
        <%= book_title(@reference.book, true) %>
        <%= ', '+@reference.first_page if @reference.first_page.present? %> <%= '- '+@reference.last_page if @reference.last_page.present? %>
      </p>
      <%= content_tag :p, 'Originaly written on: '+@reference.original_date.strftime("%d.%m.%Y") if @reference.original_date %>

      <% if @reference.book.unpublished == false %>
        <ul class="unstyled">
          <li>Publisher: <%= @reference.book.publisher %></li>
          <li>Place: <%= @reference.book.place %></li>
          <%= content_tag :li, 'ISBN'+@reference.book.book_identifier if @reference.book.book_identifier.present? %>
        </ul>
      <% else %>
        <h5 class="muted">UNPUBLISHED</h5>
      <% end %>
    <% end %>
    </div>
    <div class="span2">
  <%= link_to reference_issues_path(@reference), style: "text-decoration:none;" do %>
    <div class="issues-options">
      <i class="icon-exclamation-sign"></i>
        Issues
    <%= content_tag :span, @reference.issues.count, class: 'badge' %>
    </div>
  <% end %>
</div>
<div class="span3">

    <%= content_tag :div, class: "reference-options pull-right" do %>
      <%= content_tag :div, class: "" do %>
        <%= link_to reference_add_to_aspect_path(@reference), :method => :post, class: 'btn btn-small btn-success' do %>
          <%= content_tag :i, '', class: 'icon-plus-sign icon-white' %>
          <%= current_aspect.name %>
        <% end %>
      <% end if aspect? && !(current_aspect.references.include?(@reference)) %>
      <%= content_tag :div, class: "" do %>
        <%= link_to reference_remove_from_aspect_path(@reference), :method => :delete, class: 'btn btn-small btn-warning' do %>
          <%= content_tag :i, '', class: 'icon-minus-sign icon-white' %>
          <%= current_aspect.name %>
        <% end %>
      <% end if aspect? && current_aspect.references.include?(@reference) && (current_aspect.project_type == 'research' || can?(:destroy, ProjectReference))  %>
    <% end if aspect? %>
  </div>
  </div>

    <%= content_tag :div, class: "", id: "comment" do %>
      <hr>
      <span class="pull-right"><%= tagging_infos_for(@reference) %></span>
      <%= markdown(@reference.comment) %>
    <% end if @reference.comment %>

    </div>

    <div class="span4">
      <div class="tiles">
      <% for asset in @reference.assets.where('content_type LIKE ?', 'image%').order('created_at desc').limit(4) do %>
        <%= link_to (image_tag asset.assetfile.thumb.url, class: "", style: 'width:110px;'), asset.assetfile.large.url, class: "img-fluid" %>
      <% end %>
      </div>
    </div>
  </div>


  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8">
        <%= content_tag :div, class: 'projects-bib-entry' do %>
          <h3>Book contents</h3>
          <%= render "references/bib_entries", :references => @reference.book.articles.without(@reference).order('first_page ASC') %>
        <hr>
        <% end if @reference.book %>

        <%= content_tag :div, class: 'documents' do %>
          <h3>
            Documents
            <%= link_to new_reference_document_path(@reference), class: 'btn btn-default pull-right' do %>
              <i class="icon-plus"></i>
              Document
            <% end if can? :create, Document %>
          </h3>
          <%= content_tag :table, class: "table table-bordered table-hover" do %>
            <tbody>
              <%= render "documents/without_document_type", :var => @reference %>
            </tbody>
          <% end if @reference.documents.any? %>
          <%= link_to "View all documents on #{@reference.title}", reference_documents_path(@reference) %>
        <% end %> 

        <hr>
        <%= content_tag :div, class: 'upload-buckets' do %>
          <h3>
            Folders
            <%= link_to new_reference_bucket_path(@reference), class: 'btn btn-default pull-right' do %>
              <i class="icon-plus"></i>
              Folder
            <% end if can? :create, Bucket %>
          </h3>
          <%= render @reference.buckets, :personal => false %>
          <%= link_to "View all folders on #{@reference.title}", reference_buckets_path(@reference) %>
        <% end %> 


  </div>

  <div class="span4">


        <%= content_tag :div, class: 'citable-items-entry' do %>
          <h4>Entry referenced in</h4>
          <ul class="unstyled">
            <% for cite in @reference.citations do %>
              <li><%= cite.predicate.inverse_name %> <%= link_to "#{cite.citable.name}", cite.citable if cite.citable %> in <%= cite.ref_target %></li>
            <% end %>
          </ul>
        <% end if @reference.citations.any? %>   

        <%= content_tag :div, class: 'projects-bib-entry' do %>
          <h4>Projects using <%= @reference.title %></h4>
          <ul class="unstyled">
            <% for project in @reference.projects do %>
              <%= content_tag :li, style: "#{'font-weight:bold;' if project.show_references == true}" do %>
                <%= link_to "#{project.name}", [project.projectable, project] %>
                <% end %>
            <% end %>
          </ul>
        <% end if @reference.projects.any? %> 

        <div class="issue-section" id='issue'>
          <%= content_tag :h3 do %>
            Issues <%= content_tag :span, @reference.issues.count, class: "badge #{@reference.issues.where(closed: false).count > @reference.issues.where(closed: true).count+1 ? @reference.issues.where(closed: false).count > @reference.issues.where(closed: true).count+3 ? 'badge-important' : 'badge-warning' : 'badge-success' }" %>
          <% end %>
          <%= render @reference.issues.order('created_at DESC').limit(3) %>
          <%= @reference.issues.any? ? "#{link_to('View all issues', reference_issues_path(@reference))} or #{link_to('add a new issue', new_reference_issue_path(@reference))}".html_safe : ('Nothing to show! '+link_to('Create Issue', new_reference_issue_path(@reference))).html_safe %>
        </div>

        <%= content_tag :div, class: "activity-section", id: 'activity' do %>
          <%= content_tag :h3, 'Record activity', class: '' %>
          <% @reference.activities.order('created_at DESC').limit(6).each do |activity| %>
            <%= ActivityPresenter.new(activity, self).render_activity('popover-right') %>
          <% end %>
          <p>
            <%= link_to "View all activities for #{@reference.name}", reference_activities_path(@reference) %>
          </p>

        <% end if @reference.activities.any? %>

  </div>
</div>
<% end %>

