<% title "#{@reference.title}", nil %>
<% edit_section_for(@reference, nil) %>

<% content_for :add_section do %>
  <li><%= link_to 'Document', polymorphic_path([:new, @reference, :document]) %></li>
  <li><%= link_to 'Bucket', polymorphic_path([:new, @reference, :bucket]) %></li>
<% end if can? :edit, @reference %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Bibliography', references_path %> <span class="divider">/</span></li>
  <li class="active"><%= @reference.title %></li>
<% end %>


<% content_for :main_section do %>
    <ul class="nav nav-tabs">
      <%= content_tag :li, link_to('Connections', "#connections", data: {toggle: 'tab'}), class: 'active' %>
      <%= content_tag :li, link_to('Documents', "#docs", data: {toggle: 'tab'}) %>
      <%= content_tag :li, link_to('Uploads', "#uploads", data: {toggle: 'tab'}) %>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="connections">
        <%= content_tag :div, class: 'citable-items-entry' do %>
          <h3>Entry cited  </h3>
          <ul class="unstyled">
            <% for item in @reference.items do %>
              <li><%= item.predicate.inverse_name %> <%= link_to "#{item.citable.name}", item.citable %> in <%= item.ref_target %></li>
            <% end %>
          </ul>
        <% end if @reference.items.any? %>    

        <%= content_tag :div, class: 'projects-bib-entry' do %>
          <h3>Projects which use this entry</h3>
          <ul class="unstyled">
            <% for project in @reference.projects do %>
              <li><%= link_to "#{project.name}", [project.projectable, project] %></li>
            <% end %>
          </ul>
        <% end if @reference.projects.any? %> 

        <%= content_tag :div, class: 'projects-bib-entry' do %>
          <h3>What else is in this book?</h3>
          <%= render "references/bib_entries", :references => @reference.book.articles.without(@reference).order('first_page ASC') %>
        <% end if @reference.book %>

      </div>

      <div class="tab-pane" id="docs"> 
        <%= render "documents/without_document_type", :var => @reference if @reference.documents.any? %>
      </div>

      <div class="tab-pane" id="uploads">
        <%= render "shared/buckets_assets", :obj => @reference, :personal => false %>
      </div>

    </div>
<% end %>

<% content_for :sidebar_section do %>
  <%= content_tag :div, class: "reference-options well" do %>
    <%= content_tag :div, class: "" do %>
      <%= link_to add_to_project_references_path(reference_id: @reference.id, project_id: current_aspect.id), :method => :post, class: 'btn btn-block btn-success' do %>
        <%= content_tag :i, '', class: 'icon-plus icon-white' %>
        <%= current_aspect.name %>
      <% end %>
    <% end if !current_aspect.references.include?(@reference) %>
    <%= content_tag :div, class: "" do %>
      <%= link_to destroy_project_reference_path(reference_id: @reference.id, project_id: current_aspect.id), :method => :delete, class: 'btn btn-block btn-warning' do %>
        <%= content_tag :i, '', class: 'icon-trash icon-white' %>
        <%= current_aspect.name %>
      <% end %>
    <% end if current_aspect.references.include?(@reference) %>
  <% end if aspect? %>
  <%= link_to reference_issues_path(@reference), style: "text-decoration:none;" do %>
    <div class="issues-options well well-small">
      <i class="icon-exclamation-sign"></i>
        Issues
    <%= content_tag :span, @reference.issues.count, class: 'badge pull-right' %>
    </div>
  <% end %>
  <%= tagging_infos_for(@reference) %>

    <h5 class="muted">Title</h5>
    <ul class="unstyled">
      <li><%= @reference.authorships.map{ |a| link_to(a.person_name.name,a.person_name.person) }.join(", ").html_safe %></li>
      <li><%= @reference.title %></li>
      <%= content_tag :li, link_to("#{@reference.uri}", "#{@reference.uri}") if @reference.uri.present? %>
    </ul>

    <% if @reference.book %>
      <h5 class="muted">In: <small><%= @reference.book.book_type %></small></h5>
      <p>
        <%= book_edited_by(@reference.book, true, true, true) %>
        <%= @reference.book.year+', ' if @reference.book %>
        <%= book_title(@reference.book, true) %>
        <%= ', '+@reference.first_page if @reference.first_page.present? %> <%= '- '+@reference.last_page if @reference.last_page.present? %>
      </p>
      <%= content_tag :p, 'Originaly written on: '+@reference.original_date.strftime("%d.%m.%Y") if @reference.original_date %>

      <% unless @reference.book.unpublished? %>
        <h5 class="muted">Issued</h5>
        <ul class="unstyled">
          <li><%= @reference.book.publisher %></li>
          <li><%= @reference.book.place %></li>
          <%= content_tag :li, 'ISBN'+@reference.book.book_identifier if @reference.book.book_identifier.present? %>
        </ul>
      <% else %>
        <h5 class="muted">UNPUBLISHED</h5>
      <% end %>
    <% end %>

    <h5 class="muted" style="margin-top:50px;">Record Info</h5>
    <ul class="unstyled">
      <li>Created by: <%= @reference.creator.available_name %></li>
      <li>Updated by: <%= @reference.updater.available_name %></li>
    </ul>

<% end %>

