<div class="mega-icon" style='background-image: url("/assets/activity/<%= activity.action %>.svg")'></div>
<abbr class="timeago tooltip-bottom" title='<%= activity.created_at %>'><%= distance_of_time_in_words_to_now(activity.created_at) %> ago</abbr>
<div class="title">
  <%= image_tag((activity.user.person ? (activity.user.person.profile_picture ? activity.user.person.profile_picture.assetfile.mini_thumb.url : 'icons/super.svg') : 'icons/super.svg'), class: 'img-rounded') %>
  <%= name_only_or_link_to(activity.user) %> 
  <%= activity.action.sub(/e?$/, "ed") %>
  <% if document.document_type == 'Introduction' %>
  	the <%= link_to 'Introduction', [document.documentable, document] if document && document.documentable %> for 
  	<%= link_to document.documentable.name, document.documentable if document && document.documentable %>
  <% else %>
    a
  	<%= link_to 'document', [document.documentable, document] if document && document.documentable %> on 
  	<%= link_to document.documentable.name, document.documentable if document && document.documentable %>
  <% end %>
</div>
<div class="details">

</div>