<abbr class="timeago tooltip-bottom" title='<%= activity.created_at %>'><%= distance_of_time_in_words_to_now(activity.created_at) %> ago</abbr>
<div class="title">
  <%= image_tag((activity.user.person ? (activity.user.person.profile_picture ? activity.user.person.profile_picture.assetfile.mini_thumb.url : 'icons/super.svg') : 'icons/super.svg'), class: 'img-rounded') %>
  <%= name_only_or_link_to(activity.user) %> 
  <%= activity.action.sub(/e?$/, "ed") %> <%= "a #{link_to activity.targetable.class, [activity.trackable, activity.targetable]} on".html_safe if activity.targetable %>
  <%= link_to item.name, item, class: "#{orientation}", data: { 'original-title' => item.name, 'content' => item.inspect } if item %>
</div>
<div class="details muted">
	<p><%= activity.changes_content.inspect if activity.action == 'update' %></p>
</div>