<% title "Explore", nil %>

<% content_for :content do %>
  <div class="explorer">
    <%= image_tag(@about_bucket.cover.assetfile.normal.url) if @about_bucket.cover %>
    <%= link_to polymorphic_path([@about, @about_bucket]), class: 'change-asset' do %>
      <i class="icon-edit icon-white"></i>
    <% end if can? :manage, 'publishing' %>
  </div>

  <%= content_tag :div, class: 'well', id: 'about-section' do %>
    <p><%= @about.description %> <%= content_tag :span, link_to('(Edit)', edit_snippet_path(@about)) if can? :manage, 'publishing' %></p>
  <% end if @about %>
  
  <div class="" id="modules-section">
    <%= content_tag :h2, 'Modules' if @clusters %>
    <ul class="thumbnails">
      <% for cluster in @clusters do %>
        <%= link_to cluster do %>
        <li class="span3">
          <div class="thumbnail" style="padding:10px;">
            <%= cluster.cluster_bucket.cover ? image_tag(cluster.cluster_bucket.cover.assetfile.big_thumb.url) : image_tag("icons/no_picture.svg") %>
            <h3><%= cluster.name %></h3>
            <p style="height:100px;"><%= cluster.documents.doctype('Introduction').abstract.present? ? truncate(cluster.documents.doctype('Introduction').abstract, length: 200, seperator: ' ', omission: ' ... ') : "Nothing to show." if cluster.documents.doctype('Introduction') %></p>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
    <%= link_to 'View all modules', clusters_path %>
  </div>

  <div class="" id="news-section">
    <%= content_tag :h2 do  %>
      News
      <div class="pull-right" style="">
        <%= link_to "Create novelity", new_cluster_path, class: "btn btn-create btn-small" if can? :manage, 'publishing' %>
      </div>      
    <% end if @news %>
    <div class="row-fluid">
      <div class="span12">
        <% @news.in_groups_of(3, false).each do |row_news| %>
          <div class="row-fluid">
            <% for novelity in row_news do %>
              <div class="span4 well" style="height:350px;overflow:hidden;">
                <h3><%= novelity.name %></h3>
                <p><small><%= novelity.created_at.strftime("%d.%m.%Y") %></small>
                <p><%= markdown(novelity.description) %> <%= content_tag :small, link_to('(Edit)', edit_snippet_path(novelity)) if can? :publish, @about %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <p>
      <%= link_to 'View all', snippets_path %>
    </p>
  </div>

<% end %>