<% title "Explore", nil %>

<% content_for :content do %>
  <%= content_tag :div, class: "carousel-inner billboard" do %>
    <div class="visible-phone">
      <h1>$babylon</h1>
      <h2 class="subtitle" style="font-size:1.4em;line-height:1.3em;">$Bibliotheken und Archive Babylons: texts in an e-based content</h2>
    </div>
    <div class="item active">
      <div class="explorer">
        <%= image_tag(@about_bucket.cover.assetfile.normal.url) %>
        <div class="overlay hidden-phone">
          <h1>$babylon</h1>
          <p>$Bibliotheken und Archive Babylons: texts in an e-based content</p>
        </div>
      </div>
      <div class="carousel-caption hidden-phone">
        <h4>
          <%= @about_bucket.cover.name %>
          <small><%= link_to '[Link]', @about_bucket.cover %></small>
          <%= link_to polymorphic_path([@about, @about_bucket]), class: 'pull-right' do %>
            <i class="icon-edit icon-white"></i>
          <% end if can? :manage, 'publishing' %>
        </h4>
        <p>
          <%= link_to @about_bucket.cover.author.name, @about_bucket.cover.author if @about_bucket.cover.author %>
          <%= ', ' if @about_bucket.cover.author && @about_bucket.cover.license %>
          <%= link_to @about_bucket.cover.license, "http://creativecommons.org/licenses/#{@about_bucket.cover.license}/4.0/", rel: "license" %>
        </p>
      </div>
    </div>
    <div class="visible-phone">
      <p>
        <strong><%= @about_bucket.cover.name %></strong>
          <small><%= link_to '[Link]', @about_bucket.cover, style: 'text-decoration:none;' %></small>
        <%= link_to polymorphic_path([@about, @about_bucket]), class: 'pull-right' do %>
          <i class="icon-edit icon-white"></i>
        <% end if can? :manage, 'publishing' %>
        <br />
        <%= link_to @about_bucket.cover.author.name, @about_bucket.cover.author if @about_bucket.cover.author %>
        <%= ', ' if @about_bucket.cover.author && @about_bucket.cover.license %>
        <%= link_to @about_bucket.cover.license, "http://creativecommons.org/licenses/#{@about_bucket.cover.license}/4.0/", rel: "license" %>
      </p>
    </div>
  <% end if @about_bucket.cover %>



  <div class="row" id="modules-section" style="padding-top:3em;">
    <div class="span8">
    <%= content_tag :h2, 'Modules' if @clusters %>
    <ul class="thumbnails visible-desktop">
      <% for cluster in @clusters do %>
        <%= link_to cluster do %>
        <li class="span2">
          <div class="thumbnail" style="padding:1em;">
            <%= cluster.cluster_bucket.cover ? image_tag(cluster.cluster_bucket.cover.assetfile.big_thumb.url) : image_tag("icons/no_picture.svg") %>
            <h3 style="line-height:20px;margin: 10px 0 5px 0;"><%= cluster.name %></h3>
            <p style="min-height:5em; font-size:0.87em; line-height:1.3em;"><%= cluster.documents.doctype('Introduction').abstract.present? ? truncate(cluster.documents.doctype('Introduction').abstract, length: 200, seperator: ' ', omission: ' ... ') : "Nothing to show." if cluster.documents.doctype('Introduction') %></p>
          </div>
        </li>

        <% end %>
      <% end %>
    </ul>
    <ul class="unstyled hidden-desktop">
      <% for cluster in @clusters do %>
        <li style="margin-bottom:2em;">
          <h3 style="line-height:20px;margin: 10px 0 5px 0;"><%= link_to cluster.name, cluster %></h3>
          <p><%= cluster.documents.doctype('Introduction').abstract.present? ? truncate(cluster.documents.doctype('Introduction').abstract, length: 200, seperator: ' ', omission: ' ... ') : "Nothing to show." if cluster.documents.doctype('Introduction') %></p>
        </li>
      <% end %>
    </ul>
    <%= link_to 'View all modules', clusters_path %>
  </div>

  <%= content_tag :div, class: 'span4' do %>
    <div class="about-section">
      <h2>
        <%= @about.name %>
      </h2>
      <p><%= markdown(truncated_description(@about, length=800)) %></p>
    </div>
  <% end if @about %>
  </div>


  <div class="" id="news-section" style="padding-top:3em;">

    <div class="row-fluid">
      <div class="span6">
        <%= content_tag :h2 do  %>
          Announcements    
        <% end if @news %>
        <% @news.in_groups_of(2, false).each do |row_news| %>
          <div class="row-fluid">
            <% for novelity in row_news do %>
              <div class="span6" style="height:230px; border-top:1px solid #f5f5f5; padding-right:1em;">
                <h3>
                  <%= novelity.name %>
                  <%= content_tag :i, '', class: 'icon-star-empty pull-right', style: 'margin:10px 15px 0 0' if novelity.pinned? %>
                </h3>
                <p><small><%= novelity.created_at.strftime("%d.%m.%Y") %></small>
                <p><%= markdown(truncated_description(novelity, length=200)) %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        <p>
          <%= link_to 'View all announcements', snippets_path %>
        </p>
      </div>

      <div class="span5 offset1">
        <% @activities.each do |activity| %>
          <%= ActivityPresenter.new(activity, self).render_activity %>
        <% end %>
        <p>
          <%= link_to 'View all activities', activities_path %>
        </p>
      </div>
    </div>

  </div>

<% end %>