<% title "Explore", nil %>

<% content_for :explore do %>

<% end %>


<% content_for :content do %>
  <div class="explorer">
    <%= image_tag(@cover.assetfile.normal.url) if @cover %>
    <% if can? :publish, 'pages' %>
      <% if @explore && @bucket %>
        <%= link_to [@bucket.attachable, @bucket], class: 'change-asset' do %>
          <i class="icon-edit icon-white"></i>
        <% end %>
      <% end %>
      <%= button_to "Add Banner & Bucket", pages_path(:permalink => 'explore', :type => 'img'), method: :post, class: 'btn btn-mini' unless @explore %>
    <% end %>

    <!-- Dynamische Anzeige der Pages wenn die selbsterstelbar werden.
    <div class="navbar" style="margin-top:-22px;">
      <div class="navbar-inner">
        <ul class="nav pull-left">
          <% for doc in @docs do %>
            <li><%= link_to doc.title, doc %></li>
          <% end %>
      </div>
    </div>
    -->
  </div>
  <div class="row-fluid">
  	<div class="span8 border-right">
  	  <div class="row-fluid">
  	    <div class="span6 border-right">
  	      <%= render "doc_panel", doc: @resources, permalink: 'resources', length: 170 %>
  	    </div>
  	    <div class="span6">
  	      <%= render "doc_panel", doc: @research, permalink: 'research', length: 170 %>
  	    </div>
  	  </div>
  	  <div class="row-fluid border-top">
  	    <div class="span12">
  	      <%= render "doc_panel", doc: @about, permalink: 'about', length: 360 %>
  	    </div>
  	  </div>
    </div>
  	<div class="span4">
  	  <h3>News</h3>
  	  <p>news about the project news about the project news about the project news about the project news about the project </p>
  	</div>
  </div>

<% end %>