<% title "Explore", nil %>

<% content_for :content do %>
  <%= content_tag :div, class: "carousel-inner billboard" do %>
    <div class="visible-phone">
      <h1>$babylon</h1>
      <!-- <h2 class="subtitle" style="font-size:1.4em;line-height:1.3em;">$Bibliotheken und Archive Babylons: texts in an e-based content</h2> -->
    </div>
    <div class="item active">
      <div class="explorer">
        <%= image_tag(@about_bucket.cover.assetfile.normal.url) %>
        <div class="overlay hidden-phone">
          <h1>$babylon</h1>
          <!-- <p>$Bibliotheken und Archive Babylons: texts in an e-based content</p> -->
        </div>
      </div>
      <div class="carousel-caption hidden-phone">
        <h4>
          <%= @about_bucket.cover.name %>
          <small><%= link_to '[Link]', @about_bucket.cover %></small>
          <%= link_to polymorphic_path([@about, @about_bucket]), class: 'pull-right' do %>
            <i class="icon-edit icon-white"></i>
          <% end if can? :manage, 'publishing' %>
        </h4>
        <p>
          <%= link_to @about_bucket.cover.author.name, @about_bucket.cover.author if @about_bucket.cover.author %>
          <%= ', ' if @about_bucket.cover.author && @about_bucket.cover.license %>
          <%= link_to @about_bucket.cover.license, "http://creativecommons.org/licenses/#{@about_bucket.cover.license}/4.0/", rel: "license" %>
        </p>
      </div>
    </div>
    <div class="visible-phone">
      <p>
        <strong><%= @about_bucket.cover.name %></strong>
          <small><%= link_to '[Link]', @about_bucket.cover, style: 'text-decoration:none;' %></small>
        <%= link_to polymorphic_path([@about, @about_bucket]), class: 'pull-right' do %>
          <i class="icon-edit icon-white"></i>
        <% end if can? :manage, 'publishing' %>
        <br />
        <%= link_to @about_bucket.cover.author.name, @about_bucket.cover.author if @about_bucket.cover.author %>
        <%= ', ' if @about_bucket.cover.author && @about_bucket.cover.license %>
        <%= link_to @about_bucket.cover.license, "http://creativecommons.org/licenses/#{@about_bucket.cover.license}/4.0/", rel: "license" %>
      </p>
    </div>
  <% end if @about_bucket.cover %>


  <div class="row hidden-phone">
    <div class="span12">
      <div class="explorer-nav" style="padding-top:2em;margin-top:-1em;">
        <ul class="nav nav-pills nav-pills-big img-rounded" style="font-weight:bold;background-color:#f6f6f6;padding:0 2px;">
          <%= content_tag :li, link_to("Bibliography", references_path) if can? :read, 'Bibliography' %>
          <%= content_tag :li, link_to("Items", items_path) if can? :read, 'Items' %>
          <%= content_tag :li, link_to("Uploaded files", assets_path) if can? :read, 'Assets' %>
          <%= content_tag :li, link_to("Documents", documents_path) if can? :read, 'Documents' %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <%= content_tag :div do %>
        <%= content_tag :h2, 'Featured' %>
        <%= render @featured %>
      <% end if @featured.any? %>

      <%= content_tag :div do %>
        <%= content_tag :h2, 'Modules' %>
        <% for cluster in @clusters do %>
          <div class="media" style="padding-bottom:1em;">
            <%= link_to cluster, class: "pull-left hidden-phone hidden-tablet" do %>
              <%= cluster.cluster_bucket.cover ? image_tag(cluster.cluster_bucket.cover.assetfile.thumb.url, class: 'media-object img-rounded', style:'width:128px;') : image_tag("icons/no_picture.svg", class: 'media-object img-rounded', style:'width:128px;') %>
            <% end %>
            <div class="media-body">
              <h3 class="media-heading"><%= link_to cluster.name, cluster %></h3>
              <p><%= cluster.documents.doctype('Introduction').abstract.present? ? truncate(cluster.documents.doctype('Introduction').abstract, length: 200, seperator: ' ', omission: ' ... ') : "Nothing to show." if cluster.documents.doctype('Introduction') %></p>
            </div>
          </div>
        <% end %>
        <%= link_to 'View all modules', clusters_path %>
      <% end if @clusters %>

      <%= content_tag :div, id: 'news-section' do %>
        <%= content_tag :h2 do  %>
          Announcements    
        <% end if @news %>
        <% @news.in_groups_of(2, false).each do |row_news| %>
          <div class="row-fluid">
            <% for novelity in row_news do %>
              <div class="span6" style="height:230px; border-top:1px solid #f5f5f5; padding-right:1em;">
                <h3>
                  <%= novelity.name %>
                  <%= content_tag :i, '', class: 'icon-star-empty pull-right', style: 'margin:10px 15px 0 0' if novelity.pinned? %>
                </h3>
                <p><small><%= novelity.created_at.strftime("%d.%m.%Y") %></small>
                <p><%= markdown(truncated_description(novelity, length=200)) %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        <p>
          <%= link_to 'View all announcements', snippets_path %>
        </p>
      <% end %>
    </div>

    <%= content_tag :div, class: 'span4 explorer-sidebar-section' do %>
      <%= content_tag :div, id: "about-section" do %>
        <h2>
          <%= @about.name %>
        </h2>
        <p><%= markdown(truncated_description(@about, length=800)) %></p>
      <% end if @about %>

      <%= content_tag :div, id: "activity-section", style: 'padding-top:2em;' do %>
        <% @activities.each do |activity| %>
          <%= ActivityPresenter.new(activity, self).render_activity %>
        <% end %>
        <p>
          <%= link_to 'View all activities', activities_path %>
        </p>
      <% end %>
    <% end %>

  </div>

<% end %>