<% title "Explore", nil %>

<% content_for :explore do %>
  <div class="explorer visible-desktop">
  	<%= image_tag(@cover.assetfile.normal.url) if @cover %>
    <%= link_to [@bucket.attachable, @bucket] do %><i class="icon-refresh"></i><% end if @welcome.present? && @bucket.present? && (can? :edit, @bucket) %>
  	<%= button_to "Add Bucket", pages_path(:permalink => 'welcome', :type => 'img'), method: :post, class: 'button tiny' unless @welcome.present? %>
  </div>
<% end %>


<% content_for :content do %>
  <div class="row-fluid">
  	<div class="span8 border-right">
  	  <div class="row-fluid">
  	    <div class="span6 border-right">
  	      <%= render "doc_panel", doc: @resources, permalink: 'resources', length: 170 %>
  	    </div>
  	    <div class="span6">
  	      <%= render "doc_panel", doc: @research, permalink: 'research', length: 170 %>
  	    </div>
  	  </div>
  	  <div class="row-fluid border-top">
  	    <div class="span12">
  	      <%= render "doc_panel", doc: @about, permalink: 'about', length: 360 %>
  	    </div>
  	  </div>
    </div>
  	<div class="span4">
  	  <h3>News</h3>
  	  <p>news about the project news about the project news about the project news about the project news about the project </p>
  	</div>
  </div>

<% end %>