<% title "Explore", nil, nil %>
<div id="wrap">
<header>

  <div class="navbar-wrapper">
    <div class="container">
    <%= content_tag :div, class: 'navbar navbar-inverse' do %>
      <%= render 'shared/navbar' %>
    <% end %>
  </div>
  </div>

  <!-- Carousel. padding-top:50px wegen sticky-footer entsprechend .container{padding-top:50px;} -->
  <%= content_tag :div, id: "explCarousel", class: "carousel slide", style: '' do %>
    <!-- Carousel items -->
    <%= content_tag :div, class: "carousel-inner" do %>
      <% @about_bucket.assets.each_with_index do |asset, index| %>
        <div class="item <%= 'active' if index == 0 %>">
          <%= image_tag(asset.assetfile.normal.url) %>
          <div class="container">
          <div class="carousel-caption">
            <h1>$babylon</h1>
            <p class="lead">
              <%= link_to asset.name, asset %>
            </p>
            <p>
              &copy; 
              <%= link_to asset.author.name, asset.author if asset.author %>
              <%= ', ' if asset.author && asset.license %>
              <%= link_to asset.license, "http://creativecommons.org/licenses/#{@about_bucket.cover.license}/4.0/", rel: "license" %>
            </p>
            <%= link_to polymorphic_path([@about, @about_bucket]), class: 'btn btn-primary' do %>
              <i class="icon-edit icon-white"></i>
              Edit
            <% end if can? :manage, 'publishing' %>

          </div>
          </div>      
        </div>
      <% end %>
    <% end %>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#explCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#explCarousel" data-slide="next">&rsaquo;</a>
  <% end if @about_bucket.assets.any? %>
</header>

<div class="container" style="margin-bottom:50px;">
  <%= render "shared/debug" %>    
  <%= render "shared/flash", flash: flash %>

  <div class="row hidden">
    <div class="span12">
      <%= link_to 'Edit images', polymorphic_path([@about, @about_bucket]) unless @about_bucket.assets.any? %>
      <div class="explorer-nav" style="">
        <ul class="nav nav-pills nav-pills-big" style="font-weight:bold;background-color:#f6f6f6;padding:0 2px;">
          <%= content_tag :li, link_to("Bibliographies", references_path) if can? :read, Reference %>
          <%= content_tag :li, link_to("Objects", items_path) if can? :read, Item %>
          <%= content_tag :li, class: "dropdown" do %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <strong>Other Resources</strong>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <%= content_tag :li, link_to("Pictures", assets_path) if can? :read, Asset %>
              <%= content_tag :li, link_to("Documents", documents_path) if can? :read, Document %>
            </ul>
          <% end %>
          <%= content_tag :li, link_to("Your Dashboard", dashboard_path), class: 'pull-right' if user_signed_in? %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">

      <%= content_tag :div do %>
        <%= content_tag :h2, 'Featured' %>
        <%= render @featured %>
      <% end if @featured.any? %>

      <%= content_tag :div, style: 'padding-top:30px;' do %>
        <%= content_tag :h2, 'Modules' %>
        <% for cluster in @clusters do %>
          <div class="media" style="padding-bottom:1em;">
            <%= link_to cluster, class: "pull-left hidden-phone hidden-tablet" do %>
              <%= image_tag(cluster.cluster_bucket.cover ? cluster.cluster_bucket.cover.assetfile.thumb.url : "icons/no_picture.svg", class: 'media-object img-polaroid', style:'width:128px; margin-top:10px;') %>
            <% end %>
            <div class="media-body">
              <h3 class="media-heading" style="margin-bottom:0px;"><%= link_to cluster.name, cluster %></h3>
              <%= cluster.description.present? ? markdown(cluster.description) : content_tag(:p, "No abstract to show.") %>
            </div>
          </div>
        <% end %>
        <%= link_to 'View all modules', clusters_path %>
      <% end if @clusters.any? %>

      <%= content_tag :div, id: 'blogs-section', style: 'padding-top:30px;' do %>
        <%= content_tag :h2 do  %>
          Blogs    
        <% end if @blogs %>
        <% @blogs.in_groups_of(2, false).each do |row_blogs| %>
          <div class="row-fluid">
            <% for blog in row_blogs do %>
              <div class="span6" style="height:230px; border-top:1px solid #f5f5f5; padding-right:1em;">
                <h3>
                  <%= blog.name %>
                  <%= content_tag :i, '', class: 'icon-star-empty pull-right', style: 'margin:10px 15px 0 0' if blog.pinned? %>
                </h3>
                <p><small><%= blog.created_at.strftime("%d.%m.%Y") %></small>
                <p><%= markdown(truncated_description(blog, length=200)) %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        <%= link_to 'View all posts', snippets_path %>
      <% end %>

    </div>

    <%= content_tag :div, class: 'span4 explorer-sidebar-section' do %>
      <%= content_tag :div, id: "about-section" do %>
        <h2>
          <%= @about.name %>
        </h2>
        <p><%= markdown(truncated_description(@about, length=800)) %></p>
      <% end if @about %>

      <%= content_tag :div, id: "activity-section", style: 'padding-top:2em;' do %>
        <% @activities.each do |activity| %>
          <%= ActivityPresenter.new(activity, self).render_activity %>
        <% end %>
        <%= link_to 'View all activities', activities_path %>
      <% end %>
    <% end %>
  </div>
</div>

  <div id="push"></div>
</div>
<div id="footer">
  <%= render "shared/site_footer" %>
</div>
