<!DOCTYPE html>
  <head>
  	<meta charset="utf-8" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title>BABylo-tec: <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= content_tag :div, class: 'navbar navbar-fixed-top' do %>
      <div class="navbar-inner">
        <%= link_to "$babylon", root_url, class: "brand", style: 'margin-left:0' %>
        <% if user_signed_in? %>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          

          <%= content_tag :div, class: 'nav-collapse collapse' do %>
            <ul class="nav pull-left">
              <%= content_tag :li, link_to('Modules', clusters_path) %>
              <li class="divider-vertical"></li>
              <%= content_tag :li, link_to("People", people_path) if can? :read, 'People' %>
              <%= content_tag :li, link_to("Institutions", institutions_path) if can? :read, 'Institutions' %>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <strong>Resources</strong>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <%= content_tag :li, link_to("Bibliography", references_path) if can? :read, 'Bibliography' %>
                  <%= content_tag :li, link_to("Items", items_path) if can? :read, 'Items' %>
                  <%= content_tag :li, '',class: 'divider' %>
                  <%= content_tag :li, link_to("Uploaded files", assets_path) if can? :read, 'Assets' %>
                  <%= content_tag :li, link_to("Documents", documents_path) if can? :read, 'Documents' %>
                </ul>
              </li>
            </ul>
          <% end if can? :read, 'Navbar' %>

          <div class="nav-collapse collapse">
            <%= content_tag :ul, class: 'nav pull-right' do %>
              <%= content_tag :li, class: 'dropdown' do %>
                <a href="#" class="dropdown-toggle tooltip-bottom" data-toggle="dropdown" title="Your personal menu" id="personal-menu">
                  <% if current_user.person && current_user.person.profile_picture %>
                    <%= image_tag(current_user.person.profile_picture.assetfile.mini_thumb.url, class: 'img-rounded navbar-icon hidden-tablet hidden-phone', style: 'width:30px;') %>
                    <% else %>
                    <%= image_tag('icons/super.svg', class: 'navbar-icon hidden-tablet hidden-phone', style: 'width:30px;') %>
                  <% end %>
                  <%= content_tag :span, class: 'hidden-desktop' do %>
                    <%= current_user.available_name %> (You)
                    <b class="caret"></b>
                  <% end %>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
                  <li><%= link_to "Your Dashboard", dashboard_path %></li>
                  <%= content_tag :li, (link_to "Your Profile", current_user.person) if current_user.person %>
                  <li class="divider"></li>
                  <%= content_tag :li, (link_to 'Edit your profile', edit_person_path(current_user.person)) if current_user.person %>
                  <%= content_tag :li, (link_to 'Account Settings', edit_user_registration_path) if current_user %>
                  <% if can? :edit, 'Profile' %>
                    <%= content_tag :li do %>
                      <a href="#connect_profile_modal" data-toggle="modal">Connect profile</a>
                    <% end unless current_user.person %>
                  <% end %>
                </ul>
              <% end if can? :read, 'Navbar' %>

              <%= content_tag :li, class: 'dropdown' do %>
                <a href="#" class="dropdown-toggle tooltip-bottom" data-toggle="dropdown" title="Project views" id="aspect-menu">
                  <%= image_tag("icons/aspect.svg", class: 'navbar-icon hidden-tablet hidden-phone') %>
                  <%= content_tag :span, class: 'hidden-desktop' do %>
                    Change Aspect        
                    <b class="caret"></b>
                  <% end %>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
                  <%= content_tag :li, link_to('Current project dashboard', project_dashboard_path(current_aspect)) if aspect? %>

                  <%= content_tag :li, '', class: 'divider' if aspect? %>   

                  <% current_user.projects.each do |project| %>
                    <li>       
                      <%= link_to change_aspect_path(:project_id => project.id) do %>
                        <%= project.projectable.name if project.projectable_type == "Cluster" %>
                        <% if project.projectable_type == "Group" %>
                          <%= project.projectable.cluster.name %> /
                          <%= project.projectable.name %>
                        <% end %>
                        /
                        <strong><%= project.name %></strong>
                      <% end %>
                    </li>
                  <% end %>

                  <%= content_tag :li, '', class: 'divider' if aspect? %>

                  <%= content_tag :li do %>
                    <%= link_to exit_aspect_path do %>
                      Exit <strong><%= current_aspect.name %></strong>
                    <% end %>
                  <% end if aspect? %>

                </ul>
              <% end if (can? :read, 'Navbar') && current_user.projects.any? %>


              <li class="divider-vertical"></li>


              <li class="visible-desktop">
                <%= link_to image_tag("icons/sign4.svg", class: 'navbar-icon', style: 'width:35px;'), destroy_user_session_path, method: :delete, data: { confirm: 'You really want to sign out?' }, title: 'Sign out', class: 'tooltip-bottom', id: 'sign-out-link' %>
              </li>
              <li class="hidden-desktop">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'You really want to sign out?' }, title: 'Sign out', id: 'sign-out-link' %>
              </li>
            <% end if can? :read, 'Navbar' %>

            <%= content_tag :ul, class: 'nav pull-right visible-desktop' do %>
              <% if can? :manage, 'development' %>
                <li><a href="#" data-toggle="collapse" data-target="#params-well">Params</a></li>
                <li class="divider-vertical"></li>
              <% end %>
                <%= content_tag :li, (link_to current_user.available_name, dashboard_path) %>
            <% end if user_signed_in? %>

          </div>
        <% end %>

      </div>
    <% end if user_signed_in? %>



    <!-- Main Section -->
    
    <div class="container">
      <% if can? :manage, 'development' %>
        <div class="row">
          <div class="span12" style="font-size:12px;">
            <div class="collapse" id="params-well">
              <p><%= debug(params) %></p>
            </div>
          </div>
        </div>
      <% end %>     
  	  <div class="row">
        <div class="span12">
          <%= content_tag :div do %>
            <ul class="breadcrumb">
              <%= yield(:breadcrumbs_section) %>
            </ul>
          <% end if content_for?(:breadcrumbs_section) %>
  	  	  <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}", class: "alert #{what_alert(name)}" %>
          <% end %>
        </div>
      </div>
      <div class="main-yield">
        <% if user_signed_in? %>
          <%= content_for?(:content) ? yield(:content) : yield %>
        <% else %>
          <div class="row">
            <div class="span12" style="margin-top:30px;">
              <h2>
                BABylo-tec
                <small>
                  Bibliotheken und Archive Babylons: texts in an e-based content
                </small>
              </h2>
              <%= content_tag :ul, class: 'nav nav-pills' do %>
                <li><%= link_to 'Home', root_path %></li>
                <%= content_tag :li, class: "#{controller_name == 'sessions' ? 'active' : ''}" do %>
                  <%= link_to 'Sign in', new_session_path(:user), title: 'Sign in', id: 'sign-in-link' %>
                <% end %>
                <%= content_tag :li, class: "#{controller_name == 'registrations' ? 'active' : ''}" do %>
                  <%= link_to "Register", new_registration_path(:user), title: 'Sign up', id: 'register-link' %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row" style="margin-top:20px;">
            <div class="span12">
              <% if controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords' %>
                <%= content_for?(:content) ? yield(:content) : yield %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>  
      

    <%= content_tag :div, class: 'babylo-tec-footer' do %>
    <!-- Footer section -->
    <footer>
      
      <!-- Menu Footer -->
      
      <div class="babylo-tec-footer-top">
        <div class="container">
          <div class="row-fluid">  
         
            <div class="span3 option-block">
              <span class=​"title">Research</span>​<i class="icon-globe"></i>
              <ul class="nav nav-pills nav-stacked">
                <li><%= link_to "Modules", clusters_path %></li>
                <li><%= link_to "News", snippets_path %></li>
                <li><%= link_to "Blog", '' %></li>
              </ul>
            </div>
            
            <div class="span3 option-block">
              <span class=​"title">Explore</span>​<i class="icon-search"></i>
              <ul class="nav nav-pills nav-stacked">
                <li><%= link_to "People", people_path %></li>
                <li><%= link_to "Institutions", institutions_path %></li>
              </ul>
            </div>

            <div class="span3 option-block">
              <span class=​"title">​Resources</span>​<i class="icon-file"></i>
              <ul class="nav nav-pills nav-stacked">
                <li><%= link_to "Items", items_path %></li>
                <li><%= link_to "Bibliography", references_path %></li>
                <%= content_tag :li, link_to("Uploaded files", assets_path) if can? :read, 'Assets' %>
                <%= content_tag :li, link_to("Documents", documents_path) if can? :read, 'Documents' %>
              </ul>
            </div>
          
            <div class="span3 option-block-last">
              <span class=​"title">BABylo-tec</span>​<i class="icon-leaf"></i>
              <ul class="nav nav-pills nav-stacked">
                <li><%= link_to "Search" %></li>
                <li><%= link_to "Help" %></li>
                <li><%= link_to "Sitemap" %></li>
                <li><%= link_to "API" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
  
      <!-- Footer About -->
  
      <div class="babylo-tec-footer-bottom">
        <div class="container">
          <div class="row">
            <div class="span12 app-text-links">            
              <ul class="babylo-tec-links inline">
                <li><%= link_to "BABylo-tec", root_url, class: "babylo-tec-logo" %></li>
                <li class="upper"><%= link_to "Help" %></li>
                <li class="upper"><%= link_to "API" %></li>
                <li class="upper"><%= link_to "Sitemap" %></li>
              </ul>
              <p class="sentence">&copy; 2014 BABylo-tec. All rights reserved. Developed by <%= link_to 'Tobias Schmidt', "https://github.com/toboter" %>. Source code available on <%= link_to 'Github', "https://github.com/toboter/babylon" %>.</p>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <div class="row logos">
                <%= link_to image_tag("spk-logo.png"), "http://www.preussischer-kulturbesitz.de", class: "span1" %>
                <%= link_to image_tag("dog-logo.png"), "http://www.deutsche-orientgesellschaft.de", class: "span2" %>
                <%= link_to image_tag("FULogo-3.svg"), "http://www.fu-berlin.de", class: "span3" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <% end if user_signed_in? %>

    <!-- Modals beginn -->
    <% if user_signed_in?   %>
      <% if !current_user.person && (can? :edit, 'Profile') %>
        <div id="connect_profile_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Connect your account to an existing profile</h3>
          </div>
          <%= form_tag user_connect_path, :class => "custom" do %>
            <div class="modal-body" style="height:300px;">
              <%= select_tag :person_id, options_from_collection_for_select(Person.unconnected, "id", "name_with_profession"), :prompt => 'Choose a person', class: "input-block-level", :id => "person-connect-select" %>
              <%= hidden_field_tag :connect_user_id, current_user.id %>
            </div>
            <div class="modal-footer">
              <%= submit_tag "Connect", class: "btn btn-primary pull-left" %>
              <a href="#" class="btn pull-left" data-dismiss="modal">Close</a>
              <span class="pull-left" style="padding:5px 0 0 10px;">Not on the list? <%= link_to "Create a new profile", new_person_path(:user_id => current_user, :alias => current_user.username) %></span>
            </div>
          <% end %>
        </div>
      <% end %>   
      
    <% end %>

  </body>
</html>
