<% content_for :content do %>
  <header>
    <%= content_tag :div, class: 'navbar navbar-fixed-top' do %>
      <%= render 'shared/navbar' %>
    <% end %>
  </header>

  <div class="container">

	  <%= render "shared/debug" %>    
	  <%= render "shared/breadcrumbs" %>
	  <%= render "shared/flash" %>

    <div class="row">
      <div class="span12">
        <%= content_tag :h1, yield(:title), class: 'pagetop' if show_title? %>
        <%= content_tag :h2, yield(:subtitle), class: 'subtitle' if show_title? %>
  	  </div>
    </div>
  
    <%= yield(:top_over) %>
    <%= yield(:main_section) %>
    <%= yield(:footer_section) %>
    
  </div>
  <%= render "shared/site_footer" %>

<% end %>

<%= render :template => 'layouts/application' %>