<% content_for :content do %>
<div id="wrap">
  <header>
    <%= content_tag :div, class: 'navbar navbar-inverse navbar-fixed-top' do %>
      <%= render 'shared/navbar' %>
    <% end %>
  </header>

  <div class="container-fluid" style="margin-bottom:50px;">
    <%= content_tag :div, class: "row-fluid" do %>
      <div class="span12">
        <%= content_tag :div, class: "title-bar" do %>
          <%= content_tag :h1, class: 'pagetop' do %>
            <%= yield(:title) %>
            <%= yield(:edit_section) %>
          <% end if show_title? %>
          <%= content_tag :h2, class: 'subtitle' do %>
            <%= yield(:subtitle) %>
          <% end if show_title? %>
          <%= render "shared/breadcrumbs" %>
        <% end %>
        <%= render "shared/flash", flash: flash %>
  	  </div>
    <% end %>
    
    <%= render "shared/debug" %>
  
    <%= yield(:top_over) %>
    <%= yield(:main_section) %>
    <%= yield(:footer_section) %>

  </div>
  <div id="push"></div>
</div>
<%= render "shared/site_footer" %>


<% end %>

<%= render :template => 'layouts/application' %>