<% content_for :content do %>
  <div class="row">
    <div class="span12">
      <%= content_tag :h1, yield(:title), class: 'pagetop' if show_title? %>
      <%= content_tag :h2, yield(:subtitle), class: 'subtitle' if show_title? %>
  	</div>
  </div>

  <%= yield(:top_over) %>

  <div class="row">
    <%= yield(:main_section) %>
  </div>

  <div class="row">
    <%= yield(:footer_section) %>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>