<% content_for :content do %>
  <div class="row">
  	<div class="large-12 columns" style="margin-bottom:20px;">
  	  <%= yield(:breadcrumbs_section) %>
  	</div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <%= content_tag :h2, yield(:title) if show_title? %>
      <%= content_tag :h4, yield(:subtitle), :class => "subheader" if show_title? %>
  	</div>
  	<div class="large-4 columns">
  	  <%= yield(:link_section) %>
  	</div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= yield(:note_section) %>
    </div>
    <div class="large-8 columns">
      <%= yield(:main_section) %>
    </div>      
  </div>
<% end %>

<%= render :template => 'layouts/application' %>