<% content_for :content do %>
  <div class="row">
  	<div class="large-12 columns" style="margin-bottom:20px;">
  	    <%= yield(:breadcrumbs_section) %>
  	</div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <%= content_tag :small, yield(:edit_section) %>
      <%= content_tag :h3, yield(:title), style: "margin-top:10px;" if show_title? %>
      <%= content_tag :h4, yield(:subtitle), :class => "subheader" if show_title? %>
  	</div>
  	<div class="large-4 columns">
  	  <%= yield(:link_section) %>
  	</div>
  </div>

  <div class="row">
    <%= yield(:main_section) %>     
  </div>

  <div class="row" style="margin-top:70px;">
    <%= yield(:footer_section) %>
  </div>


  <div class="row">
  <%= yield(:note_section) %>
</div>

<% end %>

<%= render :template => 'layouts/application' %>