<% content_for :content do %>
  <div class="row">
    <div class="span12">
      <%= content_tag :small, yield(:edit_section) %>
      <%= content_tag :h3, yield(:title), style: "margin-top:10px;" if show_title? %>
      <%= content_tag :h4, yield(:subtitle), :class => "subtitle" if show_title? %>
  	</div>
  </div>

  <div class="row">
    <%= yield(:main_section) %>     
  </div>

  <div class="row" style="margin-top:70px;">
    <%= yield(:footer_section) %>
  </div>

<% end %>

<%= render :template => 'layouts/application' %>