<% content_for :content do %>
  <div class="row">
    <div class="span12">
      <%= content_tag :h1, class: 'pagetop' do %>
        <%= yield(:title) %>
      <% end if show_title? %>
      <%= content_tag :h2, class: 'subtitle' do %>
        <%= yield(:subtitle) %>
        <%= yield(:edit_section) %>
      <% end if show_title? %>
  	</div>
  </div>

  <%= yield(:top_over) %>
  
  <div class="row">
  	<div class="span8">
      <%= yield(:main_section) %>
    </div>
    <div class="span4">
      <%= yield(:publishing_section) %>
      <%= yield(:sidebar_section) %>
    </div>  
  </div>

  <div class="row">
    <%= yield(:footer_section) %>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>